.bloque5.crmWebToEntityForm#crmWebToEntityForm
    meta(http-equiv="content-type" content="text/html;charset=UTF-8")
    style.
        .oculto {
            display: none;
        }
    .bloque5ImageDesktop 
    form.bloque5Container(id="webform6093725000001039003" action="https://crmsandbox.zoho.com/crm/WebToLeadForm" name="WebToLeads3503766000678594001" method="POST" onSubmit='javascript:document.charset="UTF-8"' accept-charset="UTF-8") 
        input(type='text' style='display: none' name='xnQsjsdp' value='dca2765a5d03016cc1ad249409ff360c153a5fb0aaecfb26c1b12a317d835ec6')
        input#zc_gad(type='hidden' name='zc_gad' value='')
        input(type='text' style='display: none' name='xmIwtLD' value='3b29c2ff618317f97dd6fe14c66f4b58b836008d814bab6189b926723e3d6c43e37730ae448c9ec137dd562bea4e913d')
        input(type='text' style='display: none' name='actionType' value='TGVhZHM=')
        input(type="text" style="display:none;" name="returnURL" value="https://blogs.cayetano.edu.pe/")
        h3 Déjanos tus datos y nos contactaremos contigo
        h3.bloque5ContainerTextDesktop Déjanos tus datos y 
            br
            | nos contactaremos contigo
        .bloque5ContainerInput
            .bloque5ContainerInputGroup
                input(class="input__item requerido" id="First_Name" type="text" name="First Name" maxlength="40" placeholder="Nombres*" required)
                input(class="input__item requerido" id="Last_Name" type="text" name="Last Name" maxlength="40" placeholder="Apellidos*" required)
            .bloque5ContainerInputGroup
                select#LEADCF20.requerido.input__item(name='LEADCF20' required)
                    option(value='' disabled='' selected='') DNI/CE
                    option(value='DNI') DNI
                    option(value='Pasaporte') Pasaporte
                    option(value='CarnédeExtranjería') Carnet de Extranjeria
                input#LEADCF21.requerido.input__item(type='text' name='LEADCF21' maxlength='25' placeholder='N°' required)
            .bloque5ContainerInputGroup
                input#Mobile.requerido.input__item(type='text' placeholder='Celular*' name='Mobile' maxlength='9' pattern='9[0-9]{8}' required)
                input#Email.requerido.input__item(type='text' name='Email' ftype='email' maxlength='40' placeholder='Correo electrónico*' required)
            //- .bloque5ContainerInputGroupSelect
            //-     input(type="text" placeholder="Seleccionar programa")
            select#LEADCF220.requerido(name='LEADCF302' required='')
                option(value='' disabled='' selected='') - Seleccionar carrera -
                option(value='ADMINISTRACION') Administraci&oacute;n
                option(value='ADMINISTRACION EN SALUD') Administraci&oacute;n en Salud
                option(value='BIOLOGIA') Biolog&iacute;a
                option(value='EDUCACIÓN CON MENCIÓN PRIMARIA - PRESENCIAL') Educaci&oacute;n
                option(value='ENFERMERIA') Enfermer&iacute;a
                option(value='ESTOMATOLOGIA') Estomatolog&iacute;a
                option(value='FARMACIA Y BIOQUIMICA') Farmacia y Bioquimica
                option(value='INGENIERIA AMBIENTAL') Ingenier&iacute;a Ambiental
                option(value='INGENIERIA BIOMEDICA') Ingenier&iacute;a Biom&eacute;dica
                option(value='INGENIERÍA INDUSTRIAL') Ingenier&iacute;a Industrial
                option(value='INGENIERÍA INFORMÁTICA') Ingenier&iacute;a Inform&aacute;tica
                option(value='LABORATORIO CLINICO') Laboratorio Cl&iacute;nico y Anatom&iacute;a Patol&oacute;gica
                option(value='MEDICINA') Medicina
                option(value='MEDICINA VETERINARIA Y ZOOTECNIA') Medicina Veterinaria y Zootecnia
                option(value='NUTRICION') Nutrici&oacute;n
                option(value='PSICOLOGIA') Psicolog&iacute;a
                option(value='RADIOLOGIA') Radiolog&iacute;a
                option(value='TERAPIA FISICA Y REHABILITACION') Terapia F&iacute;sica y Rehabilitaci&oacute;n
                option(value='TERAPIA OCUPACIONAL') Terapia Ocupacional
                option(value='TERAPIA DE AUDICION, VOZ Y LENGUAJE') Terapia de Audici&oacute;n, Voz y Lenguaje
        .bloque5ContainerTerminos
            input(type="checkbox" required)
            h4 Acepto la Política de Privacidad y Proteccipon de Datos Personales.
        .oculto
            <input class="UTM" id="utm_source" name="LEADCF183" value="blog"> <!-- utm_source -->
            <input class="UTM" id="utm_medium" name="LEADCF189" value="organic"> <!-- utm_medium-->
            <input class="UTM" id="utm_campaign" name="LEADCF24" value="pregrado-aon"> <!-- utm_campaign-->
            <input class="UTM" id="utm_id" name="LEADCF203" value=""> <!-- utm_ID-->
            <input class="UTM" id="utm_term" name="LEADCF184" value="generico"> <!-- utm-term-->
            <input class="UTM" id="utm_content" name="LEADCF182" value="formulario"> <!-- utm_content-->
            <input class="" id="reference" name="LEADCF168" value=""> <!-- reference-->
            <input class="" id="LEADCF185" name="LEADCF185" value="PREGRADO" /> <!-- marca -->
            <input class="" name="Lead Status" value="Sin gestión" /> <!-- lead status -->
            <input class="" name="LEADCF1" value="Automáticos" /> <!-- tipo_origen -->
            <input class="" name="LEADCF198" value="Postulante" /> <!-- parentezco -->
            <input class="" name="Lead Source" value="Landing Page" /> <!-- fuente_lead -->
            <input class="" id="LEADCF22" name="LEADCF22" value="" /> <!-- comentario -->
            <input class="" id="LEADCF194" name="LEADCF194" value="" /> <!-- horario_disponible --> 
            <input class="" id="LEADCF10" name="LEADCF10" value="2025-1"> <!-- periodo -->
        .bloque5Button
            button
                h3 Enviar
                img.keyframe-button-movement(loading="lazy" src="https://blogs.cayetano.edu.pe/img/arrow-black-button.webp", alt="")
        script.
            function getUTMParams() {
                var params = {};
                var queryString = window.location.search;
                queryString = queryString.substr(1);
                var pairs = queryString.split("&");
                for (var i = 0; i < pairs.length; i++) {
                    var pair = pairs[i].split("=");
                    params[pair[0]] = pair[1];
                }
                return params;
            }
            
            var utmParams = getUTMParams();
            var utmSource = utmParams["utm_source"];
            var utmMedium = utmParams["utm_medium"];
            var utmCampaign = utmParams["utm_campaign"];
            var utmTerm = utmParams["utm_term"];
            var utmContent = utmParams["utm_content"];
            var utmId = utmParams["utm_id"];

            let source = document.getElementById('utm_source');
            let medium = document.getElementById('utm_medium');
            let campaign = document.getElementById('utm_campaign');
            let term = document.getElementById('utm_term');
            let content = document.getElementById('utm_content');
            let utm_id = document.getElementById('utm_id');

            if (utmSource) {
                source.value = utmSource;
            } else {
                source.value = "blog";
            }
            if (utmId) {
                utm_id.value = utmId;
            } else {
                utm_id.value = "";
            }
            if (utmMedium) {
                medium.value = utmMedium;
            } else {
                medium.value = "organic";
            }
            if (utmCampaign) {
                campaign.value = utmCampaign;
            } else {
                campaign.value = "pregrado-aon";
            }
            if (utmTerm) {
                term.value = utmTerm;
            } else {
                term.value = "generico";
            }
            if (utmContent) {
                content.value = utmContent;
            } else {
                content.value = "formulario";
            }
            window.addEventListener("load", function () {
            const tiposDocumento = {
                DNI: {
                    maxLength: 8,
                    value: "",
                    pattern: "[0-9]{8}",
                    placeholder: "Ingresa numero de DNI",
                    title: "Debe contener 8 números",
                },
                CarnédeExtranjería: {
                    minLength: 5,
                    maxLength: 20,
                    value: "",
                    pattern: "[0-9]{1,20}",
                    placeholder: "Ingresa numero de Carnet",
                    title: "Solo números hasta 20 digitos como maximo",
                },
                Pasaporte: {
                    minLength: 6,
                    maxLength: 20,
                    value: "",
                    pattern: "[0-9]{1,20}",
                    placeholder: "Ingresa numero de Pasaporte",
                    title: "Solo números hasta 20 digitos como maximo",
                },
            };
            let tipoDocumento = document.getElementById('LEADCF20');
            let numeroDocumento = document.getElementById('LEADCF21');
            tipoDocumento.addEventListener('change', function () {
                const tipo = this.value;
                if (tipo in tiposDocumento) {
                    const datosDocumento = tiposDocumento[tipo];
                    numeroDocumento.setAttribute('minlength', datosDocumento.minLength);
                    numeroDocumento.setAttribute('maxlength', datosDocumento.maxLength);
                    numeroDocumento.setAttribute('pattern', datosDocumento.pattern);
                    numeroDocumento.value = "";
                    numeroDocumento.setAttribute('value', datosDocumento.value);
                    numeroDocumento.setAttribute('placeholder', datosDocumento.placeholder);
                    numeroDocumento.setAttribute('title', datosDocumento.title);
                } else {
                    numeroDocumento.removeAttribute('minlength');
                    numeroDocumento.removeAttribute('maxlength');
                    numeroDocumento.removeAttribute('pattern');
                    numeroDocumento.removeAttribute('placeholder');
                    numeroDocumento.removeAttribute('title');
                }
            });
            })
        <script src="https://upch.sis-service-tivenos.com/formulario_global/formulario_general_min.js"></script>
        <script id='wf_anal' src='https://crm.zohopublic.com/crm/WebFormAnalyticsServeServlet?rid=0437d1c573ea9551a6f78fecc75ed055b133d8637c177b8a930789ad34d2a8bfef7546cab2b29a294f78be18933a2358gid144c28dbf479caf4a652b4f2dd53fb61d7dd73ce678f540722674f734ca738b3gidf7258617d9ad292e18817da2738bf8d68d0f8283158afb13ff49649786a97d5egidc810aa67d5387b528f6ea9ce8821a5817278f4c9c284b8c15ca440a2904cd61e&amp;tw=dd956dad13176aee758bad58a08496c10165e0e8527fe8a62da2a32461edd34c'></script>
        <iframe name="captchaFrame" style="display:none;"></iframe>