@use 'base/variables' as v;
@use 'base/mixins' as m;

:root {
    --width-form: 35rem;
    --width-form-1020: 55rem;
    --width-form-1200: 65rem;
}

.bloque5 {
    // background-color: red;
    height: auto;
    display: flex;
    justify-content: center;
    @include m.tablet_768 {
        justify-content: space-between;
        position: block;
    }
}

.bloque5ImageDesktop {
    display: none;
    background-image: url('https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/crm-image-desktop-1.webp') !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 43%;
    @include m.tablet_768 {
        display: block;
    }
    @include m.desktop_1020 {
        width: 50rem;
    }
    @include m.desktop_1200 {
        width: 67rem;
        min-height: 55rem;
    }
    @include m.desktop_1400 {
        width: 78rem;
        min-height: 65rem;
    }
}

// .swiper-slide2 {
//     background-image: url('../img/top-mobile-pregrado.webp') !important;
//     background-size: cover;
//     background-position: center;
//     background-repeat: no-repeat;
// }

.bloque5Container {
    width: 28rem;
    // background-color: purple;
    height: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 4rem 0;
    row-gap: 1rem;
    @include m.tablet_768 {
        width: 57%;
        align-items: center;
        padding: 6rem 0;
        justify-content: center;
    }
    @include m.desktop_1020 {
        width: 100%;
    }
    @include m.desktop_1200 {
        row-gap: 2rem;
    }
    h3 {
        color: black;
        margin: 0;
        font-size: 1.8rem;
        font-weight: 500;
        text-align: center;
        @include m.tablet_768 {
            width: var(--width-form);
            display: none;
        }
        @include m.desktop_1200 {
            width: var(--width-form-1200);
        }
    }
    .bloque5ContainerTextDesktop {
        display: none;
        @include m.tablet_768 {
            display: block;
            font-size: 2rem;
        }
        @include m.desktop_1020 {
            width: var(--width-form-1020);
        }
        @include m.desktop_1200 {
            font-size: 2.5rem;
            width: var(--width-form-1200);
        }
        @include m.desktop_1400 {
            font-size: 3rem;
        }
    }
}

.bloque5ContainerInput {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    // background-color: red;
    @include m.tablet_768 {
        width: var(--width-form);
    }
    @include m.desktop_1020 {
        width: var(--width-form-1020);
        row-gap: 2rem;
    }
    @include m.desktop_1200 {
        width: var(--width-form-1200);
    }
    .bloque5ContainerInputGroupSelect,
    .bloque5ContainerInputGroup {
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        @include m.tablet_768 {
            flex-direction: row;
            column-gap: 1rem;
        }
        @include m.desktop_1200 {
            column-gap: 2rem;
        }
        input, select {
            width: 100%;
            @include m.desktop_1200 {
                font-size: 1.5rem;
            }
        }
    }
    input, select { 
        height: 3.3rem;
        outline: none;
        border: 1px solid black;
        background-color: transparent;
        border-radius: 1rem;
        padding-left: 1rem;
        @include m.desktop_1200 {
            height: 4.3rem;
        }
        &::placeholder {
            color: black;
            font-size: 1.2rem;
            @include m.desktop_1200 {
                font-size: 1.5rem;
            }
        }
    }
    select {
        @include m.desktop_1200 {
            font-size: 1.5rem;
        }
    }
}

.bloque5ContainerTerminos,
.bloque5ContainerAcepto {
    display: flex;
    column-gap: 1rem;
    justify-content: center;
    @include m.tablet_768 {
        width: var(--width-form);
    }
    @include m.desktop_1020 {
        width: var(--width-form-1020);
    }
    h4 {
        margin: 0;
        font-weight: 500;
        display: flex;
        align-items: center;
        font-size: 1.3rem;
        @include m.desktop_1020 {
            font-size: 1.5rem;
        }
    }
}

.bloque5Button {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    button {
        background-color: black;
        border: none;
        border-radius: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 13rem;
        column-gap: 1rem;
        height: 3.5rem;
        @include m.desktop_1200 {
            height: 4.5rem;
            width: 15rem;
        }
        h3 {
            display: block;
            color: white;
            font-size: 1.7rem;
            margin: 0;
            width: auto;
            @include m.desktop_1200 {
                font-size: 2rem !important;
            }
        }
        img {
            width: 3rem;
            filter: brightness(0) saturate(100%) invert(100%) sepia(3%) saturate(430%) hue-rotate(183deg) brightness(118%) contrast(100%);
        }
    }
} 