.newsletterWhitespace
.newsletterContent
    .newsletterImage
        img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/tano-newletter.gif", alt="")
    .newsletterInfo
        h3 Conéctate con tu 
            span futuro en Cayetano
        p Recibe información sobre nuestros programas, consejos de orientación vocacional, beneficios y mucho más para ayudarte a decidir el camino que mejor se alinea con tus metas. 
        input(type="text" placeholder="Tu correo electrónico...")
        .newsletterInfoTerminos
            input(type="checkbox")
            h3 He leído y acepto la política de privacidad de Cayetano.
        button
            h3 Suscribirme
            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")