.bloque2Slider
    .slider__container5.swiper.mySwiper5
        .slider__grid5.swiper-wrapper
            .slider__item5.swiper-slide
                .sliderItemInfo5
                    .sliderItemInfo5Image
                        img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/image-nota-7.webp", alt="")
                    .sliderItemInfo5Info
                        .bloque4ItemContentCalendar
                            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/calendar-icon-whit.webp", alt="")
                            h3 18
                            h3 |
                            h3 12
                        h3(onclick="window.location.replace('https://blogs.cayetano.edu.pe/pregrado/que-estudia-biologia')") ¿Qué estudia la biología?: ramas, historia e importancia
                        p Al descubrir qué estudia la biología, sabrás si esta carrera es para ti. Conoce su definición, ramas, historia e importancia.
                        img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
            .slider__item5.swiper-slide
                .sliderItemInfo5
                    .sliderItemInfo5Image
                        img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/image-nota-13.webp", alt="")
                    .sliderItemInfo5Info
                        .bloque4ItemContentCalendar
                            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/calendar-icon-whit.webp", alt="")
                            h3 19
                            h3 |
                            h3 12
                        h3(onclick="window.location.replace('https://blogs.cayetano.edu.pe/pregrado/malla-curricular-ingenieria-industrial')")  Malla curricular de ingeniería industrial y su campo laboral
                        p La malla curricular de Ingeniería Industrial te permite especializarte en diversas áreas, siendo una de las carreras más demandadas del mercado laboral.
                        img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
            .slider__item5.swiper-slide
                .sliderItemInfo5
                    .sliderItemInfo5Image
                        img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/image-nota-18.webp", alt="")
                    .sliderItemInfo5Info
                        .bloque4ItemContentCalendar
                            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/calendar-icon-whit.webp", alt="")
                            h3 19
                            h3 |
                            h3 12
                        h3(onclick="window.location.replace('https://blogs.cayetano.edu.pe/pregrado/que-es-tercio-superior')") ¿Dónde estudiar la carrera de psicología en Perú?
                        p Elegir dónde estudiar la carrera de psicología es una decisión crucial, ya que será el primer paso en tu camino profesional. 
                        img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
            .slider__item5.swiper-slide
                .sliderItemInfo5
                    .sliderItemInfo5Image
                        img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/image-nota-23.webp", alt="")
                    .sliderItemInfo5Info
                        .bloque4ItemContentCalendar
                            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/calendar-icon-whit.webp", alt="")
                            h3 04
                            h3 |
                            h3 10
                        h3(onclick="window.location.replace('https://blogs.cayetano.edu.pe/pregrado/donde-estudiar-enfermeria')") ¿Dónde estudiar enfermería en Perú?
                        p Descubre dónde estudiar la carrera de enfermería en Perú teniendo en cuenta aspectos importantes para tomar la mejor decisión.
                        img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")