doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv='Expires' content='0')
        meta(http-equiv='Last-Modified' content='0')
        meta(http-equiv='Cache-Control' content='no-cache, mustrevalidate')
        meta(http-equiv='Pragma' content='no-cache')
        title Blog Cayetano Heredia - Universidad TOP 1 del Perú
        link(rel="stylesheet", href="./css/app.css")
        link(rel="stylesheet", href="https://unpkg.com/swiper/swiper-bundle.min.css" defer='')
        //- script(src='https://www.google.com/recaptcha/api.js' defer='')
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel="icon" type="image/x-icon" href="favicon.png")
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap' rel='preconnect' defer='')
        <meta name="description" content="Descubre todo sobre los programas académicos de Cayetano Heredia: pregrado, carreras para gente que trabaja y especialidades. ¡Elige la excelencia!">
    body
        include includes/menu/menuMobile.pug
        //- .manuInner
        //-     .manuInnerContainer
        //-         .manuInnerHeader
        //-             img(loading="lazy" src="https://blogs.cayetano.edu.pe/img/logo-1.webp", alt="", onclick="window.open('https://blogs.cayetano.edu.pe/', '_self')")
        //-             h3.manuInnerClose X
        //-         .manuInnerInfo
        //-             include includes/search/searchMobile.pug
        //-             .manuInnerInfoContent
        //-                 h3(onclick="window.open('https://blogs.cayetano.edu.pe/', '_self')").manuInnerInfoContentBottom Blog Cayetano
        //-                 h3(onclick="window.open('https://blogs.cayetano.edu.pe/pregrado', '_self')").manuInnerInfoContentBottom Blog Pregrado
        //-                 h3.manuInnerInfoContentBottom Blog PGE
        //-                 h3 Blog Especialidades
        //-     .manuInnerFooter
        //-         .manuInnerFooterContainer
        //-             h3 Quiero ser de Cayetano
        //-             img.keyframe-button-movement(loading="lazy" src="https://blogs.cayetano.edu.pe/img/arrow-black-button.webp", alt="")
        .bloque1
            //- .bloque1DesktopImage
            //-     img(loading="lazy" src="img/shield-desktop-home.webp", alt="")
            .bloque1Container
                .bloque1Float
                    img.bloque1FloatLeft(loading="lazy" src="https://blogs.cayetano.edu.pe/img/shield-mobile-image1.webp", alt="")
                    img.bloque1FloatLeftDesktop(loading="lazy" src="https://blogs.cayetano.edu.pe/img/shield-desktop-scaled.webp", alt="")
                    //- img.bloque1FloatRight(src="img/shield-home-mobile-image2.webp", alt="")
                .bloque1Logos
                    img.blog-logo(loading="lazy" src="https://blogs.cayetano.edu.pe/img/logo-1.webp", alt="", onclick="window.open('https://blogs.cayetano.edu.pe/')")
                    .bloque1LogosSelect
                        h3(onclick="window.open('https://blogs.cayetano.edu.pe/')").dropdown-btn Blog Cayetano
                        ul.dropdown-menu
                            li: a(href="https://blogs.cayetano.edu.pe/pregrado") Pregrado
                            li: a(href="#") Pge  
                            li: a(href="#") Especialidades
                    include includes/search/searchDesktop.pug
                    img.top-icon-mobile(loading="lazy" src="https://blogs.cayetano.edu.pe/img/icon-menu2.webp", alt="")
                    button(onclick="window.open('https://lp.cayetano.edu.pe/admision-cayetano/?utm_campaign=pregrado-aon&utm_term=generico&utm_source=blog&utm_medium=organic&utm_content=botonpostula', '_self')")  
                        h3 Quiero ser de Cayetano
                        img.keyframe-button-movement(src="https://blogs.cayetano.edu.pe/img/arrow-black-button.webp", alt="")
                .bloque1Title
                    h3 Blog Cayetano
                    p ¿Quieres una educación de excelencia? Descubre todo sobre nuestras carreras universitarias, carreras para gente que trabaja, segundas especialidades y mucho más.
                .bloque1Slider
                    .slider__container2.swiper.mySwiper2
                        .slider__grid2.swiper-wrapper
                            .slider__item2.swiper-slide
                                .sliderItemInfo2.swiper-slide1
                                    img.sliderItemInfo2Image(loading="lazy" src="https://blogs.cayetano.edu.pe/img/blog-nota1-450x450-1.webp", alt="")
                                    img.sliderItemInfo2ImageDesktop(loading="lazy" src="https://blogs.cayetano.edu.pe/img/blog-cayetano-portada-1.webp", alt="")
                                    h3.sliderItemInfo2Title Carreras de Cayetano Heredia: 20 programas de excelencia
                                    .sliderItemCalendar
                                        img(loading="lazy" src="https://blogs.cayetano.edu.pe/img/calendar-icon-whit.webp", alt="")
                                        h3 17
                                        h3 |
                                        h3 12
                                    button(onclick="window.open('https://blogs.cayetano.edu.pe/pregrado/cayetano-heredia-carreras', '_self')")
                                        h3 Lee más
                                        img.keyframe-button-movement(loading="lazy" src="https://blogs.cayetano.edu.pe/img/arrow-black-button.webp", alt="")
                            .slider__item2.swiper-slide
                                .sliderItemInfo2
                                    img.sliderItemInfo2Image(loading="lazy" src="https://blogs.cayetano.edu.pe/img/blog-cayetano-portada-2.webp", alt="")
                                    img.sliderItemInfo2ImageDesktop(loading="lazy" src="https://blogs.cayetano.edu.pe/img/blog-cayetano-portada-2.webp", alt="")
                                    h3.sliderItemInfo2Title ¿Qué estudia la medicina veterinaria?
                                    .sliderItemCalendar
                                        img(loading="lazy" src="https://blogs.cayetano.edu.pe/img/calendar-icon-whit.webp", alt="")
                                        h3 17
                                        h3 |
                                        h3 12
                                    button(onclick="window.open('https://blogs.cayetano.edu.pe/pregrado/que-estudia-medicina-veterinaria', '_self')")
                                        h3 Lee más
                                        img.keyframe-button-movement(loading="lazy" src="https://blogs.cayetano.edu.pe/img/arrow-black-button.webp", alt="")
                            .slider__item2.swiper-slide
                                .sliderItemInfo2
                                    img.sliderItemInfo2Image(loading="lazy" src="https://blogs.cayetano.edu.pe/img/blog-cayetano-portada-3.webp", alt="")
                                    img.sliderItemInfo2ImageDesktop(loading="lazy" src="https://blogs.cayetano.edu.pe/img/blog-cayetano-portada-3.webp", alt="")
                                    h3.sliderItemInfo2Title Examen de Admisión de Cayetano Heredia: sigue estos pasos
                                    .sliderItemCalendar
                                        img(loading="lazy" src="https://blogs.cayetano.edu.pe/img/calendar-icon-whit.webp", alt="")
                                        h3 17
                                        h3 |
                                        h3 12
                                    button(onclick="window.open('https://blogs.cayetano.edu.pe/pregrado/examen-admision-cayetano-heredia', '_self')")
                                        h3 Lee más
                                        img.keyframe-button-movement(loading="lazy" src="https://blogs.cayetano.edu.pe/img/arrow-black-button.webp", alt="")
                    .swiper-pagination2
                    .swiper-button-prev2 
                        img(loading="lazy" src="https://blogs.cayetano.edu.pe/img/arrow-black-left.webp", alt="")
                    .swiper-button-next2
                        img(loading="lazy" src="https://blogs.cayetano.edu.pe/img/arrow-black-right.webp", alt="")
                .bloque1Select
                    h3(onclick="window.open('https://blogs.cayetano.edu.pe/pregrado/', '_self')") Pregrado
                    h3.selectDisabled PGE
                    h3.selectDisabled Especialidades
        .bloque2
            .bloque2Container
                .bloque2Title
                    h3 Notas destacadas 
                .bloque2Slider
                    .slider__container3.swiper.mySwiper3
                        .slider__grid3.swiper-wrapper
                            .slider__item3.swiper-slide
                                .sliderItemInfo3.swiper-slide1
                                    img.sliderItemInfo3Image(loading="lazy" src="https://blogs.cayetano.edu.pe/img/blog-cayetano-dest-1.webp", alt="")
                                    .sliderItemInfo3Calendar
                                        img(loading="lazy" src="https://blogs.cayetano.edu.pe/img/calendar-icon-whit.webp", alt="")
                                        h3 17
                                        h3 |
                                        h3 12
                                    .sliderItemInfo3Info(onclick="window.open('https://blogs.cayetano.edu.pe/pregrado/en-que-consiste-carrera-psicologia', '_self')")
                                        img(class="keyframe-button-movement" loading="lazy" src="https://blogs.cayetano.edu.pe/img/arrow-black-button.webp", alt="")
                                        h3 ¿En qué consiste la carrera de psicología y cuánto dura?
                            .slider__item3.swiper-slide
                                .sliderItemInfo3
                                    img.sliderItemInfo3Image(loading="lazy" src="https://blogs.cayetano.edu.pe/img/blog-cayetano-dest-2.webp", alt="")
                                    .sliderItemInfo3Calendar
                                        img(loading="lazy" src="https://blogs.cayetano.edu.pe/img/calendar-icon-whit.webp", alt="")
                                        h3 17
                                        h3 |
                                        h3 12
                                    .sliderItemInfo3Info(onclick="window.open('https://blogs.cayetano.edu.pe/pregrado/de-que-trata-ingenieria-industrial', '_self')")
                                        img(class="keyframe-button-movement" loading="lazy" src="https://blogs.cayetano.edu.pe/img/arrow-black-button.webp", alt="")
                                        h3 ¿De qué trata la carrera de ingeniería industrial y por qué elegirla? 
                    .bloque2Banner.bloque2BannerDesktop
                        h3 Síguenos en nuestras 
                            br
                            | redes sociales
                        .bloque2RedesSociales
                            img(loading="lazy" src="https://blogs.cayetano.edu.pe/img/icon-wp.webp", alt="", onclick="window.open('https://wa.link/zxivvn', '_self')")
                            img(loading="lazy" src="https://blogs.cayetano.edu.pe/img/icon-fb.webp", alt="", onclick="window.open('https://www.facebook.com/SoyCayetano.Pe', '_self')")
                            img(loading="lazy" src="https://blogs.cayetano.edu.pe/img/icon-tt-scaled.webp", alt="", onclick="window.open('https://tiktok.com/@soycayetano.pe', '_self')")
                        img.bloque2BannerDesktopImage(loading="lazy" src="https://blogs.cayetano.edu.pe/img/gif-redes-nuevo-este.gif", alt="")
                        .bloque2BannerContent
                            .bloque2BannerContentItem
                            .bloque2BannerContentItem
                            .bloque2BannerContentItem
        .bloque3
            .bloque3Container
                .bloque3Title
                    h3 Notas recientes
                .bloque3Slider
                    .slider__container4.swiper.mySwiper4
                        .slider__grid4.swiper-wrapper
                            .slider__item4.swiper-slide
                                .sliderItemInfo4
                                    .sliderItemInfo4Item
                                        .sliderItemInfo4ItemInfo(onclick="window.open('https://blogs.cayetano.edu.pe/pregrado/malla-curricular-ingenieria-industrial', '_self')")
                                            .sliderItemInfo4ItemInfoCalendar
                                                img(loading="lazy" src="https://blogs.cayetano.edu.pe/img/calendar-icon-whit.webp", alt="")
                                                h3 17
                                                h3 |
                                                h3 12
                                            h3 Malla curricular de ingeniería industrial y su campo laboral
                                            img(class="keyframe-button-movement" loading="lazy" src="https://blogs.cayetano.edu.pe/img/arrow-black-button.webp", alt="")
                                        .sliderItemInfo4ItemImage
                                            img(loading="lazy" src="https://blogs.cayetano.edu.pe/img/image-nota-5.webp", alt="")
                                    .sliderItemInfo4Item
                                        .sliderItemInfo4ItemInfo(onclick="window.open('https://blogs.cayetano.edu.pe/pregrado/malla-curricular-biologia', '_self')")
                                            .sliderItemInfo4ItemInfoCalendar
                                                img(loading="lazy" src="https://blogs.cayetano.edu.pe/img/calendar-icon-whit.webp", alt="")
                                                h3 19
                                                h3 |
                                                h3 12
                                            h3 Malla curricular de Biología
                                            img(class="keyframe-button-movement" loading="lazy" src="https://blogs.cayetano.edu.pe/img/arrow-black-button.webp", alt="")
                                        .sliderItemInfo4ItemImage
                                            img(loading="lazy" src="https://blogs.cayetano.edu.pe/img/image-nota-14.webp", alt="")
                                    .sliderItemInfo4Item
                                        .sliderItemInfo4ItemInfo(onclick="window.open('https://blogs.cayetano.edu.pe/pregrado/donde-puedo-estudiar-medicina-veterinaria', '_self')")
                                            .sliderItemInfo4ItemInfoCalendar
                                                img(loading="lazy" src="https://blogs.cayetano.edu.pe/img/calendar-icon-whit.webp", alt="")
                                                h3 19
                                                h3 |
                                                h3 12
                                            h3 ¿Dónde estudiar medicina veterinaria y zootecnia?
                                            img(class="keyframe-button-movement" loading="lazy" src="https://blogs.cayetano.edu.pe/img/arrow-black-button.webp", alt="")
                                        .sliderItemInfo4ItemImage
                                            img(loading="lazy" src="https://blogs.cayetano.edu.pe/img/image-nota-15.webp", alt="")
                            .slider__item4.swiper-slide
                                .sliderItemInfo4
                                    .sliderItemInfo4Item
                                        .sliderItemInfo4ItemInfo(onclick="window.open('https://blogs.cayetano.edu.pe/pregrado/carreras-mejor-pagadas', '_self')")
                                            .sliderItemInfo4ItemInfoCalendar
                                                img(loading="lazy" src="https://blogs.cayetano.edu.pe/img/calendar-icon-whit.webp", alt="")
                                                h3 19
                                                h3 |
                                                h3 12
                                            h3 Carreras mejor pagadas 2024: lista actualizada
                                            img(class="keyframe-button-movement" loading="lazy" src="https://blogs.cayetano.edu.pe/img/arrow-black-button.webp", alt="")
                                        .sliderItemInfo4ItemImage
                                            img(loading="lazy" src="https://blogs.cayetano.edu.pe/img/image-nota-16.webp", alt="")
                                    .sliderItemInfo4Item
                                        .sliderItemInfo4ItemInfo(onclick="window.open('https://blogs.cayetano.edu.pe/pregrado/donde-estudiar-carrera-psicologia', '_self')")
                                            .sliderItemInfo4ItemInfoCalendar
                                                img(loading="lazy" src="https://blogs.cayetano.edu.pe/img/calendar-icon-whit.webp", alt="")
                                                h3 19
                                                h3 |
                                                h3 12
                                            h3 ¿Dónde estudiar la carrera de psicología en Perú?
                                            img(class="keyframe-button-movement" loading="lazy" src="https://blogs.cayetano.edu.pe/img/arrow-black-button.webp", alt="")
                                        .sliderItemInfo4ItemImage
                                            img(loading="lazy" src="https://blogs.cayetano.edu.pe/img/image-nota-17.webp", alt="")
                    .swiper-pagination4
                    .swiper-button-prev4 
                        img(loading="lazy" src="img/arrow-black-left.webp", alt="")
                    .swiper-button-next4
                        img(loading="lazy" src="img/arrow-black-right.webp", alt="")
                .bloque3SliderDesktop
                    .slider__container6.swiper.mySwiper6
                        .slider__grid6.swiper-wrapper
                            .slider__item6.swiper-slide
                                .sliderItemInfo6
                                    .sliderItemInfo6Item
                                        .sliderItemInfo6ItemInfo(onclick="window.open('https://blogs.cayetano.edu.pe/pregrado/malla-curricular-ingenieria-industrial', '_self')")
                                            .sliderItemInfo6ItemInfoCalendar
                                                img(loading="lazy" src="https://blogs.cayetano.edu.pe/img/calendar-icon-whit.webp", alt="")
                                                h3 17
                                                h3 |
                                                h3 12
                                            h3 Malla curricular de ingeniería industrial y su campo laboral
                                            img(class="keyframe-button-movement" loading="lazy" src="https://blogs.cayetano.edu.pe/img/arrow-black-button.webp", alt="")
                                        .sliderItemInfo6ItemImage
                                            img(loading="lazy" src="https://blogs.cayetano.edu.pe/img/image-nota-5.webp", alt="")
                            .slider__item6.swiper-slide
                                .sliderItemInfo6
                                    .sliderItemInfo6Item
                                        .sliderItemInfo6ItemInfo(onclick="window.open('https://blogs.cayetano.edu.pe/pregrado/malla-curricular-biologia', '_self')")
                                            .sliderItemInfo6ItemInfoCalendar
                                                img(loading="lazy" src="https://blogs.cayetano.edu.pe/img/calendar-icon-whit.webp", alt="")
                                                h3 19
                                                h3 |
                                                h3 12
                                            h3 Malla curricular de Biología
                                            img(class="keyframe-button-movement" loading="lazy" src="https://blogs.cayetano.edu.pe/img/arrow-black-button.webp", alt="")
                                        .sliderItemInfo6ItemImage
                                            img(loading="lazy" src="https://blogs.cayetano.edu.pe/img/image-nota-14.webp", alt="")
                            .slider__item6.swiper-slide
                                .sliderItemInfo6
                                    .sliderItemInfo6Item
                                        .sliderItemInfo6ItemInfo(onclick="window.open('https://blogs.cayetano.edu.pe/pregrado/donde-puedo-estudiar-medicina-veterinaria', '_self')")
                                            .sliderItemInfo6ItemInfoCalendar
                                                img(loading="lazy" src="https://blogs.cayetano.edu.pe/img/calendar-icon-whit.webp", alt="")
                                                h3 19
                                                h3 |
                                                h3 12
                                            h3 ¿Dónde estudiar medicina veterinaria y zootecnia?
                                            img(class="keyframe-button-movement" loading="lazy" src="https://blogs.cayetano.edu.pe/img/arrow-black-button.webp", alt="")
                                        .sliderItemInfo6ItemImage
                                            img(loading="lazy" src="https://blogs.cayetano.edu.pe/img/image-nota-15.webp", alt="")
                            .slider__item6.swiper-slide
                                .sliderItemInfo6
                                    .sliderItemInfo6Item
                                        .sliderItemInfo6ItemInfo(onclick="window.open('https://blogs.cayetano.edu.pe/pregrado/carreras-mejor-pagadas', '_self')")
                                            .sliderItemInfo6ItemInfoCalendar
                                                img(loading="lazy" src="https://blogs.cayetano.edu.pe/img/calendar-icon-whit.webp", alt="")
                                                h3 19
                                                h3 |
                                                h3 12
                                            h3 Carreras mejor pagadas 2024: lista actualizada
                                            img(class="keyframe-button-movement" loading="lazy" src="https://blogs.cayetano.edu.pe/img/arrow-black-button.webp", alt="")
                                        .sliderItemInfo6ItemImage
                                            img(loading="lazy" src="https://blogs.cayetano.edu.pe/img/image-nota-16.webp", alt="")
                            .slider__item6.swiper-slide
                                .sliderItemInfo6
                                    .sliderItemInfo6Item
                                        .sliderItemInfo6ItemInfo(onclick="window.open('https://blogs.cayetano.edu.pe/pregrado/donde-estudiar-carrera-psicologia', '_self')")
                                            .sliderItemInfo6ItemInfoCalendar
                                                img(loading="lazy" src="https://blogs.cayetano.edu.pe/img/calendar-icon-whit.webp", alt="")
                                                h3 19
                                                h3 |
                                                h3 12
                                            h3 ¿Dónde estudiar la carrera de psicología en Perú?
                                            img(class="keyframe-button-movement" loading="lazy" src="https://blogs.cayetano.edu.pe/img/arrow-black-button.webp", alt="")
                                        .sliderItemInfo6ItemImage
                                            img(loading="lazy" src="https://blogs.cayetano.edu.pe/img/image-nota-17.webp", alt="")
                    .swiper-pagination6
        .bloque4 
            .bloque4Container
                .bloque4Banner
                    .bloque4BannerLeft 
                        h3 Inicia la mejor estapa de tu vida
                        h4 en la universidad de la <span>excelencia</span>
                    button(onclick="window.open('https://lp.cayetano.edu.pe/admision-cayetano/?utm_campaign=pregrado-aon&utm_term=generico&utm_source=blog&utm_medium=organic&utm_content=banner-1-home', '_self')")
                        h5 Inscripciones abiertas 
                        img.keyframe-button-movement(loading="lazy" src="https://blogs.cayetano.edu.pe/img/arrow-black-button.webp", alt="")
                .bloque4ContentItems
                    .bloque4Item.linebottom
                        img.bloque4ItemImage(loading="lazy" src="https://blogs.cayetano.edu.pe/img/image-nota-7.webp", alt="")
                        .bloque4ItemContent
                            .bloque4ItemContentCalendar
                                img(loading="lazy" src="https://blogs.cayetano.edu.pe/img/calendar-icon-whit.webp", alt="")
                                h3 18
                                h3 |
                                h3 12
                            .bloque4ItemContentText
                                h3(onclick="window.open('https://blogs.cayetano.edu.pe/pregrado/que-estudia-biologia', '_self')") ¿Qué estudia la biología?: ramas, historia e importancia
                            .bloque4ItemContentParagraph
                                h3 Al descubrir qué estudia la biología, sabrás si esta carrera es para ti. Conoce su definición, ramas, historia e importancia. 
                    .bloque4Item.linebottom
                        img.bloque4ItemImage(loading="lazy" src="https://blogs.cayetano.edu.pe/img/image-nota-8.webp", alt="")
                        .bloque4ItemContent
                            .bloque4ItemContentCalendar
                                img(loading="lazy" src="https://blogs.cayetano.edu.pe/img/calendar-icon-whit.webp", alt="")
                                h3 18
                                h3 |
                                h3 12
                            .bloque4ItemContentText
                                h3(onclick="window.open('https://blogs.cayetano.edu.pe/pregrado/cayetano-heredia-sedes', '_self')") Sedes de Cayetano Heredia: conoce el lugar donde te prepararás para el futuro
                            .bloque4ItemContentParagraph
                                h3 Las sedes de Cayetano Heredia están diseñadas para desarrollar tu potencial al máximo en un entorno que combina aprendizaje, convivencia y bienestar.
                    .bloque4Item.linebottom
                        img.bloque4ItemImage(loading="lazy" src="https://blogs.cayetano.edu.pe/img/image-nota-9.webp", alt="")
                        .bloque4ItemContent
                            .bloque4ItemContentCalendar
                                img(loading="lazy" src="https://blogs.cayetano.edu.pe/img/calendar-icon-whit.webp", alt="")
                                h3 18
                                h3 |
                                h3 12
                            .bloque4ItemContentText
                                h3(onclick="window.open('https://blogs.cayetano.edu.pe/pregrado/en-que-consiste-carrera-enfermeria', '_self')") Descubre en qué consiste la carrera de enfermería
                            .bloque4ItemContentParagraph
                                h3 Descubre aquí en qué consiste la carrera de enfermería, duración, competencias y por qué elegirla como carrera universitaria.
                    .bloque4Item.linebottom
                        img.bloque4ItemImage(loading="lazy" src="https://blogs.cayetano.edu.pe/img/image-nota-10.webp", alt="")
                        .bloque4ItemContent
                            .bloque4ItemContentCalendar
                                img(loading="lazy" src="https://blogs.cayetano.edu.pe/img/calendar-icon-whit.webp", alt="")
                                h3 18
                                h3 |
                                h3 12
                            .bloque4ItemContentText
                                h3(onclick="window.open('https://blogs.cayetano.edu.pe/pregrado/cayetano-heredia-mensualidad', '_self')") Cayetano Heredia mensualidad: ¿cuáles son los costos de nuestras carreras?
                            .bloque4ItemContentParagraph
                                h3 Conoce la mensualidad de nuestras carreras de excelencia para una educación de calidad.
                    .bloque4Item.linebottom
                        img.bloque4ItemImage(loading="lazy" src="https://blogs.cayetano.edu.pe/img/image-nota-11.webp", alt="")
                        .bloque4ItemContent
                            .bloque4ItemContentCalendar
                                img(loading="lazy" src="https://blogs.cayetano.edu.pe/img/calendar-icon-whit.webp", alt="")
                                h3 18
                                h3 |
                                h3 12
                            .bloque4ItemContentText
                                h3(onclick="window.open('https://blogs.cayetano.edu.pe/pregrado/cuanto-dura-la-carrera-veterinaria', '_self')") ¿Cuánto dura la carrera de veterinaria y zootecnia?
                            .bloque4ItemContentParagraph
                                h3 Si buscas una carrera que combine el cuidado animal y compromiso ambiental, en Cayetano recibirás una formación integral alineada a tus metas.
                    .bloque4Item
                        img.bloque4ItemImage(loading="lazy" src="https://blogs.cayetano.edu.pe/img/image-nota-12.webp", alt="")
                        .bloque4ItemContent
                            .bloque4ItemContentCalendar
                                img(loading="lazy" src="https://blogs.cayetano.edu.pe/img/calendar-icon-whit.webp", alt="")
                                h3 18
                                h3 |
                                h3 12
                            .bloque4ItemContentText
                                h3(onclick="window.open('https://blogs.cayetano.edu.pe/pregrado/cuanto-dura-carrera-psicologia', '_self')") ¿Cuánto dura la carrera de psicología?
                            .bloque4ItemContentParagraph
                                h3 Descubre aquí cuánto dura la carrera de psicología, su importancia, qué tan difícil es la carrera y las ventajas de estudiarla.
                //- .bloque4Todes
                //-     h3 Ver todo
        include includes/form/formBlog.pug
        footer
            .footerContainer
                img(loading="lazy" src="https://blogs.cayetano.edu.pe/img/logo-white.webp", alt="")
                .footerTexts
                    h3 Campus Central:
                    h3 Av. Honorio Delgado 430
                    h3 Urb. Ingeniería, San Martín de Porres
        script(src="./js/script.js" defer='')
        script(src="https://unpkg.com/swiper/swiper-bundle.min.js" defer='')