doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv='Expires' content='0')
        meta(http-equiv='Last-Modified' content='0')
        meta(http-equiv='Cache-Control' content='no-cache, mustrevalidate')
        meta(http-equiv='Pragma' content='no-cache')
        title Malla curricular de Biología: conoce los cursos de esta carrera
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel="stylesheet", href="../../css/app.css")
        //- link(rel="stylesheet", href="./css/app.css")
        link(rel="icon" type="image/x-icon" href="../../favicon.png")
        link(rel="stylesheet", href="https://unpkg.com/swiper/swiper-bundle.min.css")
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap' rel='stylesheet')
        <meta name="description" content="La malla curricular de Biología está diseñada para ofrecerte una formación integral, combinando teoría y práctica desde el inicio de tu carrera.">
        <meta name="keywords" content="malla curricular biologia, cursos de biologia, carrera de biologia, cayetano heredia, estudiar biologia, cuanto dura la carrera de biologia, que hace un biologo​">
    body
        .manuInner
            .manuInnerContainer
                .manuInnerHeader
                    img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/logo-1.webp", alt="")
                    h3.manuInnerClose X
                .manuInnerInfo
                    include includes/search/searchMobile.pug
                    .manuInnerInfoContent
                        h3.manuInnerInfoContentBottom Blog Cayetano
                        h3.manuInnerInfoContentBottom Blog Pregrado
                        h3.manuInnerInfoContentBottom Blog PGE
                        h3 Blog Especialidades
            .manuInnerFooter
                .manuInnerFooterContainer
                    h3 Quiero ser de Cayetano
                    img.keyframe-button-movement(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
        .bloque1.bloque1Individual
          .bloque1Container
            .bloque1Logos
                img.blog-logo(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/logo-1.webp", alt="")
                .bloque1LogosSelect
                    h3.dropdown-btn Blog Cayetano
                    ul.dropdown-menu
                        li: a(href="https://blogs.cayetano.edu.pe/pregrado/") Pregrado
                        li: a(href="") Pge  
                        li: a(href="") Especialidades
                include includes/search/searchDesktop.pug
                img.top-icon-mobile(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/icon-menu2.webp", alt="")
                button  
                    h3 Quiero ser de Cayetano
                    img.keyframe-button-movement(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
        .bloque6
            .bloque6Container
                .bloque6Calendar
                    .bloque6CalendarProgress
                        h5(onclick="window.location.replace('https://blogs.cayetano.edu.pe/')") Blog Cayetano
                        h5 |
                        h5(onclick="window.location.replace('https://blogs.cayetano.edu.pe/pregrado/')") Blog Pregrado
                    .bloque6CalendarInfo
                        img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/calendar-icon-whit.webp", alt="")
                        h3 19 de diciembre del 2024
                    .bloque6Title
                        h3#first Malla curricular de Biología: conoce los cursos de esta carrera
                    .bloque6Item
                        h4.bloque6ItemCiencias Biología
        .bloque7.bloque7Individual
            .bloque7Container.bloque7ContainerIndividual
                .bloque7Left
                    .bloque6Flex
                        .bloque6Left
                            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/image-nota-14.webp", alt="")
                            .bloque6LeftRedes
                                h3 Compartir en redes:
                                .bloque6LeftRedesContent
                                    img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/icon-fb.webp", alt="", onclick="window.location.replace(`https://www.facebook.com/sharer/sharer.php?u=${encodeURIComponent(window.location.href)}`)")
                                    img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/icon-wp.webp", alt="", onclick="window.location.replace(`https://api.whatsapp.com/send?text=${encodeURIComponent(window.location.href)}`)")
                                    img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/icon-x.webp", alt="", onclick="window.location.replace(`https://x.com/intent/post?text=${encodeURIComponent(window.location.href)}`)")
                                    img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/icon-link.webp", alt="", onclick="window.location.replace(`https://www.linkedin.com/sharing/share-offsite/?url=${encodeURIComponent(window.location.href)}`)")
                            .bloque6LeftIndex
                                h3.indexclicker Índice
                                .bloque6LeftIndexContent
                                    h4: a(href="#first") 1. ¿Qué estudia la medicina veterinaria?
                                    h4: a(href="#two") 2. ¿Qué es la carrera de medicina veterinaria y zootecnia?
                                    h4: a(href="#three") 3. Diferencia entre medicina veterinaria y zootecnia
                                    h4: a(href="#four") 4. Campo de trabajo de medicina veterinaria y zootecnia
                                    h4: a(href="#five") 5. ¿Cuánto cuesta la carrera de veterinaria y zootecnia?
                                    h4: a(href="#six") 6. ¿Dónde estudiar medicina veterinaria y zootecnia?
                            .bloque6LeftParagraphs
                                .bloque6LeftParagraphsTitle 
                                    h3(style="color:black;") Malla curricular de Biología: ¿Qué cursos estudian los futuros profesionales de esta carrera?
                                p Si estás considerando estudiar Biología y quieres saber qué cursos llevarás durante la carrera, esta es la nota perfecta para ti. La malla curricular de Biología está pensada para brindarte una formación integral que combina teoría y práctica desde el primer ciclo.
                                p En los dos primeros ciclos, cursarás asignaturas generales esenciales como Matemáticas y Comunicación y Redacción, que te proporcionarán una base sólida para tu formación académica. Además, la malla curricular de Biología incluye el aprendizaje del idioma inglés, el cual se desarrolla progresivamente hasta el cuarto ciclo, fortaleciendo tus competencias para un entorno profesional global.
                                p ¡Prepárate para ser parte de una carrera que combina el conocimiento científico con el compromiso de cuidar y entender el mundo natural!
                                .bloque6LeftParagraphsTitle 
                                    h3(style="color:black;") ¿Qué temas se estudian en biología?
                                p La malla curricular de Biología en Cayetano Heredia está diseñada para formar profesionales con un sólido conocimiento científico y habilidades prácticas que les permitan comprender y abordar los desafíos de las ciencias biológicas.
                                p A lo largo de diez ciclos académicos, los estudiantes desarrollan competencias en áreas fundamentales como la química, la física, la genética y la ecología, complementadas con herramientas modernas como la bioinformática y la biología molecular. 
                                p Además, el plan incluye cursos de formación integral en ética, comunicación y sostenibilidad, promoviendo un enfoque interdisciplinario y responsable hacia la investigación y el cuidado del medio ambiente.
                                p Este recorrido académico culmina con asignaturas electivas y un trabajo de investigación que permiten a los futuros biólogos especializarse en sus áreas de interés y contribuir al avance del conocimiento científico.
                                p Estos son los cursos de Biología que llevarás si decides elegir esta carrera.
                                .bloque6LeftParagraphsTitle 
                                    h3(style="color:black;") Primer ciclo
                                p Matemáticas
                                    br
                                    | Biología
                                    br
                                    | Química
                                    br
                                    | Comunicación y Redacción I
                                    br
                                    | Ciencias Sociales
                                    br
                                    | Actividad Complementaria
                                    br
                                    | Inglés I 
                                .bloque6LeftParagraphsTitle 
                                    h3(style="color:black;") Segundo ciclo
                                p Biología II
                                    br
                                    | Filosofía y Ética
                                    br
                                    | Comunicación y Redacción II
                                    br
                                    | Matemáticas II
                                    br
                                    | Química II
                                    br
                                    | Inglés II
                                    br
                                    | Cultura ambiental y Desarrollo sostenible
                                .bloque6LeftParagraphsTitle 
                                    h3(style="color:black;") Tercer ciclo
                                p Química orgánica
                                    br
                                    | Física
                                    br
                                    | Botánica General
                                    br
                                    | Estadística y probabilidades
                                    br
                                    | Inglés III
                                    br
                                    | Historia del pensamiento científico
                                .bloque6LeftParagraphsTitle 
                                    h3(style="color:black;") Cuarto ciclo
                                p Zoología general
                                    br
                                    | Fisicoquímica
                                    br
                                    | Computación
                                    br
                                    | Investigación científica
                                    br
                                    | Física II
                                    br
                                    | Inglés IV
                                .bloque6LeftParagraphsTitle 
                                    h3(style="color:black;") Quinto ciclo
                                p Estadística aplicada a la investigación
                                    br
                                    | Bioquímica
                                    br
                                    | Ecología
                                    br
                                    | Genética general
                                    br
                                    | Actividad complementaria
                                .bloque6LeftParagraphsTitle 
                                    h3(style="color:black;") Sexto ciclo
                                p Microbiología general
                                    br
                                    | Biología molecular de la célula
                                    br
                                    | Introducción al estudio de las ciencias ambientales
                                    br
                                    | Investigación científica II
                                    br
                                    | Principios de la fisiología
                                .bloque6LeftParagraphsTitle 
                                    h3(style="color:black;") Séptimo ciclo
                                p Evolución
                                    br
                                    | Ética e investigación
                                    br
                                    | Biología celular
                                    br
                                    | Fisiología sistemas
                                    br
                                    | Asignaturas electivas I
                                    br
                                    | Bioinformatics I
                                .bloque6LeftParagraphsTitle 
                                    h3(style="color:black;") Octavo ciclo
                                p Biología del desarrollo
                                    br
                                    | Inmunología general
                                    br
                                    | Asignaturas electivas II
                                .bloque6LeftParagraphsTitle 
                                    h3(style="color:black;") Noveno ciclo
                                p Asignaturas electivas III
                                    br
                                    | Actividad complementaria III
                                .bloque6LeftParagraphsTitle 
                                    h3(style="color:black;") Décimo ciclo
                                p Trabajo de investigación
                                    br
                                    | Asignaturas electivas IV
                                    br
                                    | Actividad complementaria IV
                                .bloque6LeftParagraphsTitle 
                                    h3(style="color:black;") ¿Cuánto dura la carrera de biología?
                                p La carrera de Biología en Cayetano Heredia tiene una duración de 5 años, lo que equivale a 10 ciclos académicos en un modelo semestral. Sin embargo, esto puede variar ligeramente dependiendo de la universidad y el país donde se curse
                                .bloque6LeftParagraphsTitle 
                                    h3(style="color:black;") ¿Qué hace un biólogo?
                                p Un biólogo se dedica al estudio de los seres vivos y su relación con el entorno, abarcando desde organismos microscópicos hasta ecosistemas completos. Sus actividades incluyen investigar procesos biológicos, analizar datos científicos y desarrollar soluciones en áreas como la salud, la conservación ambiental, la agricultura y la biotecnología. 
                                p Dependiendo de su especialización, un biólogo puede trabajar en laboratorios, realizar estudios de campo, asesorar en proyectos sostenibles o desarrollar aplicaciones tecnológicas basadas en procesos naturales. Su objetivo principal es comprender la vida para mejorar la calidad de la misma y proteger el equilibrio natural del planeta.
                            .bloque6LeftLabels 
                                h3 Ciencias
                                h3 Ciencias
                                h3 Ciencias
                                h3 Ciencias
                                h3 Ciencias
                        .bloque6Right
                .bloque7Right
                    .bloque2ProgramRight.bloque2ProgramRightDesktop
                        .bloque2ProgramRightContainer
                            .bloque2ProgramRightContainerCategories
                            .bloque2ProgramRightContainerNewsletter 
                                .newsletterWhitespace
                                .newsletterContent
                                    .newsletterImage
                                        img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/tano-newletter.gif", alt="")
                                    .newsletterInfo
                                        h3 Conéctate con tu 
                                            span futuro en Cayetano
                                        p Recibe información sobre nuestros programas, consejos de orientación vocacional, beneficios y mucho más para ayudarte a decidir el camino que mejor se alinea con tus metas. 
                                        input(type="text" placeholder="Tu correo electrónico...")
                                        .newsletterInfoTerminos
                                            input(type="checkbox")
                                            h3 He leído y acepto la política de privacidad de Cayetano.
                                        button
                                            h3 Suscribirme
                                            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
        .bloque4 
            .bloque4Container
                .bloque4Banner
                    h3 Postula a Cayetano con Beca 18
                    h4 Valoramos tu 
                        span excelencia académica
                    button
                        h5 Conoce más 
                        img.keyframe-button-movement(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
                .bloque2ProgramLeft.bloque2IndividualLeft
                    .bloque2Title
                        h3 También podría interesarte
                    include includes/slider-ind/slider2.pug
        include includes/form/formBlog.pug
        footer
          .footerContainer
            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/logo-white.webp", alt="")
            .footerTexts
              h3 Campus Central:
              h3 Av. Honorio Delgado 430
              h3 Urb. Ingeniería, San Martín de Porres 
        script(src="../../js/script.js" defer)
        //- script(src="../../js/script-ind.js" defer)
        //- script(src="./js/script.js" defer)
        //- script(src="./js/script-ind.js" defer)
        script(src="https://unpkg.com/swiper/swiper-bundle.min.js")