doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv='Expires' content='0')
        meta(http-equiv='Last-Modified' content='0')
        meta(http-equiv='Cache-Control' content='no-cache, mustrevalidate')
        meta(http-equiv='Pragma' content='no-cache')
        title ¿De qué trata la carrera de ingeniería industrial y por qué elegirla?
        link(rel='preconnect' href='https://fonts.googleapis.com')
        //- link(rel="stylesheet", href="../../css/app.css")
        link(rel="stylesheet", href="./css/app.css")
        link(rel="icon" type="image/x-icon" href="../../favicon.png")
        link(rel="stylesheet", href="https://unpkg.com/swiper/swiper-bundle.min.css")
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap' rel='stylesheet')
        <meta name="description" content="Conoce aquí de qué trata la carrera de ingeniería industrial, la malla curricular, duración y por qué elegir la carrera.">
        <meta name="keywords" content="de que trata la ingenieria industrial, examen de admision, cayetano, admision cayetano">
    body
        .manuInner
            .manuInnerContainer
                .manuInnerHeader
                    img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/logo-1.webp", alt="")
                    h3.manuInnerClose X
                .manuInnerInfo
                    include includes/search/searchMobile.pug
                    .manuInnerInfoContent
                        h3.manuInnerInfoContentBottom Blog Cayetano
                        h3.manuInnerInfoContentBottom Blog Pregrado
                        h3.manuInnerInfoContentBottom Blog PGE
                        h3 Blog Especialidades
            .manuInnerFooter
                .manuInnerFooterContainer
                    h3 Quiero ser de Cayetano
                    img.keyframe-button-movement(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
        .bloque1.bloque1Individual
          .bloque1Container
            .bloque1Logos
                img.blog-logo(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/logo-1.webp", alt="")
                .bloque1LogosSelect
                    h3.dropdown-btn Blog Cayetano
                    ul.dropdown-menu
                        li: a(href="https://blogs.cayetano.edu.pe/pregrado/") Pregrado
                        li: a(href="") Pge  
                        li: a(href="") Especialidades
                include includes/search/searchDesktop.pug
                img.top-icon-mobile(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/icon-menu2.webp", alt="")
                button  
                    h3 Quiero ser de Cayetano
                    img.keyframe-button-movement(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
        .bloque6
            .bloque6Container
                .bloque6Calendar
                    .bloque6CalendarProgress
                        h5(onclick="window.location.replace('https://blogs.cayetano.edu.pe/')") Blog Cayetano
                        h5 |
                        h5(onclick="window.location.replace('https://blogs.cayetano.edu.pe/pregrado/')") Blog Pregrado
                    .bloque6CalendarInfo
                        img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/calendar-icon-whit.webp", alt="")
                        h3 17 de diciembre del 2024
                    .bloque6Title
                        h1#first ¿De qué trata la carrera de ingeniería industrial y por qué elegirla?
                    .bloque6Item
                        h4.bloque6ItemIngenieria Ingeniería Industrial
        .bloque7.bloque7Individual
            .bloque7Container.bloque7ContainerIndividual
                .bloque7Left
                    .bloque6Flex
                        .bloque6Left
                            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/image-nota-5.webp", alt="")
                            .bloque6LeftRedes
                                h3 Compartir en redes:
                                .bloque6LeftRedesContent
                                    img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/icon-fb.webp", alt="", onclick="window.location.replace(`https://www.facebook.com/sharer/sharer.php?u=${encodeURIComponent(window.location.href)}`)")
                                    img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/icon-wp.webp", alt="", onclick="window.location.replace(`https://api.whatsapp.com/send?text=${encodeURIComponent(window.location.href)}`)")
                                    img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/icon-x.webp", alt="", onclick="window.location.replace(`https://x.com/intent/post?text=${encodeURIComponent(window.location.href)}`)")
                                    img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/icon-link.webp", alt="", onclick="window.location.replace(`https://www.linkedin.com/sharing/share-offsite/?url=${encodeURIComponent(window.location.href)}`)")
                            .bloque6LeftIndex
                                h3.indexclicker Índice
                                .bloque6LeftIndexContent
                                    ol 
                                        li: a(href="#h-uno"): h2 ¿Qué es la carrera de ingeniería industrial?
                                        li: a(href="#h-dos"): h2 Objetivos de la carrera de ingeniería industrial
                                        li: a(href="#h-tres"): h2 Malla curricular de la carrera de ingeniería industrial
                                        li: a(href="#h-cuatro"): h2 Competencias de la carrera de ingeniería industrial
                                        li: a(href="#h-cinco"): h2 Duración de la carrera de ingeniería industrial
                                        li: a(href="#h-seis"): h2 ¿Por qué elegir la carrera de ingeniería industrial?
                                        li: a(href="#h-cinco"): h2 ¿Dónde estudiar la carrera de ingeniería industrial?
                            .bloque6LeftParagraphs
                                p Si te interesa buscar alternativas que generen valor en cualquier tipo de organización de forma innovadora y estratégica, ¡esta podría ser tu carrera! La ingeniería industrial se centra en diseñar, implementar y mejorar procesos y sistemas dentro de las organizaciones.
                                p Por eso, hoy te contaremos más sobre de qué trata la carrera de ingeniería industrial, sus objetivos, competencias, la malla curricular, duración, por qué elegir la carrera y dónde estudiarla. Nuestro objetivo es orientarte para que descubras si la carrera de ingeniería industrial es la mejor opción para ti.
                                .bloque6LeftParagraphsTitle 
                                    h2 ¿Qué es la carrera de ingeniería industrial?
                                p La carrera de Ingeniería Industrial es una disciplina que combina la ciencia, tecnología e innovación para optimizar procesos, mejorar la productividad y elevar la calidad en diversas áreas.
                                p En Cayetano, los estudiantes aprenden a analizar y resolver problemas relacionados con la producción, logística, calidad, administración de proyectos y toma de decisiones estratégicas. Además, están preparados para liderar la transformación digital que hoy en día necesitan las empresas, y generar ideas de negocio innovadoras.
                                .mention 
                                    p La carrera de Ingeniería Industrial ocupa el 3.º lugar entre las profesiones con mayor empleabilidad en el país.
                                    h5 Fuente: Encuesta de Demanda Ocupacional (EDO) del Ministerio de Trabajo y Promoción de Empleo (2024).
                                p Esperamos que esta información te haya ayudado a comprender mejor de qué trata la carrera de ingeniería industrial. Sigue explorando con nosotros y descubre por qué es tu mejor opción.
                                .bloque6LeftParagraphsTitle 
                                    h2 Objetivos de la carrera de ingeniería industrial
                                p El ingeniero industrial tiene como objetivo principal optimizar recursos para mejorar la productividad y eficiencia de las organizaciones. Es capaz de desarrollar proyectos sostenibles e innovadores, adaptándose a entornos cambiantes.
                                p En Cayetano, formamos ingenieros industriales con excelencia académica y profesional, preparados para optimizar procesos, gestionar operaciones y aumentar la productividad, contribuyendo al desarrollo sostenible mediante la investigación, la innovación tecnológica y la creación de productos y servicios de calidad. 
                                p Nuestros alumnos tienen la habilidad de liderar equipos multidisciplinarios y trabajar colaborativamente para alcanzar objetivos. Es una carrera versátil que te prepara para contribuir al éxito de cualquier organización.
                                .bloque6LeftParagraphsTitle 
                                    h2 Malla curricular de la carrera de ingeniería industrial
                                p La carrera de ingeniería industrial ofrece una variedad de cursos diseñados para formar profesionales estratégicos e innovadores, listos para generar valor en cualquier organización a nivel global.
                                p Descubre la malla curricular de la Universidad Peruana Cayetano Heredia, reconocida como la N.° 1 en Perú y líder en innovación, según el SCIMAGO Institutions Rankings.
                                p Nuestra metodología de enseñanza destaca por su enfoque interdisciplinario y el alto soporte tecnológico. Incorporamos la innovación, la transformación digital y una certificación internacional en metodologías ágiles como factores diferenciadores, desde el primer ciclo.
                                p(style="margin-left:5rem;") Cursos de innovación Cayetano:
                                  ul.margin4tab
                                    li Procesos de innovación en ingeniería
                                    li Entrepreneurship and Innovation
                                    li Industrial Capstone Project
                                    li Y más
                                    
                                p Conoce más sobre nuestra propuesta educativa descargando el brochure de la carrera. 
                                .bloque6LeftParagraphsTitle 
                                    h2 Competencias de la carrera de ingeniería industrial
                                p Los ingenieros industriales tienen una visión global que les permite optimizar procesos y proponer soluciones innovadoras para transformar organizaciones de manera eficiente, ética y socialmente responsable.
                                p Estas son algunas de las competencias clave que debe tener un ingeniero industrial:
                                  ul.margin9tab
                                    li: h3 Gestión de procesos y operaciones:<span> capacidad para diseñar, analizar y optimizar procesos productivos y administrativos, pensadas en garantizar la eficiencia y calidad de los productos y/o servicios.</span>
                                    li: h3 Resolución de problemas:<span>  habilidad para identificar desafíos en las áreas de producción, logística, y recursos humanos, proponiendo soluciones basadas en análisis técnico y estratégico.</span>
                                    li: h3 Liderazgo y trabajo en equipo:<span>  competencia para liderar equipos multidisciplinarios y fomentar la colaboración para alcanzar metas comunes.</span>
                                    li: h3 Análisis de datos: <span>dominio de herramientas y técnicas para interpretar datos y tomar decisiones informadas.</span>
                                    li: h3 Innovación y mejora continua:<span>proponer soluciones integrales que impulsen la productividad.</span>
                                    li: h3 Análisis de datos:<span>dominio de herramientas y técnicas para interpretar datos y tomar decisiones informadas.</span>
                                    li: h3 Visión estratégica: <span> capacidad para alinear los objetivos operativos con la estrategia general de la organización.</span>

                                        
                                .bloque6LeftParagraphsTitle 
                                    h2 Duración de la carrera de ingeniería industria
                                p La carrera de ingeniería industrial en Perú tiene una duración de 5 años (10 semestres académicos). Durante este tiempo, los estudiantes reciben una formación interdisciplinaria y con alto soporte tecnológico que abarcan áreas como matemática, ciencias e ingeniería.
                                p En Cayetano, nuestra metodología incluye certificaciones progresivas como Inspector de Procesos y Analista de Operaciones, que permiten a los estudiantes ingresar al campo laboral antes de graduarse. Además, ofrecemos concentraciones en áreas como operaciones y procesos, ingeniería de gestión y transformación digital.
                                p Nuestros estudiantes desarrollan una sólida base científica, con énfasis en investigación e innovación, lo que los hace altamente empleables.
                                .bloque6LeftParagraphsTitle 
                                    h2 ¿Por qué elegir la carrera de ingeniería industrial?
                                p Elegir la carrera de ingeniería industrial significa optar por una profesión enfocada en gestionar operaciones y optimizar procesos con criterios de productividad, tecnología y calidad, contribuyendo a la transformación de las organizaciones de manera eficiente, ética y socialmente responsable.
                                p Aquí, te detallamos <strong> 7 razones de por qué elegir la carrera de ingeniería industrial</strong> en Cayetano:
                                p(style="margin-left:4rem;") 
                                    ul.margin1tab
                                        li: h4 Enfoque de innovación y emprendimiento:
                                            p El ingeniero industrial en Cayetano está preparado para liderar la transformación digital, incorporando tecnologías digitales en sus operaciones. Además, impulsa el desarrollo de nuevas ideas de negocio.
                                
                                        li: h4 Certificaciones progresivas:
                                            p Según el avance académico, los estudiantes pueden insertarse al campo laboral a través de nuestras certificaciones:
                                    
                                    ul.margin9tab
                                        li  6.° ciclo: Inspector de Procesos
                                        li  8.° ciclo: Analista de Operaciones
                                    
                                    ul.margin1tab
                                        li: h4 Concentraciones por competencia:
                                            p Nuestra malla curricular actualizada te forma en áreas específicas de la ingeniería industrial:

                                    ul.margin9tab
                                        li  Operaciones y Procesos
                                        li  Ingeniería de Gestión
                                        li  Transformación Digital
                                    
                                    ul.margin1tab
                                        li: h4 Certificación internacional en SCRUM
                                            p Desde el primer ciclo, obtendrás una certificación en metodologías ágiles (SCRUM), que te permitirá estructurar equipos y gestionar el trabajo mediante valores, principios y prácticas ágiles.
                                    
                                    ul.margin1tab
                                        li: h4 Laboratorios de innovación y simulación
                                            p Contamos con infraestructura y equipos de última generación para prácticas especializadas en cada laboratorio:
                                    
                                    ul.margin1tab
                                        h4 Laboratorios de innovación y simulación
                                    
                                    ul.margin10tab
                                        li Áreas para talleres de Creatividad
                                        li Áreas para Fabricación Digital
                                        li Áreas para Desarrollo Tecnológico, Digital y de Inteligencia Artificial
                                        li Ambiente para Realidad Virtual
                                        li Aulas híbridas
                                        li Equipos como: Lego Serious Play, impresoras 3D, scanner digitalizadores 3D, pizarras interactivas, equipos con Control Numérico por Computadora (CNC), brazos robóticos, Estación de Soldadura Eléctrica, entre otros.

                                    ul.margin1tab
                                        h4 Laboratorio de simulación
                                    
                                    ul.margin10tab
                                        li Realidad Virtual
                                        li Análisis de Ergonomía
                                        li Simuladores de Plantas Industriales
                                        li Simuladores de Procesos (Industria 4.0)
                                        li Manufactura Aditiva (Impresoras 3D)
                                        li Manufactura Sustractiva (CNC)
                                        li Instrumentos de medición de calidad de agua, aire, suelo, etc.
                                        li Equipos de simulación de energías renovables
                                        li Equipos de simulación de tratamiento de agua

                                    ul.margin1tab
                                        li: h4 Incubadora de negocios - BIOINCUBA
                                            p A través de Bioincuba, promovemos tus iniciativas empresariales, fomentando la exploración de nuevos procesos, productos y servicios basados en el conocimiento adquirido.
                                   
                                    ul.margin1tab
                                        li: h4 Convenios internacionales
                                            p Gracias a nuestros múltiples convenios podrás realizar intercambios con diversas universidades top internacionales de Europa, Norteamérica y Latinoamérica.
                                    
                                p Ahora que ya cuentas con un contexto amplio sobre de qué trata la carrera de ingeniería industrial, toma la mejor decisión y estudia en la universidad N.° 1 en Perú.
                                .bloque6LeftParagraphsTitle 
                                    h2 ¿Dónde estudiar la carrera de ingeniería industrial?
                                p Estudiar la carrera de ingeniería industrial en la Universidad Peruana Cayetano Heredia, no solo garantiza una formación académica de excelencia, sino también prácticas en nuestros modernos laboratorios. Te preparamos para generar valor en cualquier organización, con una visión globalizada y alta empleabilidad.
                                p En Cayetano, formamos profesionales con capacidad estratégica, innovación e investigación orientada a la acción en nuestras 4 ingenierías.
                                p Conoce nuestras 20 carreras de excelencia y descubre cuál es la opción que se adapta a tus metas.
                            .bloque6LeftLabels 
                                h3 Ciencias
                                h3 Ciencias
                                h3 Ciencias
                                h3 Ciencias
                                h3 Ciencias
                        .bloque6Right
                .bloque7Right
                    .bloque2ProgramRight.bloque2ProgramRightDesktop
                        .bloque2ProgramRightContainer
                            .bloque2ProgramRightContainerCategories
                            .bloque2ProgramRightContainerNewsletter 
                                .newsletterWhitespace
                                .newsletterContent
                                    .newsletterImage
                                        img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/tano-newletter.gif", alt="")
                                    .newsletterInfo
                                        h3 Conéctate con tu 
                                            span futuro en Cayetano
                                        p Recibe información sobre nuestros programas, consejos de orientación vocacional, beneficios y mucho más para ayudarte a decidir el camino que mejor se alinea con tus metas. 
                                        input(type="text" placeholder="Tu correo electrónico...")
                                        .newsletterInfoTerminos
                                            input(type="checkbox")
                                            h3 He leído y acepto la política de privacidad de Cayetano.
                                        button
                                            h3 Suscribirme
                                            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
        .bloque4 
            .bloque4Container
                .bloque4Banner
                    h3 Postula a Cayetano con Beca 18
                    h4 Valoramos tu 
                        span excelencia académica
                    button
                        h5 Conoce más 
                        img.keyframe-button-movement(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
                .bloque2ProgramLeft.bloque2IndividualLeft
                    .bloque2Title
                        h3 También podría interesarte
                    include includes/slider-ind/slider2.pug
        include includes/form/formBlog.pug
        footer
          .footerContainer
            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/logo-white.webp", alt="")
            .footerTexts
              h3 Campus Central:
              h3 Av. Honorio Delgado 430
              h3 Urb. Ingeniería, San Martín de Porres 
        script(src="../../js/script.js" defer)
        //- script(src="../../js/script-ind.js" defer)
        //- script(src="./js/script.js" defer)
        //- script(src="./js/script-ind.js" defer)
        script(src="https://unpkg.com/swiper/swiper-bundle.min.js")