doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv='Expires' content='0')
        meta(http-equiv='Last-Modified' content='0')
        meta(http-equiv='Cache-Control' content='no-cache, mustrevalidate')
        meta(http-equiv='Pragma' content='no-cache')
        title ¿Dónde estudiar enfermería en Perú?
        link(rel='preconnect' href='https://fonts.googleapis.com')
        //- link(rel="stylesheet", href="../../css/app.css")
        link(rel="stylesheet", href="./css/app.css")
        link(rel="stylesheet", href="https://unpkg.com/swiper/swiper-bundle.min.css")
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap' rel='stylesheet')
        <meta name="description" content="Descubre dónde estudiar la carrera de enfermería en Perú teniendo en cuenta aspectos importantes para tomar la mejor decisión.">
        <meta name="keywords" content="donde estudiar enfermeria, donde estudiar enfermería en peru, cuanto gana un licenciado en enfermeria en peru, campo laboral de la carrera de enfermeria​, porque estudiar enfermeria, cuantos años dura la carrera de enfermeria en peru, que cursos lleva la carrera de enfermeria">
    body
        .manuInner
            .manuInnerContainer
                .manuInnerHeader
                    img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/logo-1.webp", alt="")
                    h3.manuInnerClose X
                .manuInnerInfo
                    .manuInnerInfoSearch
                        input(type="text" id="buscar")
                        img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/icon-search.webp", alt="")
                        .search-dropdown
                            ul#options-search
                                li: a(href="") Apple
                                li Banana
                                li Cherry
                                li Date
                                li Elderberry
                                li Loquita
                    .manuInnerInfoContent
                        h3.manuInnerInfoContentBottom Blog Cayetano
                        h3.manuInnerInfoContentBottom Blog Pregrado
                        h3.manuInnerInfoContentBottom Blog PGE
                        h3 Blog Especialidades
            .manuInnerFooter
                .manuInnerFooterContainer
                    h3 Quiero ser de Cayetano
                    img.keyframe-button-movement(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
        .bloque1.bloque1Individual
          .bloque1Container
            .bloque1Logos
                img.blog-logo(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/logo-1.webp", alt="")
                .bloque1LogosSelect
                    h3.dropdown-btn Blog Cayetano
                    ul.dropdown-menu
                        li: a(href="https://blogs.cayetano.edu.pe/") Pregrado
                        li: a(href="#") Pge  
                        li: a(href="#") Especialidades
                .bloque1LogosSearch
                    input(type="text" id="buscar2" placeholder="Buscar...")
                    img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/icon-search.webp", alt="")
                    .search-dropdown2 
                        ul#options-search2
                            li Apple
                            li Banana
                            li Cherry
                            li Date
                            li Elderberry
                            li Loquita
                img.top-icon-mobile(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/icon-menu2.webp", alt="")
                button  
                    h3 Quiero ser de Cayetano
                    img.keyframe-button-movement(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
        .bloque6
            .bloque6Container
                .bloque6Calendar
                    .bloque6CalendarProgress
                        h5 Blog Cayetano
                        h5 |
                        h5 Blog Pregrado
                    .bloque6CalendarInfo
                        img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/calendar-icon-whit.webp", alt="")
                        h3 20 de diciembre del 2024
                    .bloque6Title
                        h3#first ¿Dónde estudiar enfermería en Perú?
                    .bloque6Item
                        h4.bloque6ItemIngenieria Ingeniería
        .bloque7.bloque7Individual
            .bloque7Container.bloque7ContainerIndividual
                .bloque7Left
                    .bloque6Flex
                        .bloque6Left
                            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/blog-individual-mobile.webp", alt="")
                            .bloque6LeftRedes
                                h3 Compartir en redes:
                                .bloque6LeftRedesContent
                                    img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/icon-fb.webp", alt="")
                                    img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/icon-ig.webp", alt="")
                                    img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/icon-in.webp", alt="")
                                    img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/icon-wp.webp", alt="")
                                    img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/icon-x.webp", alt="")
                                    img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/icon-link.webp", alt="")
                            .bloque6LeftIndex
                                h3.indexclicker Índice
                                .bloque6LeftIndexContent
                                    h4: a(href="#first") 1. ¿Qué estudia la medicina veterinaria?
                                    h4: a(href="#two") 2. ¿Qué es la carrera de medicina veterinaria y zootecnia?
                                    h4: a(href="#three") 3. Diferencia entre medicina veterinaria y zootecnia
                                    h4: a(href="#four") 4. Campo de trabajo de medicina veterinaria y zootecnia
                                    h4: a(href="#five") 5. ¿Cuánto cuesta la carrera de veterinaria y zootecnia?
                                    h4: a(href="#six") 6. ¿Dónde estudiar medicina veterinaria y zootecnia?
                            .bloque6LeftParagraphs
                                .bloque6LeftParagraphsTitle 
                                    h3(style="color:black;") ¿Dónde estudiar enfermería y por qué estudiarla?
                                p Ya tomaste la decisión, pero no sabes ¿dónde estudiar la carrera de enfermería? No te preocupes, aquí te contaremos los aspectos que debes tener en cuenta para elegir la universidad, que te ayudará a destacar como profesional y vivir tu vocación.  
                                p Además, conocerás los salarios que percibe un licenciado en enfermería y las oportunidades laborales de esta profesión. 
                                .bloque6LeftParagraphsTitle 
                                    h3(style="color:black;") ¿Dónde estudiar enfermería en Perú?
                                p Enfermería es una de las carreras más demandadas del país. Durante la pandemia, quedó clara la importancia de estos profesionales como pieza fundamental en el sistema de salud. Los licenciados en enfermería desempeñan roles de gestión, investigación, procedimientos médicos y brindan apoyo emocional a los pacientes.
                                p En Perú, existen diversas universidades públicas y privadas donde puedes estudiar esta carrera. Sin embargo, es importante elegir una institución reconocida por su excelencia académica. Según el ranking SUNEDU, la Universidad Peruana Cayetano Heredia es la mejor universidad del país, y su prestigio está respaldado por rankings internacionales como THE (Times Higher Education) y QS World University Ranking by Subject, que la destacan como la N.° 1 en Ciencias de la Salud.
                                p Además, si buscas una universidad con infraestructura moderna, convenios para prácticas y un internado remunerado en clínicas privadas, Cayetano es tu mejor opción.
                                p Elegir bien dónde estudiar enfermería puede marcar la diferencia en tu futuro profesional. Ahora que conoces la mejor alternativa, te preguntarás: ¿cuánto gana un licenciado en enfermería en Perú?
                                .bloque6LeftParagraphsTitle 
                                    h3(style="color:black;") ¿Cuánto gana un licenciado en enfermería en Perú?
                                p Según la Dirección de Investigación Socio Económico Laboral (DISEL) del Ministerio de Trabajo, Promoción y Empleo, el salario promedio mensual para los licenciados en enfermería de entre 18 y 29 años en Perú es de S/ 2493 en el año 2024. 
                                p Sin embargo, este sueldo puede variar según diversos factores, como la experiencia, el lugar de trabajo (sector público o privado) y la especialización. De hecho, algunos profesionales mayores de 30 años pueden llegar a ganar hasta S/ 6000.
                                p La enfermería es una de las profesiones más demandadas y valoradas en Perú, pues desempeñan un papel crucial en la atención médica, brindando cuidados especializados y apoyo a los pacientes.
                                p Si quieres conocer más sobre en qué consiste la carrera de enfermería y las asignaturas que abarca, te invitamos a leer nuestro artículo anterior y descubras si es la opción ideal para ti.
                                .bloque6LeftParagraphsTitle 
                                    h3(style="color:black;") Campo laboral de la carrera de enfermería
                                p Los profesionales de la carrera de enfermería tienen un amplio campo labora y pueden desempeñarse en áreas como:
                                p(style="margin-left:5rem;") - Hospitales y centros de salud 
                                    br
                                    | - Colegios y universidades
                                    br
                                    | - Empresas mineras y ONGs
                                    br
                                    | - Gobiernos regionales y municipales
                                    br
                                    | - Consultorios privados
                                    br
                                    | - Investigaciones
                                p Además, participan en la promoción de estilos de vida saludables y en la prevención de enfermedades, garantizando el bienestar y la recuperación física de las personas.
                                .bloque6LeftParagraphsTitle 
                                    h3(style="color:black;") ¿Por qué estudiar enfermería en Cayetano?
                                p Los egresados de la carrera de enfermería en Cayetano están preparados para manejar emergencias cardiovasculares, brindar atención en salas de operaciones y unidades de cuidados intensivos, aplicando tanto habilidades técnicas como un enfoque humano y emocional.
                                p Aquí tienes 8 razones para elegir esta carrera en nuestra universidad:
                                p(style="margin-left:5rem;")
                                    strong - Infraestructura y equipamiento moderno: 
                                    br  
                                    | Contamos con instalaciones de última tecnología como nuestro Centro de Simulación donde aprenderás a resolver situaciones de emergencia cardiovascular, proporcionar cuidados integrales en sala de operaciones y brindar cuidados especializados a adultos y neonatos con problemas de alta complejidad.
                                    br
                                    br
                                    strong - Plan de estudios integral: 
                                    br
                                    | La formación en Cayetano se centra en un aprendizaje teórico-práctico para prepararte para los desafíos del sector salud.
                                    br
                                    br
                                    | Desde el primer año, tendrás la oportunidad de practicar en el Centro de Simulación más grande y sofisticado de América Latina, el cual cuenta con un centro quirúrgico, la unidad de cuidados intensivos pediátricos y neonatales, la unidad de cuidados intensivos y emergencias y equipos biomédicos que te harán sentir como si estuvieras en un hospital.
                                    br
                                    br
                                    | A partir del segundo año, tendrás la oportunidad de aplicar tus conocimientos en escenarios reales como centros de salud, colegios, municipalidades y comunidades.
                                    br
                                    br
                                    strong - Docentes especializados: 
                                    br
                                    | Nuestros profesores son profesionales con amplia experiencia en el campo de la enfermería y salud, el cual recibirás una educación de alta calidad, basadas en prácticas y en los últimos avances del sector. 
                                    br
                                    br
                                    strong - Internado remunerado:
                                    br
                                    | Los estudiantes a partir del último año de estudio acceden a plazas remuneradas en clínicas privadas de prestigio. Este beneficio es asignado según tu orden de mérito. 
                                    br
                                    br
                                    strong - Acreditaciones:
                                    br
                                    | Contamos con acreditaciones nacionales como SINEACE (Sistema Nacional de Evaluación, Acreditación y Certificación de la Calidad Educativa) e internacionales como IAC-CINDA (Instituto Internacional para el Aseguramiento de la Calidad), que aseguran nuestra calidad educativa de excelencia.
                                    br
                                    br
                                    strong - Convenios internacionales:
                                    br
                                    | Amplía tus horizontes con intercambios estudiantiles en Colombia y España para potenciar tu perfil profesional.
                                    br
                                    br
                                    strong - Desarrollo de habilidades blandas:
                                    br
                                    | Además de la formación teórica y práctica, en Cayetano generamos en nuestros estudiantes competencias clave como comunicación, pensamiento crítico, empatía, trabajo en equipo, autogestión y ética profesional, esenciales en el campo laboral.
                                    br
                                    br
                                    strong - Acompañamiento estudiantil:
                                    br
                                    | Desde tu ingreso a Cayetano, contarás con el acompañamiento de tutores y docentes académicos que te guiarán en tu proceso de formación y te ayudarán a cumplir tu meta profesional.
                                p Estudiar enfermería en Cayetano te brinda una formación que combina excelencia académica, experiencia práctica y desarrollo integral para destacar en el campo de la salud. 
                                p Ahora que cuentas con un contexto amplio sobre la carrera de Enfermería, puedes iniciar tu proceso de admisión. ¡Da el primer paso hacia tu futuro en enfermería!
                                p ¿Quieres conocer más carreras? Explora nuestras 20 carreras de excelencia y estudia en la universidad N.° 1 en Perú.
                            .bloque6LeftLabels 
                                h3 Ciencias
                                h3 Ciencias
                                h3 Ciencias
                                h3 Ciencias
                                h3 Ciencias
                        .bloque6Right
                .bloque7Right
                    .bloque2ProgramRight.bloque2ProgramRightDesktop
                        .bloque2ProgramRightContainer
                            .bloque2ProgramRightContainerCategories
                            .bloque2ProgramRightContainerNewsletter 
                                .newsletterWhitespace
                                .newsletterContent
                                    .newsletterImage
                                        img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/tano-newletter.gif", alt="")
                                    .newsletterInfo
                                        h3 Conéctate con tu 
                                            span futuro en Cayetano
                                        p Recibe información sobre nuestros programas, consejos de orientación vocacional, beneficios y mucho más para ayudarte a decidir el camino que mejor se alinea con tus metas. 
                                        input(type="text" placeholder="Tu correo electrónico...")
                                        .newsletterInfoTerminos
                                            input(type="checkbox")
                                            h3 He leído y acepto la política de privacidad de Cayetano.
                                        button
                                            h3 Suscribirme
                                            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
        .bloque4 
            .bloque4Container
                .bloque4Banner
                    h3 Postula a Cayetano con Beca 18
                    h4 Valoramos tu 
                        span excelencia académica
                    button
                        h5 Conoce más 
                        img.keyframe-button-movement(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
                .bloque2ProgramLeft.bloque2IndividualLeft
                    .bloque2Title
                        h3 También podría interesarte
                    .bloque2Slider
                        .slider__container5.swiper.mySwiper5
                            .slider__grid5.swiper-wrapper
                                .slider__item5.swiper-slide
                                    .sliderItemInfo5
                                        .sliderItemInfo5Image
                                            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/invidivual-mobile-slider-image2.webp", alt="")
                                        .sliderItemInfo5Info
                                            .bloque4ItemContentCalendar
                                                img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/calendar-icon-whit.webp", alt="")
                                                h3 04
                                                h3 |
                                                h3 10
                                            h3 ¿Por qué elegir una universidad priorizada?
                                            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
                                            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
                                .slider__item5.swiper-slide
                                    .sliderItemInfo5
                                        .sliderItemInfo5Image
                                            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/invidivual-mobile-slider-image1.webp", alt="")
                                        .sliderItemInfo5Info
                                            .bloque4ItemContentCalendar
                                                img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/calendar-icon-whit.webp", alt="")
                                                h3 04
                                                h3 |
                                                h3 10
                                            h3 ¿Por qué elegir una universidad priorizada?
                                            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
                                            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
                                .slider__item5.swiper-slide
                                    .sliderItemInfo5
                                        .sliderItemInfo5Image
                                            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/invidivual-mobile-slider-image1.webp", alt="")
                                        .sliderItemInfo5Info
                                            .bloque4ItemContentCalendar
                                                img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/calendar-icon-whit.webp", alt="")
                                                h3 04
                                                h3 |
                                                h3 10
                                            h3 ¿Por qué elegir una universidad priorizada?
                                            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
                                            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
                                .slider__item5.swiper-slide
                                    .sliderItemInfo5
                                        .sliderItemInfo5Image
                                            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/invidivual-mobile-slider-image1.webp", alt="")
                                        .sliderItemInfo5Info
                                            .bloque4ItemContentCalendar
                                                img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/calendar-icon-whit.webp", alt="")
                                                h3 04
                                                h3 |
                                                h3 10
                                            h3 ¿Por qué elegir una universidad priorizada?
                                            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
                                            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
        .bloque5 
            .bloque5ImageDesktop 
            .bloque5Container
                h3 Déjanos tus datos y nos contactaremos contigo
                h3.bloque5ContainerTextDesktop Déjanos tus datos y 
                    br
                    | nos contactaremos contigo
                .bloque5ContainerInput
                    .bloque5ContainerInputGroupSelect
                        input(type="text" placeholder="Seleccionar programa")
                    .bloque5ContainerInputGroup
                        input(type="text" placeholder="Nombres*")
                        input(type="text" placeholder="Apellidos*")
                    .bloque5ContainerInputGroup
                        input(type="text" placeholder="Tipo de documento:*")
                        input(type="text" placeholder="Número de documento:*")
                    .bloque5ContainerInputGroup
                        input(type="text" placeholder="Celular:*")
                        input(type="text" placeholder="Correo electrónico:*")
                    input(type="text" placeholder="Selecciona una carrera o especialidad:*")
                .bloque5ContainerTerminos
                    input(type="checkbox")
                    h4 Acepto la Política de Privacidad y Proteccipon de Datos Personales.
                .bloque5ContainerAcepto
                    input(type="checkbox")
                    h4 No acepto.
                .bloque5Button
                    button
                        h3 Enviar
                        img.keyframe-button-movement(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
        footer
          .footerContainer
            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/logo-white.webp", alt="")
            .footerTexts
              h3 Campus Central:
              h3 Av. Honorio Delgado 430
              h3 Urb. Ingeniería, San Martín de Porres 
        //- script(src="../../js/script.js" defer)
        //- script(src="../../js/script-ind.js" defer)
        script(src="./js/script.js" defer)
        script(src="./js/script-ind.js" defer)
        script(src="https://unpkg.com/swiper/swiper-bundle.min.js")