doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv='Expires' content='0')
        meta(http-equiv='Last-Modified' content='0')
        meta(http-equiv='Cache-Control' content='no-cache, mustrevalidate')
        meta(http-equiv='Pragma' content='no-cache')
        title Malla curricular de ingeniería industrial y su campo laboral
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel="stylesheet", href="../../css/app.css")
        //- link(rel="stylesheet", href="./css/app.css")
        link(rel="stylesheet", href="https://unpkg.com/swiper/swiper-bundle.min.css")
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap' rel='stylesheet')
        <meta name="description" content="La malla curricular de Ingeniería Industrial te permite especializarte en diversas áreas, siendo una de las carreras más demandadas del mercado laboral.">
        <meta name="keywords" content="malla curricular ingenieria industrial, que cursos se lleva en ingenieria industrial​, campo laboral, ingenieria industrial, areas de la carrera de ingenieria industrial, ingenieria industrial perfil del egresado​">
    body
        .manuInner
            .manuInnerContainer
                .manuInnerHeader
                    img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/logo-1.webp", alt="")
                    h3.manuInnerClose X
                .manuInnerInfo
                    .manuInnerInfoSearch
                        input(type="text" id="buscar")
                        img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/icon-search.webp", alt="")
                        .search-dropdown
                            ul#options-search
                                li: a(href="") Apple
                                li Banana
                                li Cherry
                                li Date
                                li Elderberry
                                li Loquita
                    .manuInnerInfoContent
                        h3.manuInnerInfoContentBottom Blog Cayetano
                        h3.manuInnerInfoContentBottom Blog Pregrado
                        h3.manuInnerInfoContentBottom Blog PGE
                        h3 Blog Especialidades
            .manuInnerFooter
                .manuInnerFooterContainer
                    h3 Quiero ser de Cayetano
                    img.keyframe-button-movement(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
        .bloque1.bloque1Individual
          .bloque1Container
            .bloque1Logos
                img.blog-logo(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/logo-1.webp", alt="")
                .bloque1LogosSelect
                    h3.dropdown-btn Blog Cayetano
                    ul.dropdown-menu
                        li: a(href="") Pregrado
                        li: a(href="") Pge  
                        li: a(href="") Especialidades
                .bloque1LogosSearch
                    input(type="text" id="buscar2" placeholder="Buscar...")
                    img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/icon-search.webp", alt="")
                    .search-dropdown2 
                        ul#options-search2
                            li Apple
                            li Banana
                            li Cherry
                            li Date
                            li Elderberry
                            li Loquita
                img.top-icon-mobile(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/icon-menu2.webp", alt="")
                button  
                    h3 Quiero ser de Cayetano
                    img.keyframe-button-movement(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
        .bloque6
            .bloque6Container
                .bloque6Calendar
                    .bloque6CalendarProgress
                        h5 Blog Cayetano
                        h5 |
                        h5 Blog Pregrado
                    .bloque6CalendarInfo
                        img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/calendar-icon-whit.webp", alt="")
                        h3 14 de abril del 2024
                    .bloque6Title
                        h3#first Malla curricular de ingeniería industrial y su campo laboral
                    .bloque6Item
                        h4.bloque6ItemIngenieria Ingeniería
        .bloque7.bloque7Individual
            .bloque7Container.bloque7ContainerIndividual
                .bloque7Left
                    .bloque6Flex
                        .bloque6Left
                            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/blog-individual-mobile.webp", alt="")
                            .bloque6LeftRedes
                                h3 Compartir en redes:
                                .bloque6LeftRedesContent
                                    img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/icon-fb.webp", alt="")
                                    img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/icon-ig.webp", alt="")
                                    img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/icon-in.webp", alt="")
                                    img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/icon-wp.webp", alt="")
                                    img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/icon-x.webp", alt="")
                                    img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/icon-link.webp", alt="")
                            .bloque6LeftIndex
                                h3.indexclicker Índice
                                .bloque6LeftIndexContent
                                    h4: a(href="#first") 1. ¿Qué estudia la medicina veterinaria?
                                    h4: a(href="#two") 2. ¿Qué es la carrera de medicina veterinaria y zootecnia?
                                    h4: a(href="#three") 3. Diferencia entre medicina veterinaria y zootecnia
                                    h4: a(href="#four") 4. Campo de trabajo de medicina veterinaria y zootecnia
                                    h4: a(href="#five") 5. ¿Cuánto cuesta la carrera de veterinaria y zootecnia?
                                    h4: a(href="#six") 6. ¿Dónde estudiar medicina veterinaria y zootecnia?
                            .bloque6LeftParagraphs
                                .bloque6LeftParagraphsTitle 
                                    h3(style="color:black;") ¿Cuál es la malla curricular de Ingeniería Industrial?
                                p ¿Quieres ser un agente transformador en las organizaciones? Aquí te contamos cuáles son los cursos que se estudian en la carrera de ingeniería industrial, una de las carreras más demandadas en el mercado laboral. ¡Sigue leyendo!
                                p La carrera de ingeniería industrial en pregrado, te brinda una formación interdisciplinaria con cursos que integran ciencia, tecnología e innovación. Por ello, si te apasionan las matemáticas, las ciencias, resolver problemas de manera innovadora y te sientes cómodo trabajando en equipo, ¡esta podría ser tu carrera! Más adelante, te contaremos con mayor detalle todo sobre la malla curricular de ingeniería industrial, su campo laboral, áreas de la carrera y el perfil del egresado.
                                .bloque6LeftParagraphsTitle 
                                    h3(style="color:black;") ¿Qué cursos se lleva en Ingeniería Industrial?
                                p La carrera de ingeniería industrial está diseñada para brindarte un sólido conocimiento en aplicaciones técnicas, integrando ciencia, tecnología y administración. Su objetivo es formar profesionales capaces de optimizar procesos y liderar proyectos en diversos sectores.
                                p En Cayetano, a esta formación se le suma la innovación e investigación, preparándote para diagnosticar, diseñar, implementar, gestionar y optimizar operaciones en organizaciones a nivel nacional e internacional. Además, ofrece una malla curricular con concentraciones en áreas específicas como Operaciones y Procesos, Ingeniería de Gestión y Transformación Digital.
                                p Un aspecto destacado en la carrera es la obtención de certificaciones progresivas, que te permiten insertarte en el mercado laboral antes de graduarte. A continuación, el detalle:
                                p Nuestra carrera de ingeniería industrial, te da el balance perfecto para que estudies con flexibilidad, con cursos en modalidad presencial, semipresencial y no presencial, manteniendo la misma exigencia y excelencia académica que nos caracteriza. 
                                p La malla curricular incluye cursos actualizados y alineados con las demandas del mercado, como:
                                p(style="margin-left:5rem;") 
                                    strong 1. Introducción a la Ingeniería Industrial
                                    br
                                    | Proporciona una visión general de la carrera, explorando sus fundamentos, aplicaciones y el papel del ingeniero industrial en distintos sectores.
                                    br
                                    br
                                    strong 2. Fundamentos de Programación
                                    br
                                    | Proporciona una visión general de la carrera, explorando sus fundamentos, aplicaciones y el papel del ingeniero industrial en distintos sectores.
                                    br
                                    br
                                    strong 3. Contabilidad y Costos
                                    br
                                    | Proporciona herramientas para gestionar recursos financieros, con un enfoque en costos y presupuestos en entornos industriales.
                                    br
                                    br
                                    strong 4. Procesos de Innovación en Ingeniería
                                    br
                                    | Fomenta la creatividad y el desarrollo de ideas innovadoras para mejorar procesos y sistemas en la ingeniería.
                                    br
                                    br
                                    strong 5. Fundamentos de Diseño
                                    br
                                    | Explora las bases del diseño técnico y creativo, aplicadas a la solución de problemas industriales.
                                    br
                                    br
                                    strong 6. Marketing Strategies
                                    br
                                    | Explora estrategias de mercadeo aplicadas al posicionamiento de productos y servicios dentro de mercados industriales.
                                    br
                                    br
                                    strong 7. Entrepreneurship and Innovation
                                    br
                                    | Fomenta al emprendimiento y al desarrollo de proyectos innovadores en el ámbito industrial.
                                    br
                                    br
                                    strong 8. Supply Chain Management
                                    br
                                    | Examina la gestión eficiente de cadenas de suministro, desde la adquisición de materias primas hasta la entrega al cliente final.
                                    br
                                    br
                                    strong 9. Gestión del Talento Humano
                                    br
                                    | Desarrolla habilidades para liderar equipos, fomentar el desarrollo del personal y manejar recursos humanos en entornos industriales.
                                    br
                                    br
                                    strong 10. Data Science
                                    br
                                    | Introduce conceptos de análisis de datos, big data y machine learning aplicados a problemas industriales.
                                p Esta variedad de cursos te permitirá desarrollar competencias en ciencias, gestión tecnológica e innovación, posicionándote como un profesional competitivo en el mercado laboral.
                                .bloque6LeftParagraphsTitle 
                                    h3(style="color:black;") Campo laboral de la carrera de Ingeniería Industrial
                                p La ingeniería industrial es una de las carreras más demandadas por las industrias debido a su amplio campo de acción, que abarca desde la optimización de procesos hasta la gestión de recursos y la innovación en proyectos.
                                p(style="margin-left:5rem;") Ocupa el 3.º lugar entre las profesiones con mayor empleabilidad en Perú.
                                    | Fuente: Encuesta de Demanda Ocupacional (EDO) del Ministerio de Trabajo y Promoción de Empleo (2024).
                                p Su versatilidad permite a los profesionales desempeñarse en diversos sectores a nivel nacional e internacional; aquí te mencionamos algunos de los campos donde nuestros egresados laboran:
                                p(style="margin-left:5rem;") - Industrias manufactureras
                                    br
                                    | - Consultoras, certificadoras y empresas de proyectos
                                    br
                                    | - Empresas logísticas, del sector marítimo-portuario y exportadoras
                                    br
                                    | - Consorcios de empresas
                                    br
                                    | - Industrias farmacéuticas
                                    br
                                    | - Empresas relacionadas a la industria de las comunicaciones
                                    br
                                    | - Entidades públicas
                                    br
                                    | - Industrias de la minería
                                    br
                                    | - Empresas agroindustriales
                                    br
                                    | - Empresas de servicios
                                p Los ingenieros industriales son requeridos en todo tipo de organizaciones, desde pequeñas empresas hasta grandes corporaciones. Si estás considerando esta carrera, descubre más sobre de qué trata la ingeniería industrial y da el primer paso hacia tu futuro profesional.
                                .bloque6LeftParagraphsTitle 
                                    h3(style="color:black;") Áreas de la carrera de Ingeniería Industrial
                                p Las principales áreas de la carrera de ingeniería industrial en las que podrías trabajar son:
                                p(style="margin-left:5rem;")
                                    strong Logística y distribución
                                    br
                                    br
                                    | Diseña sistemas eficientes para el transporte, almacenamiento y distribución de productos, optimizando recursos y minimizando costos para garantizar la entrega al cliente final.
                                    br
                                    br
                                    strong Gestión de la producción y operaciones
                                    br
                                    br
                                    | Planifica, programa y supervisa sistemas productivos y operativos para maximizar la productividad y garantizar la calidad en los procedimientos de una empresa.
                                    br
                                    br
                                    strong Gestión de la calidad
                                    br
                                    br
                                    | Los profesionales de la carrera de ingeniería industrial implementan sistemas y metodologías que productos y servicios cumplan con los estándares establecidos.
                                    br
                                    br
                                    strong Ingeniería de procesos
                                    br
                                    br
                                    | Se encarga en analizar, diseñar y mejorar los procesos industriales para hacerlos más eficientes y sostenibles.
                                    br
                                    br
                                    strong Seguridad Industrial y Ergonomía
                                    br
                                    br
                                    | Desarrolla normativas de seguridad e higiene laboral, prevenir riesgos, y supervisar el cumplimiento de estándares gubernamentales para garantizar la salud en el trabajo.
                                    br
                                    br
                                    strong Innovación y Desarrollo Empresarial
                                    br
                                    br
                                    | Se encarga de la creación de soluciones innovadoras y estrategias de emprendimiento que mejoren la competitividad y promuevan el crecimiento empresarial.
                                    br
                                    br
                                    strong Gestión Financiera y Económica
                                    br
                                    br
                                    | Los ingenieros industriales destacan en áreas administrativas, financieras y económicas, impulsando el valor empresarial con innovación y nuevas oportunidades de inversión. 
                                .bloque6LeftParagraphsTitle 
                                    h3(style="color:black;") Perfil del egresado de Ingeniería Industrial de Cayetano
                                p Un ingeniero industrial es un agente transformador en las organizaciones con la capacidad de investigar, diagnosticar y solucionar problemas de productividad mediante enfoques innovadores. Es un profesional creativo y curioso, con habilidades para gestionar proyectos de mejora continua.
                                p Como egresado de ingeniería industrial en Cayetano, estarás preparado para:
                                p(style="margin-left:5rem;") - Liderar procesos y aplicar tecnologías digitales en todas las operaciones que hoy en día las empresas requieren.
                                    br
                                    br
                                    | - Resolver problemas complejos mediante la aplicación de principios de matemáticas, ciencias e ingeniería.
                                    br
                                    br
                                    | - Aplicar herramientas para diseñar y mejorar sistemas integrados que ofrezcan productos y servicios sostenibles.
                                    br
                                    br
                                    | - Optimizar operaciones con criterios de productividad, tecnología y calidad, contribuyendo a la transformación organizacional de manera ética y responsable.
                                    br
                                    br
                                    | - Proponer soluciones innovadoras, con un enfoque integral y estratégico para promover el cambio tecnológico.
                                p Además, la carrera te ofrece la posibilidad de emprender, apoyado por Bioencuba, nuestra incubadora de negocios, que impulsa tus iniciativas, ya sea creando nuevos procesos, productos o servicios.
                                p Estos conocimientos se complementan con la experiencia y el apoyo de profesionales de otras áreas. Al ser una carrera interdisciplinaria, te permitirá desarrollar habilidades para desempeñarte en diversas áreas.
                                p Como puedes ver, la carrera de ingeniería industrial es amplia y te ofrece múltiples oportunidades para desempeñarte en diferentes sectores, lo que te permitirá adaptarte a un entorno profesional en constante cambio y evolución.
                                p Recuerda que Cayetano ofrece 20 carreras de excelencia, que te preparan para destacar internacionalmente a través de prácticas en escenarios reales e intercambios académicos.
                            .bloque6LeftLabels 
                                h3 Ciencias
                                h3 Ciencias
                                h3 Ciencias
                                h3 Ciencias
                                h3 Ciencias
                        .bloque6Right
                .bloque7Right
                    .bloque2ProgramRight.bloque2ProgramRightDesktop
                        .bloque2ProgramRightContainer
                            .bloque2ProgramRightContainerCategories
                            .bloque2ProgramRightContainerNewsletter 
                                .newsletterWhitespace
                                .newsletterContent
                                    .newsletterImage
                                        img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/tano-newletter.gif", alt="")
                                    .newsletterInfo
                                        h3 Conéctate con tu 
                                            span futuro en Cayetano
                                        p Recibe información sobre nuestros programas, consejos de orientación vocacional, beneficios y mucho más para ayudarte a decidir el camino que mejor se alinea con tus metas. 
                                        input(type="text" placeholder="Tu correo electrónico...")
                                        .newsletterInfoTerminos
                                            input(type="checkbox")
                                            h3 He leído y acepto la política de privacidad de Cayetano.
                                        button
                                            h3 Suscribirme
                                            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
        .bloque4 
            .bloque4Container
                .bloque4Banner
                    h3 Postula a Cayetano con Beca 18
                    h4 Valoramos tu 
                        span excelencia académica
                    button
                        h5 Conoce más 
                        img.keyframe-button-movement(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
                .bloque2ProgramLeft.bloque2IndividualLeft
                    .bloque2Title
                        h3 También podría interesarte
                    .bloque2Slider
                        .slider__container5.swiper.mySwiper5
                            .slider__grid5.swiper-wrapper
                                .slider__item5.swiper-slide
                                    .sliderItemInfo5
                                        .sliderItemInfo5Image
                                            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/invidivual-mobile-slider-image2.webp", alt="")
                                        .sliderItemInfo5Info
                                            .bloque4ItemContentCalendar
                                                img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/calendar-icon-whit.webp", alt="")
                                                h3 04
                                                h3 |
                                                h3 10
                                            h3 ¿Por qué elegir una universidad priorizada?
                                            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
                                            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
                                .slider__item5.swiper-slide
                                    .sliderItemInfo5
                                        .sliderItemInfo5Image
                                            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/invidivual-mobile-slider-image1.webp", alt="")
                                        .sliderItemInfo5Info
                                            .bloque4ItemContentCalendar
                                                img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/calendar-icon-whit.webp", alt="")
                                                h3 04
                                                h3 |
                                                h3 10
                                            h3 ¿Por qué elegir una universidad priorizada?
                                            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
                                            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
                                .slider__item5.swiper-slide
                                    .sliderItemInfo5
                                        .sliderItemInfo5Image
                                            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/invidivual-mobile-slider-image1.webp", alt="")
                                        .sliderItemInfo5Info
                                            .bloque4ItemContentCalendar
                                                img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/calendar-icon-whit.webp", alt="")
                                                h3 04
                                                h3 |
                                                h3 10
                                            h3 ¿Por qué elegir una universidad priorizada?
                                            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
                                            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
                                .slider__item5.swiper-slide
                                    .sliderItemInfo5
                                        .sliderItemInfo5Image
                                            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/invidivual-mobile-slider-image1.webp", alt="")
                                        .sliderItemInfo5Info
                                            .bloque4ItemContentCalendar
                                                img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/calendar-icon-whit.webp", alt="")
                                                h3 04
                                                h3 |
                                                h3 10
                                            h3 ¿Por qué elegir una universidad priorizada?
                                            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
                                            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
        .bloque5 
            .bloque5ImageDesktop 
            .bloque5Container
                h3 Déjanos tus datos y nos contactaremos contigo
                h3.bloque5ContainerTextDesktop Déjanos tus datos y 
                    br
                    | nos contactaremos contigo
                .bloque5ContainerInput
                    .bloque5ContainerInputGroupSelect
                        input(type="text" placeholder="Seleccionar programa")
                    .bloque5ContainerInputGroup
                        input(type="text" placeholder="Nombres*")
                        input(type="text" placeholder="Apellidos*")
                    .bloque5ContainerInputGroup
                        input(type="text" placeholder="Tipo de documento:*")
                        input(type="text" placeholder="Número de documento:*")
                    .bloque5ContainerInputGroup
                        input(type="text" placeholder="Celular:*")
                        input(type="text" placeholder="Correo electrónico:*")
                    input(type="text" placeholder="Selecciona una carrera o especialidad:*")
                .bloque5ContainerTerminos
                    input(type="checkbox")
                    h4 Acepto la Política de Privacidad y Proteccipon de Datos Personales.
                .bloque5ContainerAcepto
                    input(type="checkbox")
                    h4 No acepto.
                .bloque5Button
                    button
                        h3 Enviar
                        img.keyframe-button-movement(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
        footer
          .footerContainer
            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/logo-white.webp", alt="")
            .footerTexts
              h3 Campus Central:
              h3 Av. Honorio Delgado 430
              h3 Urb. Ingeniería, San Martín de Porres 
        script(src="../../js/script.js" defer)
        script(src="../../js/script-ind.js" defer)
        //- script(src="./js/script.js" defer)
        //- script(src="./js/script-ind.js" defer)
        script(src="https://unpkg.com/swiper/swiper-bundle.min.js")