doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv='Expires' content='0')
        meta(http-equiv='Last-Modified' content='0')
        meta(http-equiv='Cache-Control' content='no-cache, mustrevalidate')
        meta(http-equiv='Pragma' content='no-cache')
        title Malla curricular de Biología: conoce los cursos de esta carrera
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel="stylesheet", href="../../css/app.css")
        //- link(rel="stylesheet", href="./css/app.css")
        link(rel="icon" type="image/x-icon" href="../../favicon.png")
        link(rel="stylesheet", href="https://unpkg.com/swiper/swiper-bundle.min.css")
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap' rel='stylesheet')
        <meta name="description" content="La malla curricular de Biología está diseñada para ofrecerte una formación integral, combinando teoría y práctica desde el inicio de tu carrera.">
        <meta name="keywords" content="malla curricular biologia, cursos de biologia, carrera de biologia, cayetano heredia, estudiar biologia, cuanto dura la carrera de biologia, que hace un biologo​">
        <script src="https://www.google.com/recaptcha/api.js" async="" defer=""></script>
    body
        include includes/menu/menuMobile.pug
        .bloque1.bloque1Individual
          .bloque1Container
            .bloque1Logos
                img.blog-logo(src="https://blogs.cayetano.edu.pe/img/logo-1.webp", alt="", onclick="window.open('https://blogs.cayetano.edu.pe/', '_self')")
                .bloque1LogosSelect
                    h3.dropdown-btn Blog Cayetano
                    ul.dropdown-menu
                        li: a(href="https://blogs.cayetano.edu.pe/pregrado/") Pregrado
                        li: a(href="") Pge  
                        li: a(href="") Especialidades
                include includes/search/searchDesktop.pug
                img.top-icon-mobile(src="https://blogs.cayetano.edu.pe/img/icon-menu2.webp", alt="")
                button(onclick="window.open('https://lp.cayetano.edu.pe/admision-cayetano/?utm_campaign=pregrado-aon&utm_term=generico&utm_source=blog&utm_medium=organic&utm_content=botonpostula', '_self')")    
                    h3 Quiero ser de Cayetano
                    img.keyframe-button-movement(src="https://blogs.cayetano.edu.pe/img/arrow-black-button.webp", alt="")
        .bloque6
            .bloque6Container
                .bloque6Calendar
                    .bloque6CalendarProgress
                        h5(onclick="window.open('https://blogs.cayetano.edu.pe/', '_self')") Blog Cayetano
                        h5 |
                        h5(onclick="window.open('https://blogs.cayetano.edu.pe/pregrado/', '_self')") Blog Pregrado
                    .bloque6CalendarInfo
                        img(src="https://blogs.cayetano.edu.pe/img/calendar-icon-whit.webp", alt="")
                        h3 19 de diciembre del 2024
                    .bloque6Title
                        h1#first Malla curricular de Biología: ¿Qué cursos estudian los futuros profesionales de esta carrera?
                    .bloque6Item
                        h4.bloque6ItemCiencias Biología
        .bloque7.bloque7Individual
            .bloque7Container.bloque7ContainerIndividual
                .bloque7Left
                    .bloque6Flex
                        .bloque6Left
                            img(src="https://blogs.cayetano.edu.pe/img/image-nota-14.webp", alt="")
                            .bloque6LeftRedes
                                h3 Compartir en redes:
                                .bloque6LeftRedesContent
                                    img(src="https://blogs.cayetano.edu.pe/img/icon-fb.webp", alt="", onclick="window.open(`https://www.facebook.com/sharer/sharer.php?u=${encodeURIComponent(window.location.href)}`, '_self')")
                                    img(src="https://blogs.cayetano.edu.pe/img/icon-wp.webp", alt="", onclick="window.open(`https://api.whatsapp.com/send?text=${encodeURIComponent(window.location.href)}`, '_self')")
                                    img(src="https://blogs.cayetano.edu.pe/img/icon-x.webp", alt="", onclick="window.open(`https://x.com/intent/post?text=${encodeURIComponent(window.location.href)}`, '_self')")
                                    img(src="https://blogs.cayetano.edu.pe/img/icon-link.webp", alt="", onclick="window.open(`https://www.linkedin.com/sharing/share-offsite/?url=${encodeURIComponent(window.location.href)}`, '_self')")
                            .bloque6LeftIndex
                                h3.indexclicker Índice
                                .bloque6LeftIndexContent
                                    ol 
                                        li: a(href="#h-uno"): h2 ¿Qué temas se estudian en biología?
                                        li: a(href="#h-dos"): h2 ¿Cuánto dura la carrera de Biología?
                                        li: a(href="#h-tres"): h2 ¿Qué hace un biólogo?
                            .bloque6LeftParagraphs
                                p Si estás considerando estudiar Biología y quieres saber qué cursos llevarás durante la carrera, esta es la nota perfecta para ti. <strong>La malla curricular de Biología está pensada para brindarte una formación integral que combina teoría y práctica desde el primer ciclo</strong>.
                                p En los dos primeros ciclos, cursarás asignaturas generales esenciales como Matemáticas y Comunicación y Redacción, que te proporcionarán una base sólida para tu formación académica. Además, la malla curricular de Biología <strong>incluye el aprendizaje del idioma inglés</strong>, el cual se desarrolla progresivamente hasta el cuarto ciclo, fortaleciendo tus competencias para un entorno profesional global.
                                p ¡Prepárate para ser parte de una carrera que combina el conocimiento científico con el compromiso de cuidar y entender el mundo natural!
                                .bloque6LeftParagraphsTitle 
                                    h2#h-uno ¿Qué temas se estudian en biología?
                                p La malla curricular de Biología en Cayetano Heredia está diseñada para formar profesionales con un sólido conocimiento científico y habilidades prácticas que les permitan comprender y abordar los desafíos de las ciencias biológicas.
                                p A lo largo de diez ciclos académicos, los estudiantes desarrollan competencias en áreas fundamentales como <strong>la química, la física, la genética y la ecología</strong>, complementadas con herramientas modernas como la bioinformática y la biología molecular. 
                                p Además, el plan incluye cursos de formación integral en ética, comunicación y sostenibilidad, <strong>promoviendo un enfoque interdisciplinario y responsable hacia la investigación y el cuidado del medio ambiente</strong>.
                                p Este recorrido académico culmina con asignaturas electivas y un trabajo de investigación que permiten a los futuros biólogos especializarse en sus áreas de interés y contribuir al avance del conocimiento científico.
                                p Estos son los cursos de Biología que llevarás si decides elegir esta carrera.
                                h3.margin3tab Primer ciclo
                                ul.margin4tab
                                    li Matemáticas
                                    li Biología
                                    li Química 
                                    li Comunicación y Redacción I
                                    li Ciencias Sociales
                                    li Actividad Complementaria
                                    li Inglés I
                                h3.margin3tab Segundo ciclo
                                ul.margin4tab
                                    li Biología II
                                    li Filosofía y Ética
                                    li Comunicación y Redacción II
                                    li Matemáticas II
                                    li Química II
                                    li Inglés II
                                    li Cultura ambiental y Desarrollo sostenible
                                h3.margin3tab Tercer ciclo
                                ul.margin4tab
                                    li Química orgánica
                                    li Física
                                    li Botánica General
                                    li Estadística y probabilidades
                                    li Inglés III
                                    li Historia del pensamiento científico
                                h3.margin3tab Cuarto ciclo
                                ul.margin4tab
                                    li Zoología general
                                    li Fisicoquímica
                                    li Computación
                                    li Investigación científica
                                    li Física II
                                    li Inglés IV
                                h3.margin3tab Quinto ciclo
                                ul.margin4tab
                                    li Estadística aplicada a la investigación
                                    li Bioquímica
                                    li Ecología
                                    li Genética general
                                    li Actividad complementaria
                                h3.margin3tab Sexto ciclo
                                ul.margin4tab
                                    li Microbiología general
                                    li Biología molecular de la célula
                                    li Introducción al estudio de las ciencias ambientales
                                    li Investigación científica II
                                    li Principios de la fisiología
                                h3.margin3tab Séptimo ciclo
                                ul.margin4tab
                                    li Evolución
                                    li Ética e investigación
                                    li Biología celular
                                    li Fisiología sistemas
                                    li Asignaturas electivas I
                                    li Bioinformatics I
                                h3.margin3tab Octavo ciclo
                                ul.margin4tab
                                    li Biología del desarrollo
                                    li Inmunología general
                                    li Asignaturas electivas II
                                h3.margin3tab Noveno ciclo
                                ul.margin4tab
                                    li Asignaturas electivas III
                                    li Actividad complementaria III
                                h3.margin3tab Décimo ciclo
                                ul.margin4tab
                                    li Trabajo de investigación
                                    li Asignaturas electivas IV
                                    li Actividad complementaria IV
                                p Ahora, si quieres conocer el origen de la biología y su historia, échale un vistazo a nuestra nota <span onclick="window.open('https://blogs.cayetano.edu.pe/pregrado/que-estudia-biologia/', '_self')"><strong>¿Qué estudia la biología y cuáles son sus ramas?</strong></span>
                                .bloque6LeftParagraphsTitle 
                                    h2#h-dos ¿Cuánto dura la carrera de biología?
                                p La carrera de Biología en Cayetano Heredia tiene una duración de 5 años, lo que equivale a 10 ciclos académicos en un modelo semestral. Sin embargo, esto puede variar ligeramente dependiendo de la universidad y el país donde se curse
                                .bloque6LeftParagraphsTitle 
                                    h2#h-tres ¿Qué hace un biólogo?
                                p Un biólogo <strong>se dedica al estudio de los seres vivos y su relación con el entorno, abarcando desde organismos microscópicos hasta ecosistemas completos</strong>. Sus actividades incluyen investigar procesos biológicos, analizar datos científicos y desarrollar soluciones en áreas como la salud, la conservación ambiental, la agricultura y la biotecnología. 
                                p Dependiendo de su especialización, un biólogo puede trabajar en laboratorios, realizar estudios de campo, asesorar en proyectos sostenibles o desarrollar aplicaciones tecnológicas basadas en procesos naturales. Su objetivo principal es comprender la vida para mejorar la calidad de la misma y proteger el equilibrio natural del planeta.
                                p <strong>¿Te imaginas dedicándote a esto?</strong> Ahora que conoces la malla curricular de Biología, es el momento de dar el siguiente paso. En Cayetano, te esperamos con las puertas abiertas para comenzar juntos este emocionante camino.
                        .bloque6Right
                .bloque7Right
                    .bloque2ProgramRight.bloque2ProgramRightDesktop
                        .bloque2ProgramRightContainer
                            .bloque2ProgramRightContainerCategories
                            .bloque2ProgramRightContainerNewsletter 
                                include includes/newletter/innerLetter.pug
                                //- .newsletterWhitespace
                                //- .newsletterContent
                                //-     .newsletterImage
                                //-         img(src="https://blogs.cayetano.edu.pe/img/tano-newletter.gif", alt="")
                                //-     .newsletterInfo
                                //-         h3 Conéctate con tu 
                                //-             span futuro en Cayetano
                                //-         p Recibe información sobre nuestros programas, consejos de orientación vocacional, beneficios y mucho más para ayudarte a decidir el camino que mejor se alinea con tus metas. 
                                //-         input(type="text" placeholder="Tu correo electrónico...")
                                //-         .newsletterInfoTerminos
                                //-             input(type="checkbox")
                                //-             h3 He leído y acepto la política de privacidad de Cayetano.
                                //-         button
                                //-             h3 Suscribirme
                                //-             img(src="https://blogs.cayetano.edu.pe/img/arrow-black-button.webp", alt="")
        .bloque4 
            .bloque4Container
                .bloque4Banner
                    .bloque4BannerLeft
                        h3 Inicia la mejor estapa de tu vida
                        h4 en la universidad de la <span>excelencia</span>
                    button(onclick="window.open('https://lp.cayetano.edu.pe/admision-cayetano/?utm_campaign=pregrado-aon&utm_term=medicina-veterinaria&utm_source=blog&utm_medium=organic&utm_content=banner-2-n14', '_self')")
                        h5 Conoce más 
                        img.keyframe-button-movement(src="https://blogs.cayetano.edu.pe/img/arrow-black-button.webp", alt="")
                .bloque2ProgramLeft.bloque2IndividualLeft
                    .bloque2Title
                        h3 También podría interesarte
                    include includes/slider-ind/slider2.pug
        include includes/form/formBlog.pug
        footer
          .footerContainer
            img(src="https://blogs.cayetano.edu.pe/img/logo-white.webp", alt="")
            .footerTexts
              h3 Campus Central:
              h3 Av. Honorio Delgado 430
              h3 Urb. Ingeniería, San Martín de Porres 
        script(src="../../js/script.js" defer)
        //- script(src="./js/script.js" defer)
        script(src="https://unpkg.com/swiper/swiper-bundle.min.js")