doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv='Expires' content='0')
        meta(http-equiv='Last-Modified' content='0')
        meta(http-equiv='Cache-Control' content='no-cache, mustrevalidate')
        meta(http-equiv='Pragma' content='no-cache')
        title ¿Cuánto es la mensualidad en Cayetano Heredia?
        link(rel='preconnect' href='https://fonts.googleapis.com')
        //- link(rel="stylesheet", href="../../css/app.css")
        link(rel="stylesheet", href="./css/app.css")
        link(rel="stylesheet", href="https://unpkg.com/swiper/swiper-bundle.min.css")
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap' rel='stylesheet')
        <meta name="description" content="Conoce la mensualidad de nuestras carreras de excelencia para una educación de calidad.">
        <meta name="keywords" content="cayetano heredia mensualidad, cuanto es la mensualidad en cayetano heredia, lista de carreras en cayetano, mensualidad de carrera de biología en cayetano heredia, carrera estomatologia, mensualidad farmacia y bioquimica, ingenieria biomedica mensualidad, mensualidad medicina, mensualidad veterinaria​">
    body
        .manuInner
            .manuInnerContainer
                .manuInnerHeader
                    img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/logo-1.webp", alt="")
                    h3.manuInnerClose X
                .manuInnerInfo
                    .manuInnerInfoSearch
                        input(type="text" id="buscar")
                        img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/icon-search.webp", alt="")
                        .search-dropdown
                            ul#options-search
                                li: a(href="") Apple
                                li Banana
                                li Cherry
                                li Date
                                li Elderberry
                                li Loquita
                    .manuInnerInfoContent
                        h3.manuInnerInfoContentBottom Blog Cayetano
                        h3.manuInnerInfoContentBottom Blog Pregrado
                        h3.manuInnerInfoContentBottom Blog PGE
                        h3 Blog Especialidades
            .manuInnerFooter
                .manuInnerFooterContainer
                    h3 Quiero ser de Cayetano
                    img.keyframe-button-movement(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
        .bloque1.bloque1Individual
          .bloque1Container
            .bloque1Logos
                img.blog-logo(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/logo-1.webp", alt="")
                .bloque1LogosSelect
                    h3.dropdown-btn Blog Cayetano
                    ul.dropdown-menu
                        li: a(href="") Pregrado
                        li: a(href="") Pge  
                        li: a(href="") Especialidades
                .bloque1LogosSearch
                    input(type="text" id="buscar2" placeholder="Buscar...")
                    img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/icon-search.webp", alt="")
                    .search-dropdown2 
                        ul#options-search2
                            li Apple
                            li Banana
                            li Cherry
                            li Date
                            li Elderberry
                            li Loquita
                img.top-icon-mobile(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/icon-menu2.webp", alt="")
                button  
                    h3 Quiero ser de Cayetano
                    img.keyframe-button-movement(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
        .bloque6
            .bloque6Container
                .bloque6Calendar
                    .bloque6CalendarProgress
                        h5 Blog Cayetano
                        h5 |
                        h5 Blog Pregrado
                    .bloque6CalendarInfo
                        img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/calendar-icon-whit.webp", alt="")
                        h3 14 de abril del 2024
                    .bloque6Title
                        h3#first ¿Cuánto es la mensualidad en Cayetano Heredia?
                    .bloque6Item
                        h4.bloque6ItemIngenieria Ingeniería
        .bloque7.bloque7Individual
            .bloque7Container.bloque7ContainerIndividual
                .bloque7Left
                    .bloque6Flex
                        .bloque6Left
                            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/blog-individual-mobile.webp", alt="")
                            .bloque6LeftRedes
                                h3 Compartir en redes:
                                .bloque6LeftRedesContent
                                    img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/icon-fb.webp", alt="")
                                    img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/icon-ig.webp", alt="")
                                    img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/icon-in.webp", alt="")
                                    img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/icon-wp.webp", alt="")
                                    img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/icon-x.webp", alt="")
                                    img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/icon-link.webp", alt="")
                            .bloque6LeftIndex
                                h3.indexclicker Índice
                                .bloque6LeftIndexContent
                                    h4: a(href="#first") 1. ¿Qué estudia la medicina veterinaria?
                                    h4: a(href="#two") 2. ¿Qué es la carrera de medicina veterinaria y zootecnia?
                                    h4: a(href="#three") 3. Diferencia entre medicina veterinaria y zootecnia
                                    h4: a(href="#four") 4. Campo de trabajo de medicina veterinaria y zootecnia
                                    h4: a(href="#five") 5. ¿Cuánto cuesta la carrera de veterinaria y zootecnia?
                                    h4: a(href="#six") 6. ¿Dónde estudiar medicina veterinaria y zootecnia?
                            .bloque6LeftParagraphs
                                .bloque6LeftParagraphsTitle 
                                    h3(style="color:black;") Cayetano Heredia mensualidad: ¿cuáles son los costos de nuestras carreras?
                                p Estudiar en la Universidad Cayetano Heredia te da acceso a una educación de alta calidad, donde te preparan para ser un profesional de excelencia con un plan de estudios que combina teoría y práctica. Además, Cayetano destaca por su variedad de más de 20 carreras de excelencia reconocidas en áreas como gestión, ingeniería, educación, salud y ciencias, ofreciendo múltiples opciones para alcanzar tus metas profesionales.
                                p El costo de estudiar en Cayetano varía según la carrera, pero la universidad ofrece opciones de financiamiento y becas para que puedas acceder a la mejor educación  sin preocupaciones.
                                .bloque6LeftParagraphsTitle 
                                    h3(style="color:black;") ¿Cuánto es la mensualidad en Cayetano Heredia?
                                p 
                                    strong Mensualidad por carrera
                                    br
                                    | Las mensualidades dependen de la escala en la que te ubiques, determinada por los ingresos familiares. Este sistema permite que la educación sea accesible y equitativa para todos los estudiantes. Además, la universidad brinda asesoría personalizada para ayudarte a planificar tus pagos de manera eficiente. Consulta la lista de carreras y encuentra la que se ajuste a tus intereses. 
                                p 
                                    strong Mensualidad biología
                                    br
                                    | Si siempre te has preguntado cómo funciona la naturaleza o te apasiona comprender los procesos que dieron origen a la vida, estudiar Biología en Cayetano es para ti. Durante la carrera, recibirás herramientas teóricas y prácticas que fortalecerán tus capacidades en investigación y análisis científico. 
                                    br
                                    br
                                    |  La mensualidad para la carrera de Biología en Cayetano varía entre S/2,841 - S/3,551 soles, dependiendo de la escala asignada según los ingresos familiares.
                                p 
                                    strong Mensualidad estomatología
                                    br
                                    | Diagnostica, previene y trata alteraciones en la salud bucal, incorporando los avances más recientes en tratamientos innovadores. En Cayetano, aprenderás metodologías que enfatizan el análisis de casos reales, preparándote para enfrentar situaciones concretas en tu práctica profesional. 
                                    br
                                    br
                                    | La mensualidad para la carrera de Estomatología en Cayetano varía entre S/3,050 - S/4,550 soles, según la escala asignada de acuerdo con tus ingresos familiares.
                                p 
                                    strong Mensualidad farmacia y bioquímica
                                    br
                                    | ¿Te imaginas desarrollar productos médicos que promuevan el bienestar de las personas? Estudiando Farmacia y Bioquímica en Cayetano Heredia, tendrás la oportunidad de participar en proyectos innovadores enfocados en el desarrollo de nuevos fármacos y soluciones para la salud. 
                                    br
                                    br
                                    | La mensualidad para la carrera de Farmacia y Bioquímica en Cayetano varía entre S/2,380 - S/2,740 soles, dependiendo de la escala asignada según tus ingresos familiares.
                                p 
                                    strong Mensualidad ingeniería biomédica
                                    br
                                    | ¿Te imaginas crear tecnología que transforme la salud y mejore la vida de las personas? En Cayetano Heredia, estudiar Ingeniería Biomédica te prepara para combinar ciencia, tecnología y medicina, desarrollando soluciones innovadoras que impacten directamente en la atención médica. 
                                    br
                                    br
                                    | La mensualidad para esta carrera se ajusta a tu situación económica, con costos que van desde S/2,280 hasta S/3,650 soles. Además, tendrás acceso a prácticas en instituciones líderes y oportunidades de investigación únicas en el país.
                                p 
                                    strong Mensualidad ingeniería ambiental
                                    br
                                    | Si tienes un fuerte compromiso con el cuidado del medio ambiente y la sostenibilidad, Ingeniería Ambiental en Cayetano es para ti. Esta carrera se distingue por su enfoque científico, técnico e innovador, preparándote para diseñar e implementar sistemas y procesos que consideren los riesgos ambientales. Además, serás parte de proyectos científicos que impacten positivamente en tu entorno profesionalmente. 
                                    br
                                    br
                                    | La mensualidad para esta carrera varía entre S/2,200 - S/2,940 soles, dependiendo de la escala asignada según tus ingresos familiares. Con opciones de financiamiento, estudiar en Cayetano está al alcance de todos.
                                p 
                                    strong Mensualidad medicina
                                    br
                                    | ¿Te imaginas cuidar la salud y el bienestar de las personas con un enfoque profesional y humano? En Cayetano, la carrera de Medicina te preparará para realizar prácticas clínicas en diversos contextos, aplicando tus conocimientos con calidad y compromiso. Podrás desempeñarte en hospitales, clínicas e instituciones de salud, marcando la diferencia en la vida de tus pacientes. 
                                    br
                                    br
                                    | La mensualidad para esta carrera está entre S/4,900 - S/6,200 soles, dependiendo de tu escala asignada. Con opciones de financiamiento disponibles, estudiar Medicina en Cayetano está a tu alcance.
                                p 
                                    strong Mensualidad psicología
                                    br
                                    | ¿Te interesa comprender y ayudar a las personas desde una perspectiva profesional y humana?, la carrera de Psicología en Cayetano te ofrece una formación integral, y es la única universidad donde puedes elegir entre cuatro especializaciones: Psicología Clínica, Organizacional, Educacional y Social-Comunicativa. Esto te permitirá potenciar tu aprendizaje y prepararte para ser un un gran profesional en el área que más te apasiona. 
                                    br
                                    br
                                    | La mensualidad para Psicología varía entre S/2,500 - S/3,800 soles, según tu escala asignada. Además, con opciones de financiamiento, podrás enfocarte en tus metas sin preocuparte por los costos.
                                p 
                                    strong Mensualidad medicina veterinaria y zootecnia
                                    br
                                    | La carrera de Medicina Veterinaria en Cayetano, te forma como un profesional integral, capaz de diagnosticar, tratar y prevenir enfermedades en animales, mientras contribuyes al cuidado de la fauna y la salud pública. Con un enfoque práctico y científico, también tendrás la oportunidad de especializarte en diversas áreas. 
                                    br
                                    br
                                    | Con mensualidades entre S/2,650 - S/4,000 soles, ajustadas a tu situación económica, y opciones de financiamiento disponibles, estudiar en Cayetano es más accesible de lo que imaginas.
                                p Si tienes otras carreras en mente o te interesa conocer más opciones, revisa nuestro cuadro informativo.
                                p
                                    strong Si estás listo para dar el siguiente paso en tu futuro profesional
                                p
                                    strong Contáctanos: 
                                    br
                                    | ob@oficinas-upch.pe y por teléfono al (1) 319-0000, anexo 201219.
                                p
                                    strong Visítanos: 
                                    br
                                    | Av. Honorio Delgado 430, Urb. Ingeniería, San Martín de Porres.
                            .bloque6LeftLabels 
                                h3 Ciencias
                                h3 Ciencias
                                h3 Ciencias
                                h3 Ciencias
                                h3 Ciencias
                        .bloque6Right
                .bloque7Right
                    .bloque2ProgramRight.bloque2ProgramRightDesktop
                        .bloque2ProgramRightContainer
                            .bloque2ProgramRightContainerCategories
                            .bloque2ProgramRightContainerNewsletter 
                                .newsletterWhitespace
                                .newsletterContent
                                    .newsletterImage
                                        img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/tano-newletter.gif", alt="")
                                    .newsletterInfo
                                        h3 Conéctate con tu 
                                            span futuro en Cayetano
                                        p Recibe información sobre nuestros programas, consejos de orientación vocacional, beneficios y mucho más para ayudarte a decidir el camino que mejor se alinea con tus metas. 
                                        input(type="text" placeholder="Tu correo electrónico...")
                                        .newsletterInfoTerminos
                                            input(type="checkbox")
                                            h3 He leído y acepto la política de privacidad de Cayetano.
                                        button
                                            h3 Suscribirme
                                            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
        .bloque4 
            .bloque4Container
                .bloque4Banner
                    h3 Postula a Cayetano con Beca 18
                    h4 Valoramos tu 
                        span excelencia académica
                    button
                        h5 Conoce más 
                        img.keyframe-button-movement(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
                .bloque2ProgramLeft.bloque2IndividualLeft
                    .bloque2Title
                        h3 También podría interesarte
                    .bloque2Slider
                        .slider__container5.swiper.mySwiper5
                            .slider__grid5.swiper-wrapper
                                .slider__item5.swiper-slide
                                    .sliderItemInfo5
                                        .sliderItemInfo5Image
                                            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/invidivual-mobile-slider-image2.webp", alt="")
                                        .sliderItemInfo5Info
                                            .bloque4ItemContentCalendar
                                                img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/calendar-icon-whit.webp", alt="")
                                                h3 04
                                                h3 |
                                                h3 10
                                            h3 ¿Por qué elegir una universidad priorizada?
                                            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
                                            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
                                .slider__item5.swiper-slide
                                    .sliderItemInfo5
                                        .sliderItemInfo5Image
                                            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/invidivual-mobile-slider-image1.webp", alt="")
                                        .sliderItemInfo5Info
                                            .bloque4ItemContentCalendar
                                                img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/calendar-icon-whit.webp", alt="")
                                                h3 04
                                                h3 |
                                                h3 10
                                            h3 ¿Por qué elegir una universidad priorizada?
                                            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
                                            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
                                .slider__item5.swiper-slide
                                    .sliderItemInfo5
                                        .sliderItemInfo5Image
                                            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/invidivual-mobile-slider-image1.webp", alt="")
                                        .sliderItemInfo5Info
                                            .bloque4ItemContentCalendar
                                                img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/calendar-icon-whit.webp", alt="")
                                                h3 04
                                                h3 |
                                                h3 10
                                            h3 ¿Por qué elegir una universidad priorizada?
                                            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
                                            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
                                .slider__item5.swiper-slide
                                    .sliderItemInfo5
                                        .sliderItemInfo5Image
                                            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/invidivual-mobile-slider-image1.webp", alt="")
                                        .sliderItemInfo5Info
                                            .bloque4ItemContentCalendar
                                                img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/calendar-icon-whit.webp", alt="")
                                                h3 04
                                                h3 |
                                                h3 10
                                            h3 ¿Por qué elegir una universidad priorizada?
                                            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
                                            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
        .bloque5 
            .bloque5ImageDesktop 
            .bloque5Container
                h3 Déjanos tus datos y nos contactaremos contigo
                h3.bloque5ContainerTextDesktop Déjanos tus datos y 
                    br
                    | nos contactaremos contigo
                .bloque5ContainerInput
                    .bloque5ContainerInputGroupSelect
                        input(type="text" placeholder="Seleccionar programa")
                    .bloque5ContainerInputGroup
                        input(type="text" placeholder="Nombres*")
                        input(type="text" placeholder="Apellidos*")
                    .bloque5ContainerInputGroup
                        input(type="text" placeholder="Tipo de documento:*")
                        input(type="text" placeholder="Número de documento:*")
                    .bloque5ContainerInputGroup
                        input(type="text" placeholder="Celular:*")
                        input(type="text" placeholder="Correo electrónico:*")
                    input(type="text" placeholder="Selecciona una carrera o especialidad:*")
                .bloque5ContainerTerminos
                    input(type="checkbox")
                    h4 Acepto la Política de Privacidad y Proteccipon de Datos Personales.
                .bloque5ContainerAcepto
                    input(type="checkbox")
                    h4 No acepto.
                .bloque5Button
                    button
                        h3 Enviar
                        img.keyframe-button-movement(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
        footer
          .footerContainer
            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/logo-white.webp", alt="")
            .footerTexts
              h3 Campus Central:
              h3 Av. Honorio Delgado 430
              h3 Urb. Ingeniería, San Martín de Porres 
        //- script(src="../../js/script.js" defer)
        //- script(src="../../js/script-ind.js" defer)
        script(src="./js/script.js" defer)
        script(src="./js/script-ind.js" defer)
        script(src="https://unpkg.com/swiper/swiper-bundle.min.js")