doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv='Expires' content='0')
        meta(http-equiv='Last-Modified' content='0')
        meta(http-equiv='Cache-Control' content='no-cache, mustrevalidate')
        meta(http-equiv='Pragma' content='no-cache')
        title ¿Dónde estudiar Biología?
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel="stylesheet", href="../../css/app.css")
        link(rel="icon" type="image/x-icon" href="../../favicon.png")
        //- link(rel="stylesheet", href="./css/app.css")
        link(rel="stylesheet", href="https://unpkg.com/swiper/swiper-bundle.min.css")
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap' rel='stylesheet')
        <meta name="description" content="">
        <meta name="keywords" content="donde estudiar biologia">
    body
        .manuInner
            .manuInnerContainer
                .manuInnerHeader
                    img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/logo-1.webp", alt="", onclick="window.location.replace('https://blogs.cayetano.edu.pe/')")
                    h3.manuInnerClose X
                .manuInnerInfo
                    include includes/search/searchMobile.pug
                    .manuInnerInfoContent
                        h3(onclick="window.location.replace('https://blogs.cayetano.edu.pe/')").manuInnerInfoContentBottom Blog Cayetano
                        h3(onclick="window.location.replace('https://blogs.cayetano.edu.pe/pregrado')").manuInnerInfoContentBottom Blog Pregrado
                        h3.manuInnerInfoContentBottom Blog PGE
                        h3 Blog Especialidades
            .manuInnerFooter
                .manuInnerFooterContainer
                    h3 Quiero ser de Cayetano
                    img.keyframe-button-movement(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
        .bloque1.bloque1Individual
          .bloque1Container
            .bloque1Logos
                img.blog-logo(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/logo-1.webp", alt="", onclick="window.location.replace('https://blogs.cayetano.edu.pe/')")
                .bloque1LogosSelect
                    h3.dropdown-btn Blog Cayetano
                    ul.dropdown-menu
                        li: a(href="https://blogs.cayetano.edu.pe/pregrado/") Pregrado
                        li: a(href="") Pge  
                        li: a(href="") Especialidades
                include includes/search/searchDesktop.pug
                img.top-icon-mobile(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/icon-menu2.webp", alt="")
                button  
                    h3 Quiero ser de Cayetano
                    img.keyframe-button-movement(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
        .bloque6
            .bloque6Container
                .bloque6Calendar
                    .bloque6CalendarProgress
                        h5(onclick="window.location.replace('https://blogs.cayetano.edu.pe/')") Blog Cayetano
                        h5 |
                        h5(onclick="window.location.replace('https://blogs.cayetano.edu.pe/pregrado/')") Blog Pregrado
                    .bloque6CalendarInfo
                        img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/calendar-icon-whit.webp", alt="")
                        h3 20 de diciembre del 2024
                    .bloque6Title
                        h1#first ¿Dónde estudiar Biología?
                    .bloque6Item
                        h4.bloque6ItemCiencias Biología
        .bloque7.bloque7Individual
            .bloque7Container.bloque7ContainerIndividual
                .bloque7Left
                    .bloque6Flex
                        .bloque6Left
                            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/image-nota-21.webp", alt="")
                            .bloque6LeftRedes
                                h3 Compartir en redes:
                                .bloque6LeftRedesContent
                                    img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/icon-fb.webp", alt="", onclick="window.location.replace(`https://www.facebook.com/sharer/sharer.php?u=${encodeURIComponent(window.location.href)}`)")
                                    img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/icon-wp.webp", alt="", onclick="window.location.replace(`https://api.whatsapp.com/send?text=${encodeURIComponent(window.location.href)}`)")
                                    img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/icon-x.webp", alt="", onclick="window.location.replace(`https://x.com/intent/post?text=${encodeURIComponent(window.location.href)}`)")
                                    img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/icon-link.webp", alt="", onclick="window.location.replace(`https://www.linkedin.com/sharing/share-offsite/?url=${encodeURIComponent(window.location.href)}`)")
                            .bloque6LeftIndex
                                h3.indexclicker Índice
                                .bloque6LeftIndexContent
                                    ol 
                                        li: a(href="#h-uno"): h2 ¿En qué universidad estudiar la carrera de Biología?
                                        li: a(href="#h-dos"): h2 ¿Por qué elegir Cayetano?
                                        li: a(href="#h-tres"): h2 ¿Dónde trabaja un biólogo?
                                        li: a(href="#h-cuatro"): h2 ¿Cuánto gana un biólogo?
                                    //- ol 
                                    //-     li: a(href="#h-uno"): h2 
                                    //-     li: a(href="#h-dos"): h2 
                                    //-     li: a(href="#h-tres"): h2 
                                    //-     li: a(href="#h-cuatro"): h2 
                                    //-     li: a(href="#h-cinco"): h2 
                                    //-     li: a(href="#h-seis"): h2 
                            .bloque6LeftParagraphs
                                p Si ya sientes que esta es tu vocación, es importante saber dónde estudiar biología. En Perú y en otros países, hay universidades que ofrecen esta carrera con acceso a oportunidades para estudiar y realizar prácticas en el extranjero a través de convenios.
                                p No importa cuál sea tu sueño, la biología te brinda una forma de explorar y cuidar el mundo que nos rodea. Si quieres más información, sigue leyendo esta nota.
                                .bloque6LeftParagraphsTitle 
                                    h2#h-uno ¿En qué universidad estudiar la carrera de Biología?
                                p Estudiar Biología en Cayetano Heredia es una decisión que marcará tu futuro profesional. En la UPCH, formamos biólogos altamente capacitados para enfrentar los desafíos de un mundo en constante evolución.
                                p Nuestra propuesta educativa integra excelencia académica, tecnología de avanzada, internacionalización, oportunidades de investigación e intercambios con prestigiosas universidades de Europa, Norteamérica, Latinoamérica y Asia.
                                .bloque6LeftParagraphsTitle 
                                    h2#h-dos ¿Por qué elegir Cayetano?
                                p Investigación e innovación científica: la carrera te dará todas las herramientas para desarrollar tus habilidades de análisis, pensamiento crítico y como investigador.
                                p Accede a convenios internacionales: cumple tu meta de estudiar en el extranjero con nuestros convenios 
                                .other
                                    h3 Innovación y emprendimiento: 
                                    p Enfoque racional y riguroso: basado en el método científico y el manejo de herramientas de laboratorio, de campo y computacionales para el análisis de datos a distintas escalas.
                                .other
                                    h3 Multidisciplinaria: 
                                    p trabaja de manera multidisciplinaria y facilita la integración de la biología a otros campos del conocimiento en favor del bienestar y el progreso de la sociedad.
                                .bloque6LeftParagraphsTitle 
                                    h2#h-tres ¿Dónde trabaja un biólogo?
                                p Lo primero que debes saber es que esta carrera te abre las puertas a trabajar en lugares muy diversos, según tus intereses. Un biólogo puede trabajar en laboratorios, haciendo investigaciones para descubrir nuevas medicinas, o estudiando cómo funcionan los seres vivos. 
                                p También puedes trabajar en parques naturales o reservas, protegiendo el medio ambiente y cuidando especies en peligro de extinción. Si te apasiona el mar, podrías convertirte en un biólogo marino y estudiar la vida en los océanos. 
                                p Además, los biólogos están presentes en empresas dedicadas a alimentos, biotecnología, o incluso en hospitales y centros médicos, ayudando a comprender enfermedades y encontrar soluciones.
                                .bloque6LeftParagraphsTitle 
                                    h2#h-cuatro ¿Cuánto gana un biólogo?
                                p El sueldo de un biólogo varía significativamente según la experiencia y la etapa profesional en la que se encuentre.
                                p Para los jóvenes biólogos de hasta 29 años, el ingreso promedio mensual en el Perú es de S/ 2.772, de acuerdo con el portal Mi Carrera del Ministerio de Trabajo y Promoción del Empleo. En este rango de edad, los salarios pueden oscilar entre un mínimo de S/ 1.300 y un máximo de S/ 5.087.
                                p Por otro lado, los biólogos con más de 30 años tienden a tener ingresos más altos. En promedio, estos profesionales perciben S/ 5.452 al mes, con un rango que va desde S/ 2.114 como mínimo hasta S/ 9.114 como máximo.
                            .bloque6LeftLabels 
                                h3 Ciencias
                                h3 Ciencias
                                h3 Ciencias
                                h3 Ciencias
                                h3 Ciencias
                        .bloque6Right
                .bloque7Right
                    .bloque2ProgramRight.bloque2ProgramRightDesktop
                        .bloque2ProgramRightContainer
                            .bloque2ProgramRightContainerCategories
                            .bloque2ProgramRightContainerNewsletter 
                                .newsletterWhitespace
                                .newsletterContent
                                    .newsletterImage
                                        img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/tano-newletter.gif", alt="")
                                    .newsletterInfo
                                        h3 Conéctate con tu 
                                            span futuro en Cayetano
                                        p Recibe información sobre nuestros programas, consejos de orientación vocacional, beneficios y mucho más para ayudarte a decidir el camino que mejor se alinea con tus metas. 
                                        input(type="text" placeholder="Tu correo electrónico...")
                                        .newsletterInfoTerminos
                                            input(type="checkbox")
                                            h3 He leído y acepto la política de privacidad de Cayetano.
                                        button
                                            h3 Suscribirme
                                            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
        .bloque4 
            .bloque4Container
                .bloque4Banner
                    h3 Postula a Cayetano con Beca 18
                    h4 Valoramos tu 
                        span excelencia académica
                    button
                        h5 Conoce más 
                        img.keyframe-button-movement(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
                .bloque2ProgramLeft.bloque2IndividualLeft
                    .bloque2Title
                        h3 También podría interesarte
                    include includes/slider-ind/slider2.pug
        include includes/form/formBlog.pug
        footer
          .footerContainer
            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/logo-white.webp", alt="")
            .footerTexts
              h3 Campus Central:
              h3 Av. Honorio Delgado 430
              h3 Urb. Ingeniería, San Martín de Porres 
        script(src="../../js/script.js" defer)
        //- script(src="../../js/script-ind.js" defer)
        //- script(src="./js/script.js" defer)
        //- script(src="./js/script-ind.js" defer)
        script(src="https://unpkg.com/swiper/swiper-bundle.min.js")