doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv='Expires' content='0')
        meta(http-equiv='Last-Modified' content='0')
        meta(http-equiv='Cache-Control' content='no-cache, mustrevalidate')
        meta(http-equiv='Pragma' content='no-cache')
        title ¿Dónde estudiar medicina veterinaria y zootecnia?
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel="stylesheet", href="../../css/app.css")
        link(rel="icon" type="image/x-icon" href="../../favicon.png")
        //- link(rel="stylesheet", href="./css/app.css")
        link(rel="stylesheet", href="https://unpkg.com/swiper/swiper-bundle.min.css")
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap' rel='stylesheet')
        <meta name="description" content="Encuentra dónde estudiar Medicina veterinaria y zootecnia, descubre la mejor opcion y aspectos clave para desarrollar tu pasión por el cuidado animal.">
        <meta name="keywords" content="donde puedo estudiar medicina veterinaria, donde estudiar medicina veterinaria y zootecnia, duracion de medicina veterinaria y zootecnia, por que estudiar medicina veterinaria y zootecnia en cayetano​, hasta donde puedes llegar estudiando medicina veterinaria y zootecnia, cursos de medicina veterinaria y zootecnia, ramas de medicina veterinaria y zootecnia">
        <script src="https://www.google.com/recaptcha/api.js" async="" defer=""></script>
    body
        include includes/menu/menuMobile.pug
        .bloque1.bloque1Individual
          .bloque1Container
            .bloque1Logos
                img.blog-logo(src="https://blogs.cayetano.edu.pe/img/logo-1.webp", alt="", onclick="window.open('https://blogs.cayetano.edu.pe/', '_self')")
                .bloque1LogosSelect
                    h3.dropdown-btn Blog Cayetano
                    ul.dropdown-menu
                        li: a(href="https://blogs.cayetano.edu.pe/pregrado/") Pregrado
                        li: a(href="https://blogs.cayetano.edu.pe/404.html") Pge  
                        li: a(href="https://blogs.cayetano.edu.pe/404.html") Especialidades
                include includes/search/searchDesktop.pug
                img.top-icon-mobile(src="https://blogs.cayetano.edu.pe/img/icon-menu2.webp", alt="")
                button(onclick="window.open('https://lp.cayetano.edu.pe/admision-cayetano/?utm_campaign=pregrado-aon&utm_term=generico&utm_source=blog&utm_medium=organic&utm_content=botonpostula', '_self')")    
                    h3 Quiero ser de Cayetano
                    img.keyframe-button-movement(src="https://blogs.cayetano.edu.pe/img/arrow-black-button.webp", alt="")
        .bloque6
            .bloque6Container
                .bloque6Calendar
                    .bloque6CalendarProgress
                        h5(onclick="window.open('https://blogs.cayetano.edu.pe/', '_self')") Blog Cayetano
                        h5 |
                        h5(onclick="window.open('https://blogs.cayetano.edu.pe/pregrado/', '_self')") Blog Pregrado
                    .bloque6CalendarInfo
                        img(src="https://blogs.cayetano.edu.pe/img/calendar-icon-whit.webp", alt="")
                        h3 19 de diciembre del 2024
                    .bloque6Title
                        h1#first ¿Dónde puedo estudiar medicina veterinaria y zootecnia?
                    .bloque6Item
                        h4.bloque6ItemSalud Medicina Veterinaria y Zootecnia
        .bloque7.bloque7Individual
            .bloque7Container.bloque7ContainerIndividual
                .bloque7Left
                    .bloque6Flex
                        .bloque6Left
                            img(src="https://blogs.cayetano.edu.pe/img/image-nota-15.webp", alt="donde puedo estudiar medicina veterinaria")
                            .bloque6LeftRedes
                                h3 Compartir en redes:
                                .bloque6LeftRedesContent
                                    img(src="https://blogs.cayetano.edu.pe/img/icon-fb.webp", alt="", onclick="window.open(`https://www.facebook.com/sharer/sharer.php?u=${encodeURIComponent(window.location.href)}`, '_self')")
                                    img(src="https://blogs.cayetano.edu.pe/img/icon-wp.webp", alt="", onclick="window.open(`https://api.whatsapp.com/send?text=${encodeURIComponent(window.location.href)}`, '_self')")
                                    img(src="https://blogs.cayetano.edu.pe/img/icon-x.webp", alt="", onclick="window.open(`https://x.com/intent/post?text=${encodeURIComponent(window.location.href)}`, '_self')")
                                    img(src="https://blogs.cayetano.edu.pe/img/icon-link.webp", alt="", onclick="window.open(`https://www.linkedin.com/sharing/share-offsite/?url=${encodeURIComponent(window.location.href)}`, '_self')")
                            .bloque6LeftIndex
                                h3.indexclicker Índice
                                .bloque6LeftIndexContent
                                    ol 
                                        li: a(href="#h-uno"): h2 ¿Dónde estudiar medicina veterinaria y zootecnia?
                                        li: a(href="#h-dos"): h2 Duración de medicina veterinaria y zootecnia
                                        li: a(href="#h-tres"): h2 ¿Por qué estudiar medicina veterinaria y zootecnia en Cayetano?
                                        li: a(href="#h-cuatro"): h2 Hasta dónde puedes llegar estudiando medicina veterinaria y zootecnia (testimonio - infografía)
                                        li: a(href="#h-cinco"): h2 Cursos de medicina veterinaria y zootecnia 
                                        li: a(href="#h-seis"): h2 Ramas de medicina veterinaria y zootecnia
                            .bloque6LeftParagraphs
                                .bloque6LeftParagraphsTitle 
                                    h2#h-uno ¿Dónde puedo estudiar medicina veterinaria y zootecnia?
                                p Durante años, la Medicina Veterinaria ocupó las primeras opciones entre los estudiantes al hablar de carreras relacionadas con los animales. Sin embargo, la Zootecnia ha ganado gran relevancia en el Perú gracias a su enfoque en la producción animal y el desarrollo sostenible.
                                p Entre las universidades que ofrecen las carreras de Medicina Veterinaria y Zootecnia destaca la Universidad Cayetano Heredia. Reconocida por su excelencia académica, ya que sus estudiantes reciben una formación de calidad y se preparan para destacar como grandes profesionales en ambas disciplinas.
                                .bloque6LeftParagraphsTitle 
                                    h2#h-dos Duración de la carrera medicina veterinaria y zootecnia
                                p Muchos postulantes se preguntan <span onclick="window.open('https://blogs.cayetano.edu.pe/pregrado/cuanto-dura-la-carrera-veterinaria/', '_self')" style="cursor:pointer">cuánto dura la carrera de veterinaria</span>, el tiempo estándar de esta carrera es de 5 años, sin embargo este plazo puede ajustarse según las necesidades de los estudiantes, especialmente para quienes combinan el trabajo con el estudio.
                                p Lo importante es que cada estudiante pueda organizar su carga académica para aprovechar al máximo los recursos de la universidad y acceder a beneficios como becas o reconocimientos por su buen desempeño académico.
                                .bloque6LeftParagraphsTitle 
                                    h2#h-tres ¿Por qué estudiar medicina veterinaria y zootecnia en Cayetano?
                                p En nuestra facultad, los estudiantes tienen acceso a laboratorios modernos, equipados con tecnología de última generación en nuestras sedes, incluida una especialmente para realizar investigaciones. Además, al estudiar aquí, estarás en la universidad número uno del país, lo que te garantiza una formación de calidad y la oportunidad de aprender de los mejores.
                                p Creemos que la práctica es clave para alcanzar el éxito, por eso brindamos a nuestros estudiantes experiencias vivenciales que los preparan para el mundo laboral. Aunque el entorno profesional siempre tiene sus retos, las prácticas realizadas aquí les dan una base sólida para enfrentarlos con confianza.
                                .bloque6LeftParagraphsTitle 
                                    h2#h-cuatro ¿Te imaginas hasta dónde puedes llegar estudiando medicina veterinaria y zootecnia?
                                p Terminar la universidad puede generar muchas preguntas: ¿Conseguiré trabajo en mi carrera? o ¿Estaré listo para aplicar mis conocimientos?. En Cayetano, nos enorgullecemos de la preparación integral que reciben nuestros estudiantes. 
                                p Un ejemplo de éxito es Mariana, egresada de nuestra carrera de Medicina Veterinaria y Zootecnia. Descubre cómo logró destacar en el cuidado de la salud animal gracias a su formación en Cayetano. 
                                img(src="https://blogs.cayetano.edu.pe/img/nota15-image1.webp", alt="Medicina veterinaria y zootecnia en Cayetano", title="Experiencia estudiantil en Cayetano")
                                .bloque6LeftParagraphsTitle 
                                    h2#h-cinco Cursos de medicina veterinaria y zootecnia
                                p La carrera de Medicina Veterinaria y Zootecnia combina clases presenciales, semipresenciales y virtuales, dependiendo de lo que requiera cada curso. Esta flexibilidad permite a los estudiantes adquirir conocimientos teóricos y prácticos de manera integral.
                                    br
                                    br
                                    | Conoce algunos de los cursos fundamentales de la malla curricular:
                                ul.margin1tab
                                    li: h3 Semiología Veterinaria
                                        p En este curso aprenderás a examinar a los animales para identificar si están enfermos o necesitan atención especial. Este conocimiento es clave para realizar diagnósticos precisos y ofrecer el tratamiento adecuado.
                                    li: h3 Nutrición Animal
                                        p Aquí descubrirás cómo alimentar a los animales correctamente y  sobre los nutrientes necesarios para mantener su salud, fortalecerlos y optimizar su rendimiento en actividades como deportes o producción de alimentos.
                                    li: h3 Medicina de la Conservación
                                        p Este curso se enfoca en estrategias para preservar especies en peligro y proteger los ecosistemas. Estudiarás cómo contribuir a la conservación del medio ambiente desde la perspectiva de la medicina veterinaria.
                                .bloque6LeftParagraphsTitle 
                                    h2#h-seis Ramas de medicina veterinaria y zootecnia
                                p Especializarse en un área de la Medicina Veterinaria y Zootecnia es fundamental para garantizar que los animales reciban la atención adecuada que merecen. Al sumergirse en estas ramas, los estudiantes no solo mejoran su conocimiento, sino que se preparan para convertirse en profesionales altamente capacitados. Conoce algunas de las principales especializaciones que permiten a los veterinarios desarrollar su carrera de manera profesional: 
                                ul.margin1tab
                                    li: h3 Clínica y Cirugía Veterinaria: 
                                        p Se centra en el diagnóstico y tratamiento de enfermedades en animales de casa, como perros y gatos, además de realizar procedimientos quirúrgicos para restaurar su salud.
                                    li: h3 Medicina de la Conservación: 
                                        p Dedicada a la protección de especies en peligro y al manejo de animales silvestres, contribuyendo a la preservación de la biodiversidad global.
                                    li: h3 Salud Pública Veterinaria:
                                        p Aborda las enfermedades zoonóticas (aquellas que se transmiten entre animales y humanos) y trabaja para garantizar la seguridad de los alimentos de origen animal, evitando riesgos para la salud pública.
                                    li: h3 Oncología Veterinaria: 
                                        p Especialización en el diagnóstico y tratamiento de cáncer en animales, utilizando técnicas avanzadas como quimioterapia, cirugía y otros enfoques para mejorar la calidad de vida de los pacientes.
                                p La Medicina Veterinaria y Zootecnia ofrece una amplia gama de oportunidades que te permitirán desarrollar tu pasión por los animales, mientras contribuyes a su bienestar y a la salud pública. Ahora que ya tienes un panorama más claro sobre la carrera, <span onclick="window.open('https://blogs.cayetano.edu.pe/pregrado/cayetano-heredia-carreras', '_self')"><strong>te invitamos a conocer sobre nuestras 20 carreras.</strong></span>
                        .bloque6Right
                .bloque7Right
                    .bloque2ProgramRight.bloque2ProgramRightDesktop
                        .bloque2ProgramRightContainer
                            .bloque2ProgramRightContainerCategories
                            .bloque2ProgramRightContainerNewsletter 
                                include includes/newletter/innerLetter.pug
                                //- .newsletterWhitespace
                                //- .newsletterContent
                                //-     .newsletterImage
                                //-         img(src="https://blogs.cayetano.edu.pe/img/tano-newletter.gif", alt="")
                                //-     .newsletterInfo
                                //-         h3 Conéctate con tu 
                                //-             span futuro en Cayetano
                                //-         p Recibe información sobre nuestros programas, consejos de orientación vocacional, beneficios y mucho más para ayudarte a decidir el camino que mejor se alinea con tus metas. 
                                //-         input(type="text" placeholder="Tu correo electrónico...")
                                //-         .newsletterInfoTerminos
                                //-             input(type="checkbox")
                                //-             h3 He leído y acepto la política de privacidad de Cayetano.
                                //-         button
                                //-             h3 Suscribirme
                                //-             img(src="https://blogs.cayetano.edu.pe/img/arrow-black-button.webp", alt="")
        .bloque4 
            .bloque4Container
                .bloque4Banner
                    .bloque4BannerLeft
                        h3 Inicia la mejor estapa de tu vida
                        h4 en la universidad de la <span>excelencia</span>
                    button(onclick="window.open('https://lp.cayetano.edu.pe/admision-cayetano/?utm_campaign=pregrado-aon&utm_term=medicina-veterinaria&utm_source=blog&utm_medium=organic&utm_content=banner-2-n15', '_self')")
                        h5 Conoce más 
                        img.keyframe-button-movement(src="https://blogs.cayetano.edu.pe/img/arrow-black-button.webp", alt="")
                .bloque2ProgramLeft.bloque2IndividualLeft
                    .bloque2Title
                        h3 También podría interesarte
                    include includes/slider-ind/slider2.pug
        include includes/form/formBlog.pug
        footer
          .footerContainer
            img(src="https://blogs.cayetano.edu.pe/img/logo-white.webp", alt="")
            .footerTexts
              h3 Campus Central:
              h3 Av. Honorio Delgado 430
              h3 Urb. Ingeniería, San Martín de Porres 
        script(src="../../js/script.js" defer)
        //- script(src="./js/script.js" defer)
        script(src="https://unpkg.com/swiper/swiper-bundle.min.js")