doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv='Expires' content='0')
        meta(http-equiv='Last-Modified' content='0')
        meta(http-equiv='Cache-Control' content='no-cache, mustrevalidate')
        meta(http-equiv='Pragma' content='no-cache')
        title ¿En qué consiste la carrera de enfermería?
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel="stylesheet", href="../../css/app.css")
        //- link(rel="stylesheet", href="./css/app.css")
        link(rel="icon" type="image/x-icon" href="../../favicon.png")
        link(rel="stylesheet", href="https://unpkg.com/swiper/swiper-bundle.min.css")
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap' rel='stylesheet')
        <meta name="description" content="Descubre aquí en qué consiste la carrera de enfermería, duración, competencias y por qué elegirla como carrera universitaria.">
        <meta name="keywords" content="en que consiste la carrera de enfermeria, que estudia la carrera de enfermeria, cuanto dura la carrera de enfermeria, que cursos lleva la carrera de enfermeria, competencias de la carrera de enfermeria, por que elegir la carrera de enfermeria​">
    body
        .manuInner
            .manuInnerContainer
                .manuInnerHeader
                    img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/logo-1.webp", alt="")
                    h3.manuInnerClose X
                .manuInnerInfo
                    include includes/search/searchMobile.pug
                    .manuInnerInfoContent
                        h3(onclick="window.location.replace('https://blogs.cayetano.edu.pe/')").manuInnerInfoContentBottom Blog Cayetano
                        h3(onclick="window.location.replace('https://blogs.cayetano.edu.pe/pregrado')").manuInnerInfoContentBottom Blog Pregrado
                        h3.manuInnerInfoContentBottom Blog PGE
                        h3 Blog Especialidades
            .manuInnerFooter
                .manuInnerFooterContainer
                    h3 Quiero ser de Cayetano
                    img.keyframe-button-movement(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
        .bloque1.bloque1Individual
          .bloque1Container
            .bloque1Logos
                img.blog-logo(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/logo-1.webp", alt="")
                .bloque1LogosSelect
                    h3.dropdown-btn Blog Cayetano
                    ul.dropdown-menu
                        li: a(href="https://blogs.cayetano.edu.pe/pregrado/") Pregrado
                        li: a(href="") Pge  
                        li: a(href="") Especialidades
                include includes/search/searchDesktop.pug
                img.top-icon-mobile(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/icon-menu2.webp", alt="")
                button  
                    h3 Quiero ser de Cayetano
                    img.keyframe-button-movement(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
        .bloque6
            .bloque6Container
                .bloque6Calendar
                    .bloque6CalendarProgress
                        h5(onclick="window.location.replace('https://blogs.cayetano.edu.pe/')") Blog Cayetano
                        h5 |
                        h5(onclick="window.location.replace('https://blogs.cayetano.edu.pe/pregrado/')") Blog Pregrado
                    .bloque6CalendarInfo
                        img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/calendar-icon-whit.webp", alt="")
                        h3 18 de diciembre del 2024
                    .bloque6Title
                        h1 Descubre en qué consiste la carrera de enfermería
                    .bloque6Item
                        h4.bloque6ItemSalud Enfermería
        .bloque7.bloque7Individual
            .bloque7Container.bloque7ContainerIndividual
                .bloque7Left
                    .bloque6Flex
                        .bloque6Left
                            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/image-nota-9.webp", alt="")
                            .bloque6LeftRedes
                                h3 Compartir en redes:
                                .bloque6LeftRedesContent
                                    img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/icon-fb.webp", alt="", onclick="window.location.replace(`https://www.facebook.com/sharer/sharer.php?u=${encodeURIComponent(window.location.href)}`)")
                                    img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/icon-wp.webp", alt="", onclick="window.location.replace(`https://api.whatsapp.com/send?text=${encodeURIComponent(window.location.href)}`)")
                                    img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/icon-x.webp", alt="", onclick="window.location.replace(`https://x.com/intent/post?text=${encodeURIComponent(window.location.href)}`)")
                                    img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/icon-link.webp", alt="", onclick="window.location.replace(`https://www.linkedin.com/sharing/share-offsite/?url=${encodeURIComponent(window.location.href)}`)")
                            .bloque6LeftIndex
                                h3.indexclicker Índice
                                .bloque6LeftIndexContent
                                    ol 
                                        li: a(href="#h-uno"): h2 ¿Qué estudia la carrera de enfermería?
                                        li: a(href="#h-dos"): h2 ¿Cuánto dura la carrera de enfermería en Perú?
                                        li: a(href="#h-tres"): h2 ¿Qué cursos lleva la carrera de Enfermería?
                                        li: a(href="#h-cuatro"): h2 Competencias de la carrera de Enfermería
                                        li: a(href="#h-cinco"): h2 ¿Por qué elegir la carrera de Enfermería?
                            .bloque6LeftParagraphs
                                p Sabemos que elegir una carrera no es fácil, especialmente cuando buscas algo que te apasione y refleje tu vocación. 
                                p Si eres paciente, empático, colaborativo y te interesa la ciencia y la salud, entonces enfermería es para ti. 
                                p Aquí te contamos todo lo que necesitas saber: en qué consiste la carrera de enfermería, su duración, los cursos que incluye, sus competencias y por qué elegirla. ¡Así podrás tomar la mejor decisión y convertirla en tu profesión!
                                .bloque6LeftParagraphsTitle 
                                    h2#h-uno ¿Qué estudia la carrera de enfermería?
                                p La carrera de enfermería es una ciencia de la salud que se enfoca en la atención integral y la prevención de la salud de las personas en todas sus etapas de vida.
                                p La pandemia evidenció que el Perú tiene la urgente necesidad de contar con profesionales  con sólidos conocimientos en el cuidado integral de la salud y con un profundo sentido humanístico.
                                p Un enfermero formado en Cayetano está preparado para manejar emergencias cardiovasculares, brindar atención en salas de operaciones y en unidades de cuidados intensivos, aplicando tanto habilidades técnicas como un acompañamiento humano y emocional.
                                p Esperamos que esta información te ayude a entender mejor en qué consiste la carrera de enfermería y por qué es tu mejor opción. 
                                .bloque6LeftParagraphsTitle 
                                    h2#h-dos ¿Cuánto dura la carrera de enfermería en Perú?
                                p Ahora que sabes más sobre la carrera de enfermería, te explicamos la diferencia en la duración entre una carrera técnica y una universitaria.
                                p En Perú, la carrera técnica dura 3 años, mientras que una licenciatura, tiene una duración de 5 años.
                                p Estudiar una carrera universitaria no solo abarca temas de ciencias de la salud, sino también cursos de gestión, investigación y otras áreas que enriquecen tu desarrollo profesional. Además, realizarás internados en hospitales y clínicas, donde aplicarás tus conocimientos en situaciones reales.
                                p Con una licenciatura, podrás acceder a posgrados o especialidades, dándote más oportunidades a puestos de mayor jerarquía y responsabilidad.
                                .bloque6LeftParagraphsTitle 
                                    h2#h-tres ¿Qué cursos lleva la carrera de Enfermería?
                                p La carrera de enfermería abarca cursos como anatomía, fisiología, farmacología, salud pública, gestión sanitaria, entre otras.
                                p Conoce aquí la malla curricular de la Universidad Peruana Cayetano Heredia, la N.° 1 en ciencias de la salud.
                                p Nuestra metodología se enfoca en las prácticas vivenciales, permitiendo que los estudiantes experimenten desde el 2.º año experiencias reales en diversos centros de salud, colegios, municipalidades, entre otros. Además, realizan un internado remunerado en clínicas privadas, según su orden de mérito.
                                p Nuestra excelencia educativa está acreditada por el Instituto Internacional para el Aseguramiento de la Calidad del Centro Interuniversitario de Desarrollo (IAC-CINDA), lo que garantiza una formación de profesionales con los más altos estándares de calidad.
                                .bloque6LeftParagraphsTitle 
                                    h2#h-cuatro Competencias de la carrera de Enfermería
                                p Como podemos imaginarnos, las enfermeras y enfermeros realizan una ardua labor diaria trabajando de manera directa con los pacientes. En este trabajo, no solo desarrollan habilidades técnicas, sino también interpersonales que les permiten estar preparados para cualquier situación.
                                p Descubre aquí las 5 principales competencias de la carrera de enfermería:
                                ul.margin3tab
                                    li: h3 Comunicación efectiva: 
                                        p Explicar de forma clara las instrucciones a pacientes, colegas y médicos, y poseer la habilidad de dialogar con empatía y comprensión.
                                    li: h3 Pensamiento crítico:
                                        p Tener la habilidad de resolver problemas bajo presión y tomar decisiones en situaciones de emergencia
                                    li: h3 Habilidades organizativas:
                                        p Ser capaz de gestionar múltiples casos simultáneamente, garantizando una atención adecuada.
                                    li: h3 Habilidades técnicas:
                                        p Es fundamental contar con una formación técnica sólida y las habilidades necesarias para operar y supervisar equipos médicos avanzados. 
                                    li: h3 Habilidades clínicas:
                                        p Un enfermero sabe administrar medicamentos, monitorear signos vitales y utilizar equipos médicos con destreza. 
                                p Como puedes ver, la carrera de enfermería es una profesión completa y gratificante. Si te interesa estudiar esta carrera, aquí te contamos las razones de por qué elegir enfermería en Cayetano.
                                .bloque6LeftParagraphsTitle 
                                    h2#h-cinco ¿Por qué elegir la carrera de Enfermería?
                                p Elegir la carrera de Enfermería es optar por una profesión dedicada al cuidado de las personas, en la que puedes marcar una diferencia significativa en la vida de quienes más lo necesitan.
                                p Sabemos que tomar la decisión de dónde y por qué estudiar enfermería puede ser complicado. Por eso, aquí te contamos por qué elegir esta carrera en Cayetano:
                                ul.margin1tab
                                    li: h3 Prácticas y experiencias clínicas:
                                        p Desde el primer año, podrás realizar prácticas en nuestro moderno y equipado Centro de Simulación, donde aprenderás a resolver situaciones de emergencia cardiovascular, proporcionar cuidados integrales en sala de operaciones y brindar cuidados especializados a adultos y neonatos con problemas de alta complejidad.
                                        br
                                        p Además, desde el segundo año, realizarás prácticas pre-profesionales en centros de salud, colegios, municipalidades y comunidades, lo que te preparará para enfrentar situaciones reales.
                                    li: h3 Oportunidades laborales: 
                                        p En el último año, tendrás acceso a plazas remuneradas en clínicas privadas de prestigio, según tu orden de mérito.
                                        br
                                        p Esto te permitirá ganar experiencia y a futuro especializarte, para acceder a roles de liderazgo, como supervisores de enfermería, coordinadores de equipos de salud, y directores de servicios de salud en instituciones públicas o privadas.
                                    li: h3 Acreditación nacional e internacional: 
                                        p Con más de 62 años de experiencia, formamos enfermeros altamente especializados gracias a nuestra sólida preparación académica.
                                        br 
                                        p Estamos acreditados por SINEACE (Sistema Nacional de Evaluación, Acreditación y Certificación de la Calidad) a nivel nacional, y por IAC-CINDA (Instituto Internacional para el Aseguramiento de la Calidad) a nivel internacional, lo que garantiza nuestra formación con los más altos estándares de calidad.
                                    li: h3 Intercambios académicos:
                                        p En Cayetano, contamos con convenios internacionales con prestigiosas universidades de España y Colombia para la carrera de enfermería, lo que ofrece a nuestros estudiantes la posibilidad de enriquecer su formación académica y profesional.
                                        br
                                        p Este beneficio es una excelente oportunidad para que los estudiantes amplíen sus conocimientos, vivan nuevas experiencias y se preparen para enfrentar el mundo globalizado de la salud.
                                p El campo de la salud está en constante evolución, lo que requiere de una formación continua. Los enfermeros en Cayetano tienen la oportunidad de seguir especializándose a través de posgrados, diplomados y cursos de actualización que les permiten estar al día con los avances tecnológicos y científicos, aumentando así sus posibilidades de ascender en su carrera profesional. 
                                p Ahora que ya cuentas con un contexto amplio sobre en qué consiste la carrera de enfermería, toma la mejor decisión y estudia en la universidad N.° 1 en Perú.
                                p En Cayetano nos caracterizamos en formar profesionales con empatía, capacidad para resolver problemas y responsabilidad social en nuestras más de 10 carreras de salud, 4 ingenierías, 3 carreras de ciencia, 2 de gestión y 1 de educación.
                                p Si quieres conocer más sobre nuestras 20 carreras de excelencia, sigue este blog y descubre cuál es la opción ideal para ti.
                        .bloque6Right
                .bloque7Right
                    .bloque2ProgramRight.bloque2ProgramRightDesktop
                        .bloque2ProgramRightContainer
                            .bloque2ProgramRightContainerCategories
                            .bloque2ProgramRightContainerNewsletter 
                                .newsletterWhitespace
                                .newsletterContent
                                    .newsletterImage
                                        img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/tano-newletter.gif", alt="")
                                    .newsletterInfo
                                        h3 Conéctate con tu 
                                            span futuro en Cayetano
                                        p Recibe información sobre nuestros programas, consejos de orientación vocacional, beneficios y mucho más para ayudarte a decidir el camino que mejor se alinea con tus metas. 
                                        input(type="text" placeholder="Tu correo electrónico...")
                                        .newsletterInfoTerminos
                                            input(type="checkbox")
                                            h3 He leído y acepto la política de privacidad de Cayetano.
                                        button
                                            h3 Suscribirme
                                            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
        .bloque4 
            .bloque4Container
                .bloque4Banner
                    h3 Postula a Cayetano con Beca 18
                    h4 Valoramos tu 
                        span excelencia académica
                    button
                        h5 Conoce más 
                        img.keyframe-button-movement(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
                .bloque2ProgramLeft.bloque2IndividualLeft
                    .bloque2Title
                        h3 También podría interesarte
                    include includes/slider-ind/slider2.pug
        include includes/form/formBlog.pug
        footer
          .footerContainer
            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/logo-white.webp", alt="")
            .footerTexts
              h3 Campus Central:
              h3 Av. Honorio Delgado 430
              h3 Urb. Ingeniería, San Martín de Porres 
        script(src="../../js/script.js" defer)
        //- script(src="../../js/script-ind.js" defer)
        //- script(src="./js/script.js" defer)
        //- script(src="./js/script-ind.js" defer)
        script(src="https://unpkg.com/swiper/swiper-bundle.min.js")