doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv='Expires' content='0')
        meta(http-equiv='Last-Modified' content='0')
        meta(http-equiv='Cache-Control' content='no-cache, mustrevalidate')
        meta(http-equiv='Pragma' content='no-cache')
        title Sedes de Cayetano Heredia: descubre todos los campus
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel="stylesheet", href="../../css/app.css")
        //- link(rel="stylesheet", href="./css/app.css")
        link(rel="icon" type="image/x-icon" href="../../favicon.png")
        link(rel="stylesheet", href="https://unpkg.com/swiper/swiper-bundle.min.css")
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap' rel='stylesheet')
        <meta name="description" content="Las sedes de Cayetano Heredia están diseñadas para desarrollar tu potencial al máximo en un entorno que combina aprendizaje, convivencia y bienestar.">
        <meta name="keywords" content="cayetano heredia sedes, cayetano heredia campus, universidad peruana cayetano heredia campus central, universidad peruana cayetano heredia campus miraflores, universidad peruana cayetano heredia campus la molina, campus cayetano heredia, campus central cayetano heredia, campus de la cayetano heredia, cayetano heredia campus la molina, campus de la universidad cayetano heredia, cayetano heredia sede la molina, cayetano heredia sede miraflores, sedes de la cayetano heredia, sedes cayetano heredia, sedes de cayetano heredia​">
        <script src="https://www.google.com/recaptcha/api.js" async="" defer=""></script>
    body
        include includes/menu/menuMobile.pug
        .bloque1.bloque1Individual
          .bloque1Container
            .bloque1Logos
                img.blog-logo(src="https://blogs.cayetano.edu.pe/img/logo-1.webp", alt="", onclick="window.open('https://blogs.cayetano.edu.pe/', '_self')")
                .bloque1LogosSelect
                    h3.dropdown-btn Blog Cayetano
                    ul.dropdown-menu
                        li: a(href="https://blogs.cayetano.edu.pe/pregrado/") Pregrado
                        li: a(href="") Pge  
                        li: a(href="") Especialidades
                include includes/search/searchDesktop.pug
                img.top-icon-mobile(src="https://blogs.cayetano.edu.pe/img/icon-menu2.webp", alt="")
                button(onclick="window.open('https://lp.cayetano.edu.pe/admision-cayetano/?utm_campaign=pregrado-aon&utm_term=generico&utm_source=blog&utm_medium=organic&utm_content=botonpostula', '_self')")    
                    h3 Quiero ser de Cayetano
                    img.keyframe-button-movement(src="https://blogs.cayetano.edu.pe/img/arrow-black-button.webp", alt="")
        .bloque6
            .bloque6Container
                .bloque6Calendar
                    .bloque6CalendarProgress
                        h5(onclick="window.open('https://blogs.cayetano.edu.pe/', '_self')") Blog Cayetano
                        h5 |
                        h5(onclick="window.open('https://blogs.cayetano.edu.pe/pregrado/', '_self')") Blog Pregrado
                    .bloque6CalendarInfo
                        img(src="https://blogs.cayetano.edu.pe/img/calendar-icon-whit.webp", alt="")
                        h3 18 de diciembre del 2024
                    .bloque6Title
                        h1 Sedes de Cayetano Heredia: conoce el lugar donde te prepararás para el futuro
                    .bloque6Item
                        h4.bloque6ItemTodos General
        .bloque7.bloque7Individual
            .bloque7Container.bloque7ContainerIndividual
                .bloque7Left
                    .bloque6Flex
                        .bloque6Left
                            img(src="https://blogs.cayetano.edu.pe/img/image-nota-8.webp", alt="")
                            .bloque6LeftRedes
                                h3 Compartir en redes:
                                .bloque6LeftRedesContent
                                    img(src="https://blogs.cayetano.edu.pe/img/icon-fb.webp", alt="", onclick="window.open(`https://www.facebook.com/sharer/sharer.php?u=${encodeURIComponent(window.location.href)}`, '_self')")
                                    img(src="https://blogs.cayetano.edu.pe/img/icon-wp.webp", alt="", onclick="window.open(`https://api.whatsapp.com/send?text=${encodeURIComponent(window.location.href)}`, '_self')")
                                    img(src="https://blogs.cayetano.edu.pe/img/icon-x.webp", alt="", onclick="window.open(`https://x.com/intent/post?text=${encodeURIComponent(window.location.href)}`, '_self')")
                                    img(src="https://blogs.cayetano.edu.pe/img/icon-link.webp", alt="", onclick="window.open(`https://www.linkedin.com/sharing/share-offsite/?url=${encodeURIComponent(window.location.href)}`, '_self')")
                            .bloque6LeftIndex
                                h3.indexclicker Índice
                                .bloque6LeftIndexContent
                                    ol 
                                        li: a(href="#h-uno"): h2 Campus Central
                                        li: a(href="#h-dos"): h2 Campus La Molina
                                        li: a(href="#h-tres"): h2 Sede Miraflores
                                        li: a(href="#h-cuatro"): h2 Campus Santa María
                                        li: a(href="#h-cinco"): h2 Sede San Isidro
                            .bloque6LeftParagraphs
                                p ¿Quieres conocer más sobre nuestras instalaciones académicas? Lo primero que debes saber es que las sedes de Cayetano Heredia se encuentran en la ciudad de Lima, en los distritos de <strong>San Martín de Porres, La Molina, San Isidro y Santa María del Mar</strong>.
                                p Segundo, contamos con dos campus y tres sedes, los cuales incluyen áreas verdes, laboratorios, bibliotecas, auditorios y otros espacios dedicados a actividades académicas, sociales, culturales y recreativas. 
                                p Además, las sedes de Cayetano Heredia están diseñadas para proporcionar un entorno integral que facilite el aprendizaje, la investigación, el desarrollo personal y la interacción social de estudiantes, profesores y personal administrativo. 
                                p ¡Descubre todo sobre el lugar donde comenzarás tu etapa universitaria!
                                .bloque6LeftParagraphsTitle 
                                    h2#h-uno Campus Central
                                p El principal campus de Cayetano Heredia es el Campus Central y está ubicado en el distrito de San Martín de Porres. Aquí llevarás tus clases a partir del segundo año de tu carrera de pregrado, a excepción de la carrera de Psicología.
                                h3 ¿Qué espacios encontrarás en nuestro Campus Central?
                                .other
                                    ul.margin3tab
                                        li: h4 Laboratorios: 
                                            p Contamos con más de 100 Laboratorios de Investigación y Desarrollo (LID) diseñados para potenciar el aprendizaje de nuestros estudiantes y llevar adelante proyectos innovadores de la universidad.
                                .other
                                    ul.margin3tab
                                        li: h4 Centros Docentes: 
                                            p Disponemos de tres Centros Docentes donde podrás hacer tus prácticas en las carreras de Estomatología, Veterinaria y Zootecnia y Tecnologías Médicas.
                                    ul.margin4tab
                                        li  Centro Dental Docente
                                        li  Centro Veterinaria Docente, ubicada en local adyacente del Campus Central
                                        li  Centro de Rehabilitación Docente
                                ul.margin1tab
                                    li: h4 Biblioteca: 
                                        p Tendrás acceso a una de las más completas bibliotecas de Ciencias de la Salud de Latinoamérica.
                                    li: h4 Áreas deportivas y culturales:
                                        p Si te gusta practicar deporte, las losas deportivas de vóley y fútbol serán tus espacios favoritos. Además, contamos con una zona de uso múltiple para actividades deportivas y artísticas, con capacidad para 600 personas.
                                    li: h4 Estacionamiento: 
                                        p Contamos con espacio para 450 autos.
                                    li: h4 Gimnasio: 
                                        p Si quieres desarrollar habilidades deportivas y tener un estilo de vida saludable, el gimnasio es un espacio al que podrás acceder de manera gratuita.
                                    li: h4 Áreas verdes y de esparcimiento:
                                        p Podrás darte una caminata con tus amigos por el parque central, acercarte a la librería o visitar las cafeterías en tus tiempos libres.
                                    li: h4 Tópico de emergencia: 
                                        p Su función principal es actuar como el primer punto de respuesta ante emergencias médicas dentro del campus.
                                    li: h4 Servicios diversos: 
                                        p También encontrarás máquinas expendedoras, centros de copiado, entre otros.
                                    li: h4 Dirección:
                                        p Av. Honorio Delgado 430, San Martín de Porres.
                                .bloque4Banner.bloque4Banner2
                                    .banner2Image
                                        img(src="https://blogs.cayetano.edu.pe/img/banner-image1.webp", alt="")
                                    .banner2Container
                                        .bloque4BannerLeft
                                            h3 ¿Buscas una educación de calidad?
                                            h4 Estudia en la <span>universidad <br> N.° 1 del Perú</span>
                                        button(onclick="window.open('https://lp.cayetano.edu.pe/admision-cayetano/?utm_campaign=pregrado-aon&utm_term=brand&utm_source=blog&utm_medium=organic&utm_content=banner-1-n8', '_self')")
                                            h5 Postula aquí
                                            img.keyframe-button-movement(src="https://blogs.cayetano.edu.pe/img/arrow-black-button.webp", alt="")
                                .bloque6LeftParagraphsTitle 
                                    h2#h-dos Campus La Molina
                                p El Campus La Molina de Cayetano Heredia, inaugurado en 2008, es el lugar donde se dictan las clases del primer año de todas las carreras de pregrado. Además, es el campus exclusivo para el desarrollo completo de la carrera de Psicología.
                                h3 ¿Qué espacios encontrarás en nuestro Campus La Molina?
                                ul.margin1tab
                                    li: h4 Laboratorios: 
                                        p En este campus encontrarás los laboratorios de Investigación y de Desarrollo de la Facultad de Psicología.
                                    li: h4 Biblioteca:
                                        p Podrás acceder a más de 4,500 volúmenes en  tu primer año de carrera. Además, contamos con una colección completa de Psicología
                                    li: h4 Áreas deportivas y culturales:
                                        p Contamos con una loza deportiva, jardines y salones para actividades culturales
                                    li: h4 Servicios diversos: 
                                        p Aquí también encontrarás una cafetería, máquinas expendedoras, centro de copiado, tópico de emergencia, estacionamiento, entre otros servicios
                                    li: h4 Dirección: 
                                        p Calle José Antonio Encinas  310, La Molina.
                                .bloque6LeftParagraphsTitle 
                                    h2#h-tres Sede Miraflores
                                p En la sede de Miraflores, no solo se dictan clases de posgrado, sino que también funciona la Pre Cayetano, el lugar ideal para prepararte y asegurar tu ingreso a Cayetano. Aquí es donde podrás dar el primer paso hacia tu futuro con una formación sólida antes del proceso de admisión.
                                ul.margin1tab
                                    li: h4 Dirección: 
                                        p Av. Armendáriz 497, Miraflores.
                                .bloque6LeftParagraphsTitle 
                                    h2#h-cuatro Sede Santa María
                                p La sede Santa María es el corazón del Complejo Científico Ecológico y Académico (CCEA) de la universidad, un espacio diseñado para impulsar el aprendizaje práctico. Aquí, nuestros estudiantes de ciencias e ingenierías encuentran el lugar perfecto para realizar talleres, prácticas y laboratorios que los preparan para liderar en sus campos.
                                ul.margin1tab
                                    li: h4 Dirección: 
                                        p Panamericana Sur, Km 2.5,  Santa María del Mar.
                                .bloque6LeftParagraphsTitle 
                                    h2#h-cinco Sede San Isidro
                                p Se trata de una nueva sede del Centro Dental Docente de la Universidad Peruana Cayetano Heredia, la cual ofrece atención odontológica general y especializada de alta calidad. Además, en esta sede de Cayetano Heredia los estudiantes realizan prácticas bajo la supervisión de sus docentes, profesionales de gran trayectoria y prestigio en estomatología.
                                ul.margin1tab
                                    li: h4 Dirección: 
                                        p Av. Salaverry 2475, San Isidro.
                                p En resumen, las sedes de Cayetano Heredia buscan ser mucho más que un lugar para asistir a clases; <strong>es un ecosistema donde puedas desarrollar tu potencial al máximo en un entorno que combina aprendizaje, convivencia y bienestar</strong>.
                                p ¿Quieres tener una experiencia universitaria completa que combine la formación académica con el crecimiento personal y profesional? Elige la excelencia, elige Cayetano.
                        .bloque6Right
                .bloque7Right
                    .bloque2ProgramRight.bloque2ProgramRightDesktop
                        .bloque2ProgramRightContainer
                            .bloque2ProgramRightContainerCategories
                            .bloque2ProgramRightContainerNewsletter 
                                include includes/newletter/innerLetter.pug
                                //- .newsletterWhitespace
                                //- .newsletterContent
                                //-     .newsletterImage
                                //-         img(src="https://blogs.cayetano.edu.pe/img/tano-newletter.gif", alt="")
                                //-     .newsletterInfo
                                //-         h3 Conéctate con tu 
                                //-             span futuro en Cayetano
                                //-         p Recibe información sobre nuestros programas, consejos de orientación vocacional, beneficios y mucho más para ayudarte a decidir el camino que mejor se alinea con tus metas. 
                                //-         input(type="text" placeholder="Tu correo electrónico...")
                                //-         .newsletterInfoTerminos
                                //-             input(type="checkbox")
                                //-             h3 He leído y acepto la política de privacidad de Cayetano.
                                //-         button
                                //-             h3 Suscribirme
                                //-             img(src="https://blogs.cayetano.edu.pe/img/arrow-black-button.webp", alt="")
        .bloque4 
            .bloque4Container
                .bloque4Banner
                    .bloque4BannerLeft
                        h3 Inicia la mejor estapa de tu vida
                        h4 en la universidad de la <span>excelencia</span>
                    button(onclick="window.open('https://lp.cayetano.edu.pe/admision-cayetano/?utm_campaign=pregrado-aon&utm_term=medicina-veterinaria&utm_source=blog&utm_medium=organic&utm_content=banner-2-n8', '_self')")
                        h5 Conoce más 
                        img.keyframe-button-movement(src="https://blogs.cayetano.edu.pe/img/arrow-black-button.webp", alt="")
                .bloque2ProgramLeft.bloque2IndividualLeft
                    .bloque2Title
                        h3 También podría interesarte
                    include includes/slider-ind/slider2.pug
        include includes/form/formBlog.pug
        footer
          .footerContainer
            img(src="https://blogs.cayetano.edu.pe/img/logo-white.webp", alt="")
            .footerTexts
              h3 Campus Central:
              h3 Av. Honorio Delgado 430
              h3 Urb. Ingeniería, San Martín de Porres 
        script(src="../../js/script.js" defer)
        //- script(src="./js/script.js" defer)
        script(src="https://unpkg.com/swiper/swiper-bundle.min.js")