doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv='Expires' content='0')
        meta(http-equiv='Last-Modified' content='0')
        meta(http-equiv='Cache-Control' content='no-cache, mustrevalidate')
        meta(http-equiv='Pragma' content='no-cache')
        title ¿Dónde estudiar la carrera de psicología en Perú?
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel="stylesheet", href="../../css/app.css")
        //- link(rel="stylesheet", href="./css/app.css")
        link(rel="icon" type="image/x-icon" href="../../favicon.png")
        link(rel="stylesheet", href="https://unpkg.com/swiper/swiper-bundle.min.css")
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap' rel='stylesheet')
        <meta name="description" content="Elegir dónde estudiar la carrera de psicología es una decisión crucial, ya que será el primer paso en tu camino profesional.">
        <meta name="keywords" content="donde estudiar la carrera de psicologia, donde estudiar la carrera de psicologia, cuantos años dura la carrera de psicologia, por que elegir la carrera de psicologia">
    body
        .manuInner
            .manuInnerContainer
                .manuInnerHeader
                    img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/logo-1.webp", alt="")
                    h3.manuInnerClose X
                .manuInnerInfo
                    include includes/search/searchMobile.pug
                    .manuInnerInfoContent
                        h3(onclick="window.location.replace('https://blogs.cayetano.edu.pe/')").manuInnerInfoContentBottom Blog Cayetano
                        h3(onclick="window.location.replace('https://blogs.cayetano.edu.pe/pregrado')").manuInnerInfoContentBottom Blog Pregrado
                        h3.manuInnerInfoContentBottom Blog PGE
                        h3 Blog Especialidades
            .manuInnerFooter
                .manuInnerFooterContainer
                    h3 Quiero ser de Cayetano
                    img.keyframe-button-movement(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
        .bloque1.bloque1Individual
          .bloque1Container
            .bloque1Logos
                img.blog-logo(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/logo-1.webp", alt="", onclick="window.location.replace('https://blogs.cayetano.edu.pe/')")
                .bloque1LogosSelect
                    h3.dropdown-btn Blog Cayetano
                    ul.dropdown-menu
                        li: a(href="https://blogs.cayetano.edu.pe/pregrado/") Pregrado
                        li: a(href="") Pge  
                        li: a(href="") Especialidades
                include includes/search/searchDesktop.pug
                img.top-icon-mobile(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/icon-menu2.webp", alt="")
                button  
                    h3 Quiero ser de Cayetano
                    img.keyframe-button-movement(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
        .bloque6
            .bloque6Container
                .bloque6Calendar
                    .bloque6CalendarProgress
                        h5(onclick="window.location.replace('https://blogs.cayetano.edu.pe/')") Blog Cayetano
                        h5 |
                        h5(onclick="window.location.replace('https://blogs.cayetano.edu.pe/pregrado/')") Blog Pregrado
                    .bloque6CalendarInfo
                        img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/calendar-icon-whit.webp", alt="")
                        h3 19 de diciembre del 2024
                    .bloque6Title
                        h1#first ¿Dónde estudiar la carrera de psicología en Perú?
                    .bloque6Item
                        h4.bloque6ItemSalud Psicología
        .bloque7.bloque7Individual
            .bloque7Container.bloque7ContainerIndividual
                .bloque7Left
                    .bloque6Flex
                        .bloque6Left
                            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/image-nota-17.webp", alt="")
                            .bloque6LeftRedes
                                h3 Compartir en redes:
                                .bloque6LeftRedesContent
                                    img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/icon-fb.webp", alt="", onclick="window.location.replace(`https://www.facebook.com/sharer/sharer.php?u=${encodeURIComponent(window.location.href)}`)")
                                    img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/icon-wp.webp", alt="", onclick="window.location.replace(`https://api.whatsapp.com/send?text=${encodeURIComponent(window.location.href)}`)")
                                    img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/icon-x.webp", alt="", onclick="window.location.replace(`https://x.com/intent/post?text=${encodeURIComponent(window.location.href)}`)")
                                    img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/icon-link.webp", alt="", onclick="window.location.replace(`https://www.linkedin.com/sharing/share-offsite/?url=${encodeURIComponent(window.location.href)}`)")
                            .bloque6LeftIndex
                                h3.indexclicker Índice
                                .bloque6LeftIndexContent
                                    ol 
                                        li: a(href="#h-uno"): h2 ¿Qué considerar al elegir dónde estudiar psicología?
                                        li: a(href="#h-dos"): h2 ¿Cuánto gana un psicólogo en Perú?
                                        li: a(href="#h-tres"): h2 ¿Por qué elegir la carrera de psicología en Cayetano?
                            .bloque6LeftParagraphs
                                p ¿Te sientes abrumado al decidir dónde estudiar?, ¿buscas una universidad que te brinde una educación de excelencia? Aquí te explicamos los aspectos a tener en cuenta para elegir dónde estudiar la carrera de psicología y tomes la mejor decisión, ya que este es el primer paso hacia tu camino profesional. 
                                .bloque6LeftParagraphsTitle 
                                    h2#h-uno ¿Qué considerar para elegir dónde estudiar psicología?
                                p En Perú, muchas instituciones ofrecen la carrera de psicología, pero es clave evaluar varios aspectos antes de tomar una decisión. Aquí te explicamos qué debes considerar:
                                .other
                                    ul.margin1tab
                                        li: h3 Reputación de la universidad:
                                            p Investiga el prestigio y trayectoria de la institución en el campo de la psicología. Verifica si está bien posicionada en rankings nacionales e internacionales como SUNEDU, THE World University Rankings, QS World University Rankings, Scimago Institutions Rankings, entre otras.
                                        li: h3 Plan de estudios actualizado
                                            p Revisa si tu plan de estudios cuenta con cursos de tendencias y adaptados al mercado laboral. Asegúrate de que incluya especialidades como psicología clínica, psicología organizacional, psicología educativa y psicología social comunitaria. Además, que tenga un enfoque práctico con situaciones reales y prácticas en laboratorio, que te permita experimentar tu carrera desde la universidad.
                                        li: h3 Acreditaciones y licenciamiento:
                                            p Asegúrate que la universidad cuente con acreditaciones reconocidas por entidades oficiales, que garantice su calidad educativa.
                                            br
                                            p En Perú, una universidad debe estar licenciada por SUNEDU, que es la entidad encargada de supervisar la calidad del servicio educativo superior universitario. Además, una buena opción es que sea parte de las instituciones líderes en salud e investigación.
                                        li: h3 Docentes especializados e investigadores:
                                            p Revisa el perfil de los docentes, ya que es una de las principales características que debe contar una de las mejores universidades. Los profesores deben contar con amplia experiencia y preparación académica en el campo de la psicología e investigación.
                                        li: h3 Infraestructura y equipos:
                                            p La universidad que elijas debe contar con una buena infraestructura y equipos de última tecnología para que puedas potenciar tus habilidades y aporte en tu formación.
                                            br
                                            p Dentro de su infraestructura y equipos debe contar con:
                                    ul.margin5tab
                                        li Cámara de observación
                                        li Sala Gesell
                                        li Laboratorios de neurociencia
                                        li E instrumentos para evaluación y experimentación psicofisiológica
                                ul.margin1tab
                                    li: h4 Prácticas y convenios internacionales
                                        p La metodología de enseñanza debe enfocarse en prácticas vivenciales, fundamentales para tu formación y crecimiento profesional. Además, verifica si la universidad tiene convenios con instituciones de salud, empresas, escuelas u otras organizaciones para realizar prácticas pre profesionales, ya que estas son clave para ganar experiencia.
                                        br
                                        p Por otro lado, los convenios internacionales te brindan la oportunidad de realizar pasantías en universidades nacionales y extranjeras de prestigio, enriqueciendo tu formación académica y personal.
                                p Con estas recomendaciones, podrás tomar una decisión informada y elegir la universidad que te brinde la mejor experiencia en la carrera de psicología.
                                .bloque6LeftParagraphsTitle 
                                    h2#h-dos ¿Cuánto gana un psicólogo en Perú?
                                p El salario de un psicólogo varía según varios factores. Si estás considerando estudiar la carrera de psicología, es importante explorar esta información para tomar la decisión.
                                p En 2024, el ingreso promedio de un psicólogo entre 18 y 29 años en Perú es de S/ 2,635 mensuales, según la Dirección de Investigación Socio Económico Laboral (DISEL) del Ministerio de Trabajo. Este rango puede ir desde S/ 1,200 hasta S/ 4,500, dependiendo de factores como:
                                ul.margin4tab
                                    li Especialización en psicología
                                    li Experiencia laboral
                                    li Tipo de sector público o privado
                                    li Región geográfica
                                p Aquellos psicólogos que cuentan con consultorios propios pueden establecer sus tarifas por sesiones, las cuales dependerán de su reputación, especialización y la demanda del servicio.
                                p Es una profesión que cuenta con múltiples alternativas de trabajo por sus especialidades y a medida que acumulan experiencia, su remuneración tiene el potencial de incrementar de manera significativa.
                                .bloque6LeftParagraphsTitle 
                                    h2#h-tres ¿Por qué elegir la carrera de psicología en Cayetano?
                                p Aquí, te detallamos 7 razones de por qué elegir la carrera de psicología en Cayetano:
                                ul.margin1tab
                                    li: h3 Rankings y acreditaciones:
                                        p Somos la universidad N.° 1 en Perú para estudiar psicología, según el ranking THE World University Rankings by Subject y contamos con la acreditación de IAC-CINDA, lo que nos posiciona como líderes en salud e investigación a nivel nacional y reconocida internacionalmente.
                                    li: h3 4 áreas de especialidad: 
                                        p A partir del 5.° año de estudio podrás elegir tu especialidad en psicología clínica, psicología educacional, psicología organizacional y psicología social comunitaria.
                                    li: h3 Prácticas vivenciales:
                                        p se enfoca en prácticas en laboratorios con situaciones reales desde los primeros ciclos. Además, los estudiantes tienen la oportunidad de realizar prácticas pre-profesionales a partir del 4.º y 5.º año de estudio.
                                    li: h3 Laboratorios y equipos de última generación: 
                                        p contamos con laboratorios y equipos modernos como la cámara de observación, la sala Gesell, laboratorios de neurociencia e instrumentos para la evaluación y experimentación psicofisiológica.
                                    li: h3 Docentes e investigadores de prestigio: 
                                        p nuestros profesores son psicólogos investigadores en diversas disciplinas, los cuales fomentan esa competencia desde los primeros ciclos de la carrera.
                                    li: h3 Enfoque en investigación:
                                        p Desde los primeros ciclos, nuestros estudiantes desarrollan competencias a través de 9 líneas de investigación.
                                    li: h3 Convenios internacionales: 
                                        p Contamos con más de 300 convenios que permiten a nuestros alumnos realizar pasantías en universidades nacionales y extranjeras de prestigio, y enriquecer así su experiencia educativa y personal.
                                p Ahora que ya cuentas con un contexto amplio sobre en qué consiste la carrera de psicología y los factores clave para elegir dónde estudiarla, elige estudiarlo en la universidad N.°1 del Perú. 
                                p En Cayetano nos caracterizamos en formar profesionales con empatía, capacidad investigadora y responsabilidad social. Conoce nuestras 20 carreras de excelencia y descubre cuál es la opción ideal para ti. 
                        .bloque6Right
                .bloque7Right
                    .bloque2ProgramRight.bloque2ProgramRightDesktop
                        .bloque2ProgramRightContainer
                            .bloque2ProgramRightContainerCategories
                            .bloque2ProgramRightContainerNewsletter 
                                .newsletterWhitespace
                                .newsletterContent
                                    .newsletterImage
                                        img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/tano-newletter.gif", alt="")
                                    .newsletterInfo
                                        h3 Conéctate con tu 
                                            span futuro en Cayetano
                                        p Recibe información sobre nuestros programas, consejos de orientación vocacional, beneficios y mucho más para ayudarte a decidir el camino que mejor se alinea con tus metas. 
                                        input(type="text" placeholder="Tu correo electrónico...")
                                        .newsletterInfoTerminos
                                            input(type="checkbox")
                                            h3 He leído y acepto la política de privacidad de Cayetano.
                                        button
                                            h3 Suscribirme
                                            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
        .bloque4 
            .bloque4Container
                .bloque4Banner
                    h3 Postula a Cayetano con Beca 18
                    h4 Valoramos tu 
                        span excelencia académica
                    button
                        h5 Conoce más 
                        img.keyframe-button-movement(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
                .bloque2ProgramLeft.bloque2IndividualLeft
                    .bloque2Title
                        h3 También podría interesarte
                    include includes/slider-ind/slider2.pug
        include includes/form/formBlog.pug
        footer
          .footerContainer
            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/logo-white.webp", alt="")
            .footerTexts
              h3 Campus Central:
              h3 Av. Honorio Delgado 430
              h3 Urb. Ingeniería, San Martín de Porres 
        script(src="../../js/script.js" defer)
        //- script(src="../../js/script-ind.js" defer)
        //- script(src="./js/script.js" defer)
        //- script(src="./js/script-ind.js" defer)
        script(src="https://unpkg.com/swiper/swiper-bundle.min.js")