doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv='Expires' content='0')
        meta(http-equiv='Last-Modified' content='0')
        meta(http-equiv='Cache-Control' content='no-cache, mustrevalidate')
        meta(http-equiv='Pragma' content='no-cache')
        title ¿En qué consiste la carrera de psicología y cuánto dura?
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel="stylesheet", href="../../css/app.css")
        //- link(rel="stylesheet", href="./css/app.css")
        link(rel="icon" type="image/x-icon" href="../../favicon.png")
        link(rel="stylesheet", href="https://unpkg.com/swiper/swiper-bundle.min.css")
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap' rel='stylesheet')
        <meta name="description" content="Descubre aquí en qué consiste la carrera de psicología y sus especialidades como psicología clínica, psicología organizacional, educativa y social.">
        <meta name="keywords" content="en que consiste la carrera de psicologia, de que trata la carrera de psicologia, especialidades en psicologia, psicologia clinica, psicologia organizacional​, psicologia educativa, psicologia social comunitaria, cursos que lleva la carrera de psicologia, competencias de la carrera de psicologia, cuanto dura la carrera de psicologia, por que elegir la carrera de psicologia, perfil del egresado de la carrera de psicologia, donde estudiar la carrera de psicologia">
    body
        .manuInner
            .manuInnerContainer
                .manuInnerHeader
                    img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/logo-1.webp", alt="")
                    h3.manuInnerClose X
                .manuInnerInfo
                    .manuInnerInfoSearch
                        input(type="text" id="buscar")
                        img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/icon-search.webp", alt="")
                        include includes/search/searchMobile.pug
                    .manuInnerInfoContent
                        h3.manuInnerInfoContentBottom Blog Cayetano
                        h3.manuInnerInfoContentBottom Blog Pregrado
                        h3.manuInnerInfoContentBottom Blog PGE
                        h3 Blog Especialidades
            .manuInnerFooter
                .manuInnerFooterContainer
                    h3 Quiero ser de Cayetano
                    img.keyframe-button-movement(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
        .bloque1.bloque1Individual
          .bloque1Container
            .bloque1Logos
                img.blog-logo(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/logo-1.webp", alt="")
                .bloque1LogosSelect
                    h3.dropdown-btn Blog Cayetano
                    ul.dropdown-menu
                        li: a(href="https://blogs.cayetano.edu.pe/pregrado/") Pregrado
                        li: a(href="") Pge  
                        li: a(href="") Especialidades
                include includes/search/searchDesktop.pug
                img.top-icon-mobile(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/icon-menu2.webp", alt="")
                button  
                    h3 Quiero ser de Cayetano
                    img.keyframe-button-movement(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
        .bloque6
            .bloque6Container
                .bloque6Calendar
                    .bloque6CalendarProgress
                        h5(onclick="window.location.replace('https://blogs.cayetano.edu.pe/')") Blog Cayetano
                        h5 |
                        h5(onclick="window.location.replace('https://blogs.cayetano.edu.pe/pregrado/')") Blog Pregrado
                    .bloque6CalendarInfo
                        img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/calendar-icon-whit.webp", alt="")
                        h3 17 de diciembre del 2024
                    .bloque6Title
                        h1#first ¿En qué consiste la carrera de psicología y cuánto dura?
                    .bloque6Item
                        h4.bloque6ItemSalud Psicología
        .bloque7.bloque7Individual
            .bloque7Container.bloque7ContainerIndividual
                .bloque7Left
                    .bloque6Flex
                        .bloque6Left
                            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/image-nota-3.webp", alt="")
                            .bloque6LeftRedes
                                h3 Compartir en redes:
                                .bloque6LeftRedesContent
                                    img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/icon-fb.webp", alt="", onclick="window.location.replace(`https://www.facebook.com/sharer/sharer.php?u=${encodeURIComponent(window.location.href)}`)")
                                    img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/icon-wp.webp", alt="", onclick="window.location.replace(`https://api.whatsapp.com/send?text=${encodeURIComponent(window.location.href)}`)")
                                    img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/icon-x.webp", alt="", onclick="window.location.replace(`https://x.com/intent/post?text=${encodeURIComponent(window.location.href)}`)")
                                    img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/icon-link.webp", alt="", onclick="window.location.replace(`https://www.linkedin.com/sharing/share-offsite/?url=${encodeURIComponent(window.location.href)}`)")
                            .bloque6LeftIndex
                                h3.indexclicker Índice
                                .bloque6LeftIndexContent
                                    ol 
                                        li: a(href="#h-uno"): h2 ¿De qué trata la carrera de psicología?
                                        li: a(href="#h-dos"): h2 ¿De qué trata la carrera de psicología?
                                        li: a(href="#h-tres"): h2 Conoce las especialidades en psicología
                                        li: a(href="#h-cuatro"): h2  ¿Qué cursos lleva la carrera de psicología?
                                        li: a(href="#h-cuatro"): h2  Competencias de la carrera de psicología
                                        li: a(href="#h-cuatro"): h2  ¿Cuánto dura la carrera de psicología en Perú?
                                        li: a(href="#h-cuatro"): h2  ¿Por qué elegir la carrera de psicología?
                                        li: a(href="#h-cuatro"): h2  Perfil del egresado de la carrera de psicología
                                        li: a(href="#h-cuatro"): h2  ¿Dónde estudiar la carrera de psicología?
                                        
                                        
                                        
                            .bloque6LeftParagraphs
                                .bloque6LeftParagraphsTitle
                                    h2 Descubre en qué consiste la carrera de psicología
                                p Si eres una persona que tiene curiosidad sobre el estudio de la percepción, las emociones y le interesa entender la importancia de la salud mental, la carrera de psicología es para ti.
                                p En este blog, te ayudaremos a conocer más sobre esta profesión: sus competencias, en qué consiste la carrera de psicología y por qué elegirla. Nuestro objetivo es orientarte para que tomes la mejor decisión y descubras si la psicología es tu vocación.
                                .bloque6LeftParagraphsTitle 
                                    h2 ¿De qué trata la carrera de psicología?
                                p La carrera psicología es la ciencia que estudia al ser humano y su comportamiento, para generar cambios positivos en él y en su entorno.
                                p Sus objetivos principales son evaluar funciones de la mente, explicar el comportamiento humano e intervenir, corregir y mejorar el funcionamiento mental. 
                                p Un psicólogo formado en Cayetano está preparado para intervenir en las 4 áreas de la psicología como la psicología clínica, educativa, organizacional, social comunitaria. Además, cuenta con un enfoque en investigación para contribuir al bienestar y al desarrollo individual y social desde los primeros ciclos.
                                p Esperamos que esta información te haya ayudado a comprender mejor en qué consiste la carrera de psicología. Sigue explorando con nosotros y descubre por qué es tu mejor opción.
                                .bloque6LeftParagraphsTitle
                                    h2 Especialidades en psicología
                                p La carrera de psicología contribuye al bienestar y al desarrollo individual y social a través de sus 4 áreas:
                                .bloque6LeftParagraphsTitle
                                    h2 Psicología clínica
                                p La psicología clínica se enfoca en evaluar, diagnosticar y tratar patologías mentales, optimizando las condiciones individuales y sociales de la salud mental. Su objetivo principal es ayudar a las personas a comprender y superar dificultades como ansiedad, depresión, trastornos de la personalidad, traumas o conflictos interpersonales.
                                p Los psicólogos clínicos utilizan diversas técnicas terapéuticas basadas en la evidencia científica, como la terapia cognitivo-conductual, la terapia sistémica o la psicodinámica, adaptándolas a las necesidades de cada paciente. De este modo, contribuyen a mejorar el bienestar emocional y la calidad de vida. 
                                p Puedes trabajar en clínicas, hospitales, centros de salud mental, laboratorios de investigación y consultorios privados.
                                .bloque6LeftParagraphsTitle
                                    h2 Psicología organizacional
                                p El psicólogo organizacional se encarga de investigar, evaluar y contribuir a mejorar el bienestar de los empleados, la productividad y la eficiencia de las organizaciones, promoviendo un ambiente de trabajo saludable y productivo.
                                p Esta especialidad analiza factores como la motivación, el liderazgo, el trabajo en equipo, la comunicación y la gestión del cambio. Además, diseñan estrategias para optimizar procesos de selección, capacitación y desarrollo del personal, así como para resolver conflictos y fomentar la satisfacción laboral. 
                                p La psicología organizacional combina conocimientos psicológicos con prácticas empresariales para ayudar a las empresas a alcanzar sus metas mientras priorizan el bienestar de sus trabajadores.
                                p Su campo laboral son las empresas públicas y privadas, salud ocupacional, minería, ONG y asesorías laboral externa. 
                                .bloque6LeftParagraphsTitle
                                    h2 Psicología educativa
                                p La psicología educativa busca potenciar el aprendizaje y desarrollo de las personas mediante métodos educativos adaptadas a sus necesidades. Su objetivo es ayudar a los estudiantes a  fortalecer sus habilidades cognitivas como la motivación, la inteligencia, la creatividad y la comunicación. 
                                p Los psicólogos educativos analizan las características individuales de cada estudiante para diseñar intervenciones personalizadas. Además, trabajan en conjunto con docentes y familias para implementar estrategias que mejoren el modelo educativo, optimicen la gestión escolar y promuevan un ambiente inclusivo.
                                p Podrás trabajar en instituciones educativas (colegios, institutos y universidades), ONG, empresas, consultorios pedagógicos y de investigación científica.
                                .bloque6LeftParagraphsTitle
                                    h2 Psicología social comunitaria
                                p El psicólogo social comunitario se encarga del estudio de los grupos humanos y su interacción con el medio ambiente, para promover su desarrollo y bienestar integral, tanto a nivel individual como comunitario. Esta disciplina analiza cómo los factores culturales, económicos, políticos y sociales influyen en el comportamiento y el bienestar colectivo.
                                p Los psicólogos sociales comunitarios abordan temas como la promoción de la salud, la participación ciudadana, la resolución de conflictos, la prevención de problemas sociales y el fortalecimiento de las redes de apoyo comunitario.
                                p Su campo laboral son las ONG, minerías, ministerios, municipalidades, comunidades y centros de investigación. 
                                .bloque6LeftParagraphsTitle
                                    h2 ¿Qué cursos lleva la carrera de psicología?
                                p La carrera de psicología incluye una variedad de cursos diseñados para formar profesionales capaces de comprender y abordar el comportamiento humano desde múltiples perspectivas. 
                                p Conoce aquí la malla curricular de la Universidad Peruana Cayetano Heredia, la universidad N.° 1 en psicología y acreditada por IAC como la universidad líder en salud e investigación a nivel nacional y reconocida internacionalmente.
                                p Además, la metodología pone énfasis en estrategias vivenciales de situaciones reales y prácticas de laboratorios, permitiendo que cada estudiante desarrolle habilidades de análisis, pensamiento crítico y resolución de problemas a través de la investigación. 
                                p Conoce más sobre nuestra propuesta educativa descargando el brochure de la carrera.
                                .bloque6LeftParagraphsTitle
                                    h2 Competencias de la carrera de psicología
                                p Las competencias de la carrera de psicología son un conjunto de habilidades, conocimientos y actitudes que pueden ser innatas como adquiridas a través del estudio y la experiencia laboral. A continuación, te presentamos las principales competencias que necesita tener un psicólogo:
                                .bloque6LeftParagraphsTitle
                                    h3(style="color:black;") Ética profesional
                                p Es un compromiso con los principios de confidencialidad, respeto y responsabilidad en el ejercicio de la psicología. Es fundamental, ya que establece un marco de confianza que permite a los pacientes expresarse libremente y recibir atención adecuada.
                                .bloque6LeftParagraphsTitle
                                    h3(style="color:black;") Investigación
                                p Es esencial que un psicólogo tenga conocimientos sobre investigación científica, pues será responsable del diseño y ejecución de estudios que generen nuevos conocimientos para el campo de la psicología.
                                .bloque6LeftParagraphsTitle
                                    h3(style="color:black;") Diagnóstico y tratamiento
                                p Durante la formación académica adquieres habilidades para identificar y tratar problemas emocionales, conductuales o sociales mediante herramientas científicas. Es importante, mantenerse actualizado sobre los nuevos enfoques de diagnóstico y tratamiento para abordar los problemas de manera efectiva.
                                .bloque6LeftParagraphsTitle
                                    h3(style="color:black;") Lenguaje corporal
                                p Un psicólogo debe aprender a identificar señales que brindan los movimientos, las posturas y las expresiones faciales que transmite el paciente. Al observar estos detalles, podemos ayudar a comprender diversos estados mentales, además de lo que el paciente expresa verbalmente.
                                .bloque6LeftParagraphsTitle
                                    h3(style="color:black;") Empatía
                                p Como psicólogo, debes tener la capacidad de ponerte en el lugar de la otra persona para comprender sus sentimientos o pensamientos desde su perspectiva. Esto es esencial para generar confianza y ofrecer un tratamiento personalizado a cada paciente.
                                .bloque6LeftParagraphsTitle
                                    h3(style="color:black;") Comunicación y escucha activa
                                p Es una habilidad fundamental que te permite escuchar y expresar ideas con claridad, además de empatizar con los pacientes. Esto te permitirá indagar sobre sus inquietudes, ofrecer recomendaciones constructivas y adaptarte a sus necesidades.
                                .bloque6LeftParagraphsTitle
                                    h3(style="color:black;") Flexibilidad y adaptabilidad
                                p Los psicólogos deben tratar a sus pacientes sin ningún prejuicio, tener una actitud flexible y abierta, priorizando siempre su bienestar. Además, esta habilidad nos permitirá tener la actitud receptiva frente a los avances y enfoques en el ámbito científico.
                                .bloque6LeftParagraphsTitle
                                    h2 ¿Cuánto dura la carrera de psicología en Perú?
                                p En Perú, la carrera universitaria de psicología tiene una duración 5 años, este tiempo está dividido en 10 semestres académicos, durante los cuales los estudiantes cursan asignaturas teóricas y prácticas.
                                p En Cayetano, nuestra metodología se encuentra potenciada con prácticas pre-profesionales, prácticas en laboratorio y especialidades en 4 áreas: psicología clínica, psicología educativa, psicología organizacional y psicología social comunitaria. Además, los estudiantes desarrollan su capacidad de análisis, pensamiento crítico y proyectos de investigación desde los primeros ciclos.
                                .bloque6LeftParagraphsTitle
                                    h2 ¿Por qué elegir la carrera de psicología?
                                p Elegir la carrera de psicología significa optar por una profesión dedicada al estudio científico de la mente y el comportamiento humano, con el objetivo de contribuir al bienestar y al desarrollo individual y social en el campo clínico, social-comunitario, educacional y organizacional.
                                p Aquí, te detallamos 5 razones de por qué elegir la carrera de psicología en Cayetano:
                                
                                 
                                h3  Especialidad en 4 áreas de la psicología:                                      
                                p A partir del 5.º ciclo podrás elegir tu especialidad en:
                                    
                                    ul.margin1tab
                                        li Psicología Clínica
                                        li Psicología Organizacional
                                        li Psicología Educacional
                                        li Psicología Social-comunitaria
                                        
                                h3  Prácticas Vivenciales:                                    
                                p La metodología de enseñanza se enfoca en <strong>prácticas en laboratorios con situaciones reales desde los primeros ciclos.</strong>
                                p Contamos con laboratorios y equipos de vanguardia, tales como: 
                                    ul.margin1tab
                                        li Cámaras de observación
                                        li Sala Gesell
                                        li Laboratorio de neurociencia
                                        li Instrumentos para evaluación y experimentación psicofisiológica
                                p Además, los estudiantes tienen la oportunidad de realizar <strong>prácticas pre-profesionales a partir del 4.º y 5.º año de estudio. </strong>
                                
                                h3  Enfoque en investigación                                  
                                p Desde los primeros ciclos, nuestros estudiantes desarrollan competencias a través de 9 líneas de investigación:
                                    ul.margin8tab
                                        li Ciudadanía, Educación y Familia
                                        li Cultura Digital
                                        li Psicología y Adicciones
                                        li Violencia y Equidad
                                        li Bienestar Psicológico y Salud Mental
                                        li Desarrollo del Comportamiento Inteligente, Creativo y Científico
                                        li Psicología y Medio Ambiente
                                        li Comportamiento Organizacional
                                        li Bienestar Psicológico en Instituciones Educativas
                                
                                h3  Intercambio estudiantil                                
                                p Contamos con más de 300 convenios que permiten a nuestros alumnos realizar pasantías en universidades nacionales y extranjeras de prestigio, y enriquecer así su experiencia educativa y personal.
                                p Nuestros egresados confirman nuestros convenios con universidades TOP a nivel internacional y comparten sus experiencias:
                                    .mention 
                                        p Mis compañeros y profesores, desde diferentes perspectivas y enfoques, ampliaron el panorama que tenía. 
                                        h4 Aracely Galicia Soto
                                        h5 Pasantía en la Universidad Autónoma de Metropolitana - México

                                    .mention 
                                        p Cayetano me brindó la oportunidad de realizar una pasantía donde descubrí mi pasión por entender y mejorar la calidad de sueño y trastornos.
                                        h4 Ana Lucía Cárdenas Egúsquiza
                                        h5 Pasantía en la Universidad de la República - Uruguay 

                                    .mention 
                                        p La universidad me permitió formar parte del grupo de investigadores inter facultades. Actualmente, me desempeño en el Laboratorio de Conductas Adictivas de la Facultad de Psicología de la Universidad de Boston, EE. UU.
                                        h4 María José Bustamante Weiss
                                        h5 Egresada de la Facultad de Psicología
                                


                                p  Ahora que ya cuentas con un contexto amplio sobre en qué consiste la carrera de psicología, toma la mejor decisión y estudia psicología en la universidad N.° 1 en Perú.
                                .bloque6LeftParagraphsTitle
                                    h2 Perfil del egresado de la carrera de psicología
                                p El perfil del egresado de la carrera de psicología describe las características, habilidades y conocimientos que los estudiantes desarrollan al completar sus estudios. Un psicólogo egresado de Cayetano se destaca por:
                                    ul.margin1tab
                                        li Diseñar, desarrollar y analizar datos de estudios e investigaciones para generar un conocimiento transformador que permita la resolución de problemas con rigor científico.
                                        li Extraer inferencias basándose en el dominio de contenidos teóricos y técnicos de la ciencia psicológica.
                                        li Analizar e integrar la información científica para diseñar, ejecutar y evaluar actividades de intervención propias de la disciplina, con fundamentos epistemológicos, teóricos, metodológicos, técnicos e interdisciplinarios de la psicología contemporánea.


                                .bloque6LeftParagraphsTitle
                                    h2 ¿Dónde estudiar la carrera de psicología?
                                p Estudiar la carrera de psicología en la Universidad Peruana Cayetano Heredia, no solo garantiza una formación académica de excelencia, sino también prácticas desde los primeros años de estudio. Preparamos a los estudiantes para que destaquen en el ámbito nacional e internacional, consolidando a la universidad como un referente de excelencia educativa. 
                                p En Cayetano nos caracterizamos en formar profesionales con empatía, capacidad investigadora y responsabilidad social, a través de nuestras <strong> más de 10 carreras de salud, 4 ingenierías, 3 carreras de ciencia, 2 de gestión y 1 de educación. </strong>
                                p <strong>Conoce nuestras 20 carreras de excelencia </strong> y descubre cuál es la opción ideal para ti. 
                            .bloque6LeftLabels 
                                h3 Ciencias
                                h3 Ciencias
                                h3 Ciencias
                                h3 Ciencias
                                h3 Ciencias
                        .bloque6Right
                .bloque7Right
                    .bloque2ProgramRight.bloque2ProgramRightDesktop
                        .bloque2ProgramRightContainer
                            .bloque2ProgramRightContainerCategories
                            .bloque2ProgramRightContainerNewsletter 
                                .newsletterWhitespace
                                .newsletterContent
                                    .newsletterImage
                                        img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/tano-newletter.gif", alt="")
                                    .newsletterInfo
                                        h3 Conéctate con tu 
                                            span futuro en Cayetano
                                        p Recibe información sobre nuestros programas, consejos de orientación vocacional, beneficios y mucho más para ayudarte a decidir el camino que mejor se alinea con tus metas. 
                                        input(type="text" placeholder="Tu correo electrónico...")
                                        .newsletterInfoTerminos
                                            input(type="checkbox")
                                            h3 He leído y acepto la política de privacidad de Cayetano.
                                        button
                                            h3 Suscribirme
                                            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
        .bloque4 
            .bloque4Container
                .bloque4Banner
                    h3 Postula a Cayetano con Beca 18
                    h4 Valoramos tu 
                        span excelencia académica
                    button
                        h5 Conoce más 
                        img.keyframe-button-movement(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
                .bloque2ProgramLeft.bloque2IndividualLeft
                    .bloque2Title
                        h3 También podría interesarte
                    include includes/slider-ind/slider2.pug
        include includes/form/formBlog.pug
        footer
          .footerContainer
            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/logo-white.webp", alt="")
            .footerTexts
              h3 Campus Central:
              h3 Av. Honorio Delgado 430
              h3 Urb. Ingeniería, San Martín de Porres 
        script(src="../../js/script.js" defer)
        //- script(src="./js/script.js" defer)
        script(src="https://unpkg.com/swiper/swiper-bundle.min.js")