doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv='Expires' content='0')
        meta(http-equiv='Last-Modified' content='0')
        meta(http-equiv='Cache-Control' content='no-cache, mustrevalidate')
        meta(http-equiv='Pragma' content='no-cache')
        title ¿Qué es el tercio superior?
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel="stylesheet", href="../../css/app.css")
        //- link(rel="stylesheet", href="./css/app.css")
        link(rel="icon" type="image/x-icon" href="../../favicon.png")
        link(rel="stylesheet", href="https://unpkg.com/swiper/swiper-bundle.min.css")
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap' rel='stylesheet')
        <meta name="description" content="Descubre que es el tercio superior y sus beneficios para el inicio de tu carrera profesional.">
        <meta name="keywords" content="que es tercio superior, que significa ser tercio superior, como se si pertenezco al tercio superior en la universidad, como se calcula el tercio superior, requisitos para ser tercio superior, como hago para sustentar que soy  tercio superior,  beneficios de estar en el tercio superior">
        <script src="https://www.google.com/recaptcha/api.js" async="" defer=""></script>
    body
        include includes/menu/menuMobile.pug
        .bloque1.bloque1Individual
          .bloque1Container
            .bloque1Logos
                img.blog-logo(src="https://blogs.cayetano.edu.pe/img/logo-1.webp", alt="", onclick="window.open('https://blogs.cayetano.edu.pe/', '_self')")
                .bloque1LogosSelect
                    h3.dropdown-btn Blog Cayetano
                    ul.dropdown-menu
                        li: a(href="https://blogs.cayetano.edu.pe/pregrado/") Pregrado
                        li: a(href="") Pge  
                        li: a(href="") Especialidades
                include includes/search/searchDesktop.pug
                img.top-icon-mobile(src="https://blogs.cayetano.edu.pe/img/icon-menu2.webp", alt="")
                button(onclick="window.open('https://lp.cayetano.edu.pe/admision-cayetano/?utm_campaign=pregrado-aon&utm_term=generico&utm_source=blog&utm_medium=organic&utm_content=botonpostula', '_self')")    
                    h3 Quiero ser de Cayetano
                    img.keyframe-button-movement(src="https://blogs.cayetano.edu.pe/img/arrow-black-button.webp", alt="")
        .bloque6
            .bloque6Container
                .bloque6Calendar
                    .bloque6CalendarProgress
                        h5(onclick="window.open('https://blogs.cayetano.edu.pe/', '_self')") Blog Cayetano
                        h5 |
                        h5(onclick="window.open('https://blogs.cayetano.edu.pe/pregrado/', '_self')") Blog Pregrado
                    .bloque6CalendarInfo
                        img(src="https://blogs.cayetano.edu.pe/img/calendar-icon-whit.webp", alt="")
                        h3 19 de diciembre del 2024
                    .bloque6Title
                        h1#first ¿Qué es tercio superior y cómo te beneficia?
                    .bloque6Item
                        h4.bloque6ItemTodos Genérico
        .bloque7.bloque7Individual
            .bloque7Container.bloque7ContainerIndividual
                .bloque7Left
                    .bloque6Flex
                        .bloque6Left        
                            img(src="https://blogs.cayetano.edu.pe/img/image-nota-18.webp", alt="que es tercio superior")
                            .bloque6LeftRedes
                                h3 Compartir en redes:
                                .bloque6LeftRedesContent
                                    img(src="https://blogs.cayetano.edu.pe/img/icon-fb.webp", alt="", onclick="window.open(`https://www.facebook.com/sharer/sharer.php?u=${encodeURIComponent(window.location.href)}`, '_self')")
                                    img(src="https://blogs.cayetano.edu.pe/img/icon-wp.webp", alt="", onclick="window.open(`https://api.whatsapp.com/send?text=${encodeURIComponent(window.location.href)}`, '_self')")
                                    img(src="https://blogs.cayetano.edu.pe/img/icon-x.webp", alt="", onclick="window.open(`https://x.com/intent/post?text=${encodeURIComponent(window.location.href)}`, '_self')")
                                    img(src="https://blogs.cayetano.edu.pe/img/icon-link.webp", alt="", onclick="window.open(`https://www.linkedin.com/sharing/share-offsite/?url=${encodeURIComponent(window.location.href)}`, '_self')")
                            .bloque6LeftIndex
                                h3.indexclicker Índice
                                .bloque6LeftIndexContent
                                    ol 
                                        li: a(href="#h-uno"): h2 ¿Qué significa ser tercio superior?
                                        li: a(href="#h-dos"): h2 Beneficios de estar en el tercio superior  
                                        li: a(href="#h-tres"): h2 ¿Cómo saber si soy tercio superior en el colegio?
                                        li: a(href="#h-cuatro"): h2 Requisitos para ser tercio superior
                                        li: a(href="#h-cinco"): h2 ¿Cómo hago para sustentar que soy tercio superior?
                            .bloque6LeftParagraphs
                                //- .bloque6LeftParagraphsTitle 
                                //-     h2#h-uno ¿Qué es tercio superior y cómo te beneficia?
                                p Es común preguntarse por qué el mundo estudiantil suele ser tan competitivo, especialmente cuando se trata de las calificaciones en la escuela. Si buscas una oportunidad que valore tu esfuerzo y te brinde grandes beneficios, formar parte del tercio superior es justo lo que necesitas. Básicamente, los estudiantes con mejor rendimiento son destacados entre los demás, dándoles acceso a becas, programas exclusivos y ventajas para su futuro. 
                                .bloque6LeftParagraphsTitle 
                                    h2#h-uno ¿Qué significa ser tercio superior?
                                p Ser parte del tercio superior en tu colegio significa que te destacas entre los mejores estudiantes de tu promoción. Este reconocimiento no solo refleja tu esfuerzo y dedicación en los estudios, sino que también te abre puertas a oportunidades únicas, como becas educativas, reconocimientos académicos y actividades especiales. Además, demuestra tu compromiso con la excelencia y tu potencial para alcanzar grandes metas en el futuro.
                                .bloque6LeftParagraphsTitle 
                                    h2#h-dos Beneficios de estar en el tercio superior 
                                p Destacar en el colegio como parte del tercio superior no solo te ayuda a mantener buenas notas, sino que también te abre puertas a oportunidades que pueden marcar una gran diferencia en tu futuro académico. Al inicio, te dará ventajas al postular a la universidad de tu elección, y más adelante, cuando estés por egresar o ya en la etapa profesional, te brindará beneficios importantes en el ámbito laboral.
                                p Descubre los beneficios que puedes aprovechar:
                                ul.margin1tab
                                    li: h3 Acceso a becas: 
                                        p Varias universidades y programas de becas valoran el esfuerzo de los estudiantes que pertenecen al tercio superior, lo que les da más oportunidades de ingresar a las mejores instituciones del país.
                                    li: h3 Ventajas en proceso de admisión universitaria:
                                        p Una manera de destacar frente a otros estudiantes es que al postular a otras universidades ser del tercio superior puede darte facilidades de admisión.
                                    li: h3 Reconocimiento de tu esfuerzo: 
                                        p Formar parte del tercio superior refleja tu compromiso y disciplina con los estudios. Si mantienes este nivel, será una señal clara de tu responsabilidad, algo que tanto tus docentes como futuros empleadores valorarán enormemente.
                                .bloque6LeftParagraphsTitle 
                                    h2#h-tres ¿Cómo saber si soy tercio superior en el colegio?
                                p Para saber si perteneces al tercio superior en tu colegio, debes revisar tu promedio académico. Este se calcula en función de las notas que has obtenido en todas tus materias durante el año escolar. Según tu rendimiento, se determinará si estás entre los mejores estudiantes de tu promoción.
                                p El cálculo puede variar según el colegio, pero generalmente incluye a los estudiantes con los promedios más altos. Es importante consultar esta información con tus tutores o en la oficina académica, ya que estar en el tercio superior puede darte la oportunidad de acceder a becas, reconocimientos especiales y ventajas al postular a una universidad.
                                p Ahora que ya tenemos claro el contexto, surge la pregunta: 
                                    strong ¿Cómo se calcula el tercio superior en el colegio?
                                p Si bien puedes consultar los resultados en el sistema de tu colegio, es importante que entiendas cómo se realiza el cálculo del tercio superior. En algunos casos, este proceso puede variar ligeramente según la institución. Aprende cómo calcular de manera sencilla tu promedio para saber si perteneces al tercio superior:
                                p Para determinar si perteneces al tercio superior, primero debes calcular tu promedio del ciclo. Supongamos que en el semestre llevaste 4 cursos.
                                .bloque6LeftParagraphsTitle 
                                    h3(style="color:black;") Paso 1:  Revisa tus calificaciones finales
                                img(src="https://blogs.cayetano.edu.pe/img/nota18-image1.webp", alt="Ejemplo para calcular tercio superior", title="Calcula si eres tercio superior")
                                .bloque6LeftParagraphsTitle 
                                    h3(style="color:black;") Paso 2:  Calcula tu promedio
                                p(style="margin-left:5rem;")
                                    strong 1. Suma las calificaciones:
                                    br
                                    | 16 + 15 + 18 + 19 = 68
                                    br
                                    br
                                    strong 2. Divide la suma entre el número de cursos:
                                    br
                                    | 68 ÷ 4 = 17
                                p 
                                    strong Resultado:
                                    |  Tu  promedio del ciclo es 17
                                p Ahora, necesitas comparar tu promedio con el de tus compañeros.
                                    br
                                    | Supongamos que en el ciclo hay 5 alumnos y sus calificaciones finales son las siguientes:
                                img(src="https://blogs.cayetano.edu.pe/img/nota18-image2.webp", alt="Calificación para estar en tercio superior", title="Notas para estar en tercio superior")
                                .bloque6LeftParagraphsTitle 
                                    h3(style="color:black;") Paso 3:  Calcula el promedio general del grupo
                                p(style="margin-left:5rem;")
                                    strong 1. Suma las calificaciones de todos los estudiantes:
                                    br
                                    | 19 + 17 + 15 + 14 + 16 = 81 
                                    br
                                    br
                                    strong 2. Divide la suma entre el número de estudiantes:
                                    br
                                    | 81 ÷ 5 = 16.2
                                p 
                                    strong Promedio general del grupo: 
                                    |  16.2
                                p 
                                    strong Entonces, ¿quiénes están en el tercio superior?
                                    br
                                    br
                                    | Primero, ordenemos las notas de mayor a menor:  
                                    br
                                    | 19 - 17 - 16 - 15 - 14  
                                    br
                                    br
                                    | En este caso, hay 5 estudiantes, y el tercio superior se conforma por el 33% con las notas más altas. Esto equivale a aproximadamente 2 estudiantes, por lo que las dos notas más altas (19 y 17) pertenecen al tercio superior. 
                                img(src="https://blogs.cayetano.edu.pe/img/nota18-image3.webp", alt="Promedio de nota para ser tercio superior", title="Nota final para ser tercio superior en el colegio")
                                .bloque6LeftParagraphsTitle 
                                    h2#h-cuatro Requisitos para ser tercio superior 
                                p Acceder a grandes beneficios para tu etapa universitaria es una motivación para muchos estudiantes, pero para lograrlo es necesario cumplir con ciertos requisitos establecidos por la institución en la que están estudiando, los cuales generalmente incluyen lo siguiente:
                                ul.margin1tab
                                    li: h3 Tener un promedio destacado durante todo el año escolar:
                                        p Este cálculo se basa en las notas obtenidas en todas tus materias, demostrando constancia y compromiso en tu rendimiento académico.
                                    li: h3 Evitar bajas significativas en tus calificaciones:
                                        p Este cálculo se basa en las notas obtenidas en todas tus materias, demostrando constancia y compromiso en tu rendimiento académico.
                                    li: h3 Estar dentro del primer tercio del ranking de tu promoción: 
                                        p Aunque parezca obvio, es un requisito fundamental, ya que reconoce a quienes destacan constantemente entre sus compañeros.
                                .bloque6LeftParagraphsTitle 
                                    h2#h-cinco ¿Cómo hago para sustentar que soy tercio superior?
                                p  En muchos casos, necesitarás demostrar que perteneces al tercio superior cuando postules a una beca, programa o incluso en algunos procesos de admisión a la universidad. Para agilizar el trámite, una vez que sepas que formas parte del tercio superior, puedes solicitar un certificado o constancia oficial en tu colegio.
                                p Es importante recordar que la información sobre tu posición en el tercio superior se actualiza regularmente en el sistema del colegio, por lo que no necesitas hacer ningún trámite extra para conocer tu lugar en el ranking.
                                p Además, esta posición puede abrirte las puertas al <span onclick="window.open('https://blogs.cayetano.edu.pe/pregrado/todo-sobre-la-excelencia-academica/', '_self')"><strong>ingreso por la modalidad de excelencia académica</strong></span> en Cayetano, brindándote una oportunidad única de acceder a una educación de calidad respaldada por tu esfuerzo académico.
                                p Estar en el tercio superior es un gran logro que refleja tu esfuerzo. Sigue trabajando con dedicación, ¡y verás cómo se abren nuevas oportunidades para tu futuro académico y profesional!
                            //- .bloque6LeftLabels 
                            //-     h3 Ciencias
                            //-     h3 Ciencias
                            //-     h3 Ciencias
                            //-     h3 Ciencias
                            //-     h3 Ciencias
                        .bloque6Right
                .bloque7Right
                    .bloque2ProgramRight.bloque2ProgramRightDesktop
                        .bloque2ProgramRightContainer
                            .bloque2ProgramRightContainerCategories
                            .bloque2ProgramRightContainerNewsletter 
                                include includes/newletter/innerLetter.pug
                                //- .newsletterWhitespace
                                //- .newsletterContent
                                //-     .newsletterImage
                                //-         img(src="https://blogs.cayetano.edu.pe/img/tano-newletter.gif", alt="")
                                //-     .newsletterInfo
                                //-         h3 Conéctate con tu 
                                //-             span futuro en Cayetano
                                //-         p Recibe información sobre nuestros programas, consejos de orientación vocacional, beneficios y mucho más para ayudarte a decidir el camino que mejor se alinea con tus metas. 
                                //-         input(type="text" placeholder="Tu correo electrónico...")
                                //-         .newsletterInfoTerminos
                                //-             input(type="checkbox")
                                //-             h3 He leído y acepto la política de privacidad de Cayetano.
                                //-         button
                                //-             h3 Suscribirme
                                //-             img(src="https://blogs.cayetano.edu.pe/img/arrow-black-button.webp", alt="")
        .bloque4 
            .bloque4Container
                .bloque4Banner
                    .bloque4BannerLeft
                        h3 Inicia la mejor estapa de tu vida
                        h4 en la universidad de la <span>excelencia</span>
                    button(onclick="window.open('https://lp.cayetano.edu.pe/admision-cayetano/?utm_campaign=pregrado-aon&utm_term=medicina-veterinaria&utm_source=blog&utm_medium=organic&utm_content=banner-2-n18', '_self')")
                        h5 Conoce más 
                        img.keyframe-button-movement(src="https://blogs.cayetano.edu.pe/img/arrow-black-button.webp", alt="")
                .bloque2ProgramLeft.bloque2IndividualLeft
                    .bloque2Title
                        h3 También podría interesarte
                    include includes/slider-ind/slider2.pug
        include includes/form/formBlog.pug
        footer
          .footerContainer
            img(src="https://blogs.cayetano.edu.pe/img/logo-white.webp", alt="")
            .footerTexts
              h3 Campus Central:
              h3 Av. Honorio Delgado 430
              h3 Urb. Ingeniería, San Martín de Porres 
        script(src="../../js/script.js" defer)
        //- script(src="./js/script.js" defer)
        script(src="https://unpkg.com/swiper/swiper-bundle.min.js")