doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv='Expires' content='0')
        meta(http-equiv='Last-Modified' content='0')
        meta(http-equiv='Cache-Control' content='no-cache, mustrevalidate')
        meta(http-equiv='Pragma' content='no-cache')
        title ¿Dónde estudiar medicina veterinaria y zootecnia?
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel="stylesheet", href="../../css/app.css")
        link(rel="icon" type="image/x-icon" href="../../favicon.png")
        //- link(rel="stylesheet", href="./css/app.css")
        link(rel="stylesheet", href="https://unpkg.com/swiper/swiper-bundle.min.css")
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap' rel='stylesheet')
        <meta name="description" content="Encuentra dónde estudiar Medicina veterinaria y zootecnia, descubre la mejor opcion y aspectos clave para desarrollar tu pasión por el cuidado animal.">
        <meta name="keywords" content="donde puedo estudiar medicina veterinaria, donde estudiar medicina veterinaria y zootecnia, duracion de medicina veterinaria y zootecnia, por que estudiar medicina veterinaria y zootecnia en cayetano​, hasta donde puedes llegar estudiando medicina veterinaria y zootecnia, cursos de medicina veterinaria y zootecnia, ramas de medicina veterinaria y zootecnia">
    body
        .manuInner
            .manuInnerContainer
                .manuInnerHeader
                    img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/logo-1.webp", alt="")
                    h3.manuInnerClose X
                .manuInnerInfo
                    include includes/search/searchMobile.pug
                    .manuInnerInfoContent
                        h3.manuInnerInfoContentBottom Blog Cayetano
                        h3.manuInnerInfoContentBottom Blog Pregrado
                        h3.manuInnerInfoContentBottom Blog PGE
                        h3 Blog Especialidades
            .manuInnerFooter
                .manuInnerFooterContainer
                    h3 Quiero ser de Cayetano
                    img.keyframe-button-movement(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
        .bloque1.bloque1Individual
          .bloque1Container
            .bloque1Logos
                img.blog-logo(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/logo-1.webp", alt="")
                .bloque1LogosSelect
                    h3.dropdown-btn Blog Cayetano
                    ul.dropdown-menu
                        li: a(href="https://blogs.cayetano.edu.pe/pregrado/") Pregrado
                        li: a(href="") Pge  
                        li: a(href="") Especialidades
                include includes/search/searchDesktop.pug
                img.top-icon-mobile(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/icon-menu2.webp", alt="")
                button  
                    h3 Quiero ser de Cayetano
                    img.keyframe-button-movement(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
        .bloque6
            .bloque6Container
                .bloque6Calendar
                    .bloque6CalendarProgress
                        h5(onclick="window.location.replace('https://blogs.cayetano.edu.pe/')") Blog Cayetano
                        h5 |
                        h5(onclick="window.location.replace('https://blogs.cayetano.edu.pe/pregrado/')") Blog Pregrado
                    .bloque6CalendarInfo
                        img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/calendar-icon-whit.webp", alt="")
                        h3 19 de diciembre del 2024
                    .bloque6Title
                        h3#first ¿Dónde estudiar medicina veterinaria y zootecnia?
                    .bloque6Item
                        h4.bloque6ItemSalud Medicina Veterinaria y Zootecnia
        .bloque7.bloque7Individual
            .bloque7Container.bloque7ContainerIndividual
                .bloque7Left
                    .bloque6Flex
                        .bloque6Left
                            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/image-nota-15.webp", alt="")
                            .bloque6LeftRedes
                                h3 Compartir en redes:
                                .bloque6LeftRedesContent
                                    img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/icon-fb.webp", alt="", onclick="window.location.replace(`https://www.facebook.com/sharer/sharer.php?u=${encodeURIComponent(window.location.href)}`)")
                                    img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/icon-wp.webp", alt="", onclick="window.location.replace(`https://api.whatsapp.com/send?text=${encodeURIComponent(window.location.href)}`)")
                                    img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/icon-x.webp", alt="", onclick="window.location.replace(`https://x.com/intent/post?text=${encodeURIComponent(window.location.href)}`)")
                                    img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/icon-link.webp", alt="", onclick="window.location.replace(`https://www.linkedin.com/sharing/share-offsite/?url=${encodeURIComponent(window.location.href)}`)")
                            .bloque6LeftIndex
                                h3.indexclicker Índice
                                .bloque6LeftIndexContent
                                    h4: a(href="#first") 1. ¿Qué estudia la medicina veterinaria?
                                    h4: a(href="#two") 2. ¿Qué es la carrera de medicina veterinaria y zootecnia?
                                    h4: a(href="#three") 3. Diferencia entre medicina veterinaria y zootecnia
                                    h4: a(href="#four") 4. Campo de trabajo de medicina veterinaria y zootecnia
                                    h4: a(href="#five") 5. ¿Cuánto cuesta la carrera de veterinaria y zootecnia?
                                    h4: a(href="#six") 6. ¿Dónde estudiar medicina veterinaria y zootecnia?
                            .bloque6LeftParagraphs
                                .bloque6LeftParagraphsTitle 
                                    h3(style="color:black;") ¿Dónde puedo estudiar medicina veterinaria y zootecnia?
                                p Durante años, la Medicina Veterinaria ocupó las primeras opciones entre los estudiantes al hablar de carreras relacionadas con los animales. Sin embargo, la Zootecnia ha ganado gran relevancia en el Perú gracias a su enfoque en la producción animal y el desarrollo sostenible.
                                p Entre las universidades que ofrecen las carreras de Medicina Veterinaria y Zootecnia destaca la Universidad Cayetano Heredia. Reconocida por su excelencia académica, ya que sus estudiantes reciben una formación de calidad y se preparan para destacar como grandes profesionales en ambas disciplinas.
                                .bloque6LeftParagraphsTitle 
                                    h3(style="color:black;") Duración de la carrera medicina veterinaria y zootecnia
                                p La duración estándar de esta carrera es de 5 años, sin embargo este plazo puede ajustarse según las necesidades de los estudiantes, especialmente para quienes combinan el trabajo con el estudio.
                                p Lo importante es que cada estudiante pueda organizar su carga académica para aprovechar al máximo los recursos de la universidad y acceder a beneficios como becas o reconocimientos por su buen desempeño académico.
                                .bloque6LeftParagraphsTitle 
                                    h3(style="color:black;") ¿Por qué estudiar medicina veterinaria y zootecnia en Cayetano?
                                p En nuestra facultad, los estudiantes tienen acceso a laboratorios modernos, equipados con tecnología de última generación en nuestras tres sedes (mencionar sedes), y a una sede exclusiva dedicada a la investigación. Además, al estudiar aquí, estarás en la universidad número uno del país en [ranking], lo que te garantiza una formación de calidad y la oportunidad de aprender de los mejores.
                                p Creemos que la práctica es clave para alcanzar el éxito, por eso brindamos a nuestros estudiantes experiencias vivenciales que los preparan para el mundo laboral. Aunque el entorno profesional siempre tiene sus retos, las prácticas realizadas aquí les dan una base sólida para enfrentarlos con confianza.
                                .bloque6LeftParagraphsTitle 
                                    h3(style="color:black;") ¿Te imaginas hasta dónde puedes llegar estudiando medicina veterinaria y zootecnia?
                                p Terminar la universidad puede generar muchas preguntas: ¿Conseguiré trabajo en mi carrera? o ¿Estaré listo para aplicar mis conocimientos?. En Cayetano, nos enorgullecemos de la preparación integral que reciben nuestros estudiantes. De hecho, el [X]% de nuestros egresados ya trabaja en la carrera que estudiaron.
                                p Un ejemplo de éxito es Mariana, egresada de nuestra carrera de Medicina Veterinaria y Zootecnia. Descubre cómo logró destacar en el cuidado de la salud animal gracias a su formación en Cayetano. 
                                .bloque6LeftParagraphsTitle 
                                    h3(style="color:black;") Cursos de medicina veterinaria y zootecnia
                                p La carrera de Medicina Veterinaria y Zootecnia combina clases presenciales, semipresenciales y virtuales, dependiendo de lo que requiera cada curso. Esta flexibilidad permite a los estudiantes adquirir conocimientos teóricos y prácticos de manera integral.
                                    br
                                    | Conoce algunos de los cursos fundamentales de la malla curricular:
                                p 
                                    strong 1. Semiología Veterinaria
                                    br
                                    | En este curso aprenderás a examinar a los animales para identificar si están enfermos o necesitan atención especial. Este conocimiento es clave para realizar diagnósticos precisos y ofrecer el tratamiento adecuado.
                                    br
                                    br
                                    strong 2. Nutrición Animal
                                    br
                                    | Aquí descubrirás cómo alimentar a los animales correctamente y  sobre los nutrientes necesarios para mantener su salud, fortalecerlos y optimizar su rendimiento en actividades como deportes o producción de alimentos.
                                    br
                                    br
                                    strong 3. Medicina de la Conservación
                                    br
                                    | Este curso se enfoca en estrategias para preservar especies en peligro y proteger los ecosistemas. Estudiarás cómo contribuir a la conservación del medio ambiente desde la perspectiva de la medicina veterinaria.
                                .bloque6LeftParagraphsTitle 
                                    h3(style="color:black;") Ramas de medicina veterinaria y zootecnia
                                p Especializarse en un área de la Medicina Veterinaria y Zootecnia es fundamental para garantizar que los animales reciban la atención adecuada que merecen. Al sumergirse en estas ramas, los estudiantes no solo mejoran su conocimiento, sino que se preparan para convertirse en profesionales altamente capacitados. Conoce algunas de las principales especializaciones que permiten a los veterinarios desarrollar su carrera de manera profesional: 
                                p  
                                    strong Clínica y Cirugía Veterinaria: 
                                    | Se centra en el diagnóstico y tratamiento de enfermedades en animales de casa, como perros y gatos, además de realizar procedimientos quirúrgicos para restaurar su salud.
                                    br
                                    br 
                                    strong Medicina de la Conservación: 
                                    | Dedicada a la protección de especies en peligro y al manejo de animales silvestres, contribuyendo a la preservación de la biodiversidad global.
                                    br
                                    br 
                                    strong Salud Pública Veterinaria: 
                                    | Aborda las enfermedades zoonóticas (aquellas que se transmiten entre animales y humanos) y trabaja para garantizar la seguridad de los alimentos de origen animal, evitando riesgos para la salud pública.
                                    br
                                    br 
                                    strong Oncología Veterinaria: 
                                    | Especialización en el diagnóstico y tratamiento de cáncer en animales, utilizando técnicas avanzadas como quimioterapia, cirugía y otros enfoques para mejorar la calidad de vida de los pacientes.
                                p La Medicina Veterinaria y Zootecnia ofrece una amplia gama de oportunidades que te permitirán desarrollar tu pasión por los animales, mientras contribuyes a su bienestar y a la salud pública. Ahora que ya tienes un panorama más claro sobre la carrera, te invitamos a conocer sobre nuestras 20 carreras (linkearlo).
                            .bloque6LeftLabels 
                                h3 Ciencias
                                h3 Ciencias
                                h3 Ciencias
                                h3 Ciencias
                                h3 Ciencias
                        .bloque6Right
                .bloque7Right
                    .bloque2ProgramRight.bloque2ProgramRightDesktop
                        .bloque2ProgramRightContainer
                            .bloque2ProgramRightContainerCategories
                            .bloque2ProgramRightContainerNewsletter 
                                .newsletterWhitespace
                                .newsletterContent
                                    .newsletterImage
                                        img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/tano-newletter.gif", alt="")
                                    .newsletterInfo
                                        h3 Conéctate con tu 
                                            span futuro en Cayetano
                                        p Recibe información sobre nuestros programas, consejos de orientación vocacional, beneficios y mucho más para ayudarte a decidir el camino que mejor se alinea con tus metas. 
                                        input(type="text" placeholder="Tu correo electrónico...")
                                        .newsletterInfoTerminos
                                            input(type="checkbox")
                                            h3 He leído y acepto la política de privacidad de Cayetano.
                                        button
                                            h3 Suscribirme
                                            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
        .bloque4 
            .bloque4Container
                .bloque4Banner
                    h3 Postula a Cayetano con Beca 18
                    h4 Valoramos tu 
                        span excelencia académica
                    button
                        h5 Conoce más 
                        img.keyframe-button-movement(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
                .bloque2ProgramLeft.bloque2IndividualLeft
                    .bloque2Title
                        h3 También podría interesarte
                    .bloque2Slider
                        .slider__container5.swiper.mySwiper5
                            .slider__grid5.swiper-wrapper
                                .slider__item5.swiper-slide
                                    .sliderItemInfo5
                                        .sliderItemInfo5Image
                                            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/invidivual-mobile-slider-image2.webp", alt="")
                                        .sliderItemInfo5Info
                                            .bloque4ItemContentCalendar
                                                img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/calendar-icon-whit.webp", alt="")
                                                h3 04
                                                h3 |
                                                h3 10
                                            h3 ¿Por qué elegir una universidad priorizada?
                                            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
                                            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
                                .slider__item5.swiper-slide
                                    .sliderItemInfo5
                                        .sliderItemInfo5Image
                                            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/invidivual-mobile-slider-image1.webp", alt="")
                                        .sliderItemInfo5Info
                                            .bloque4ItemContentCalendar
                                                img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/calendar-icon-whit.webp", alt="")
                                                h3 04
                                                h3 |
                                                h3 10
                                            h3 ¿Por qué elegir una universidad priorizada?
                                            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
                                            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
                                .slider__item5.swiper-slide
                                    .sliderItemInfo5
                                        .sliderItemInfo5Image
                                            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/invidivual-mobile-slider-image1.webp", alt="")
                                        .sliderItemInfo5Info
                                            .bloque4ItemContentCalendar
                                                img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/calendar-icon-whit.webp", alt="")
                                                h3 04
                                                h3 |
                                                h3 10
                                            h3 ¿Por qué elegir una universidad priorizada?
                                            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
                                            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
                                .slider__item5.swiper-slide
                                    .sliderItemInfo5
                                        .sliderItemInfo5Image
                                            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/invidivual-mobile-slider-image1.webp", alt="")
                                        .sliderItemInfo5Info
                                            .bloque4ItemContentCalendar
                                                img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/calendar-icon-whit.webp", alt="")
                                                h3 04
                                                h3 |
                                                h3 10
                                            h3 ¿Por qué elegir una universidad priorizada?
                                            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
                                            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
        .bloque5 
            .bloque5ImageDesktop 
            .bloque5Container
                h3 Déjanos tus datos y nos contactaremos contigo
                h3.bloque5ContainerTextDesktop Déjanos tus datos y 
                    br
                    | nos contactaremos contigo
                .bloque5ContainerInput
                    .bloque5ContainerInputGroupSelect
                        input(type="text" placeholder="Seleccionar programa")
                    .bloque5ContainerInputGroup
                        input(type="text" placeholder="Nombres*")
                        input(type="text" placeholder="Apellidos*")
                    .bloque5ContainerInputGroup
                        input(type="text" placeholder="Tipo de documento:*")
                        input(type="text" placeholder="Número de documento:*")
                    .bloque5ContainerInputGroup
                        input(type="text" placeholder="Celular:*")
                        input(type="text" placeholder="Correo electrónico:*")
                    input(type="text" placeholder="Selecciona una carrera o especialidad:*")
                .bloque5ContainerTerminos
                    input(type="checkbox")
                    h4 Acepto la Política de Privacidad y Proteccipon de Datos Personales.
                .bloque5ContainerAcepto
                    input(type="checkbox")
                    h4 No acepto.
                .bloque5Button
                    button
                        h3 Enviar
                        img.keyframe-button-movement(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
        footer
          .footerContainer
            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/logo-white.webp", alt="")
            .footerTexts
              h3 Campus Central:
              h3 Av. Honorio Delgado 430
              h3 Urb. Ingeniería, San Martín de Porres 
        script(src="../../js/script.js" defer)
        script(src="../../js/script-ind.js" defer)
        //- script(src="./js/script.js" defer)
        //- script(src="./js/script-ind.js" defer)
        script(src="https://unpkg.com/swiper/swiper-bundle.min.js")