doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv='Expires' content='0')
        meta(http-equiv='Last-Modified' content='0')
        meta(http-equiv='Cache-Control' content='no-cache, mustrevalidate')
        meta(http-equiv='Pragma' content='no-cache')
        title ¿Qué estudia la medicina veterinaria?
        link(rel='preconnect' href='https://fonts.googleapis.com')
        //- link(rel="stylesheet", href="../../css/app.css")
        link(rel="stylesheet", href="./css/app.css")
        link(rel="icon" type="image/x-icon" href="../../favicon.png")
        link(rel="stylesheet", href="https://unpkg.com/swiper/swiper-bundle.min.css")
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap' rel='stylesheet')
        <meta name="description" content="Conoce cómo esta carrera te prepara para proteger a los animales y su entorno. Estamos listos para orientarte y ayudarte a construir tu futuro profesional.">
        <meta name="keywords" content="que estudia la medicina veterinaria, que es la carrera de medicina veterinaria y zootecnia, diferencia entre medicina veterinaria  y zootecnia, donde estudiar medicina veterinaria y zootecnia, cuanto cuesta la carrera de veterinaria y zootecnia, campo de trabajo de medicina veterinaria y zootecnia">
        <script src="https://www.google.com/recaptcha/api.js" async="" defer=""></script>
    body
        .manuInner
            .manuInnerContainer
                .manuInnerHeader
                    img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/logo-1.webp", alt="", onclick="window.open('https://blogs.cayetano.edu.pe/', '_self')")
                    h3.manuInnerClose X
                .manuInnerInfo
                    //movile
                    include includes/search/searchMobile.pug
                    .manuInnerInfoContent
                        h3(onclick="window.open('https://blogs.cayetano.edu.pe/', '_self')").manuInnerInfoContentBottom Blog Cayetano
                        h3(onclick="window.open('https://blogs.cayetano.edu.pe/pregrado', '_self')").manuInnerInfoContentBottom Blog Pregrado
                        h3.manuInnerInfoContentBottom Blog PGE
                        h3 Blog Especialidades
            .manuInnerFooter
                .manuInnerFooterContainer
                    h3 Quiero ser de Cayetano
                    img.keyframe-button-movement(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
        .bloque1.bloque1Individual
          .bloque1Container
            .bloque1Logos
                img.blog-logo(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/logo-1.webp", alt="", onclick="window.open('https://blogs.cayetano.edu.pe/', '_self')")
                .bloque1LogosSelect
                    h3.dropdown-btn Blog Cayetano
                    ul.dropdown-menu
                        li: a(href="https://blogs.cayetano.edu.pe/") Pregrado
                        li: a(href="") Pge  
                        li: a(href="") Especialidades
                include includes/search/searchDesktop.pug
                img.top-icon-mobile(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/icon-menu2.webp", alt="")
                button  
                    h3 Quiero ser de Cayetano
                    img.keyframe-button-movement(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
        .bloque6
            .bloque6Container
                .bloque6Calendar
                    .bloque6CalendarProgress
                        h5(onclick="window.open('https://blogs.cayetano.edu.pe/', '_self')") Blog Cayetano
                        h5 |
                        h5(onclick="window.open('https://blogs.cayetano.edu.pe/pregrado/', '_self')") Blog Pregrado
                    .bloque6CalendarInfo
                        img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/calendar-icon-whit.webp", alt="")
                        h3 17 de diciembre del 2024
                    .bloque6Title
                        h1#first ¿Qué estudia la medicina veterinaria?
                    .bloque6Item
                        h4.bloque6ItemSalud Medicina Veterinaria y Zootecnia
        .bloque7.bloque7Individual
            .bloque7Container.bloque7ContainerIndividual
                .bloque7Left
                    .bloque6Flex
                        .bloque6Left
                            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/image-nota-1.webp", alt="que estudia la medicina veterinaria")
                            .bloque6LeftRedes
                                h3 Compartir en redes:
                                .bloque6LeftRedesContent
                                    img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/icon-fb.webp", alt="", onclick="window.open(`https://www.facebook.com/sharer/sharer.php?u=${encodeURIComponent(window.location.href)}`, '_self')")
                                    img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/icon-wp.webp", alt="", onclick="window.open(`https://api.whatsapp.com/send?text=${encodeURIComponent(window.location.href)}`, '_self')")
                                    img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/icon-x.webp", alt="", onclick="window.open(`https://x.com/intent/post?text=${encodeURIComponent(window.location.href)}`, '_self')")
                                    img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/icon-link.webp", alt="", onclick="window.open(`https://www.linkedin.com/sharing/share-offsite/?url=${encodeURIComponent(window.location.href)}`, '_self')")
                            .bloque6LeftIndex
                                h3.indexclicker Índice
                                .bloque6LeftIndexContent
                                    ol 
                                        
                                        li: a(href="#h-dos"): h2 ¿Qué es la carrera de medicina veterinaria y zootecnia?
                                        li: a(href="#h-tres"): h2 Diferencia entre medicina veterinaria y zootecnia
                                        li: a(href="#h-cuatro"): h2 Campo de trabajo de medicina veterinaria y zootecnia
                                        li: a(href="#h-cinco"): h2 ¿Cuánto cuesta la carrera de veterinaria y zootecnia?
                                        li: a(href="#h-seis"): h2 ¿Dónde estudiar medicina veterinaria y zootecnia?
                                    //- h4:  1. ¿Qué estudia la medicina veterinaria?
                                    //- h4: a(href="#two") 2. ¿Qué es la carrera de medicina veterinaria y zootecnia?
                                    //- h4: a(href="#three") 3. Diferencia entre medicina veterinaria y zootecnia
                                    //- h4: a(href="#four") 4. Campo de trabajo de medicina veterinaria y zootecnia
                                    //- h4: a(href="#five") 5. ¿Cuánto cuesta la carrera de veterinaria y zootecnia?
                                    //- h4: a(href="#six") 6. ¿Dónde estudiar medicina veterinaria y zootecnia?
                            .bloque6LeftParagraphs
                                p Con el tiempo, hemos descubierto cómo diferentes carreras ofrecen oportunidades únicas para desarrollarse y aportar al mundo. Entre ellas, Medicina Veterinaria y Zootecnia destacan para quienes aman y respetan a los animales. Pero puede surgir duda sobre ¿qué significa realmente cada una? ¿son diferentes?
                                p Es el momento para descubrir cómo esta carrera se complementa para cuidar a los animales y su entorno. Estamos aquí para brindarte toda la orientación necesaria y ayudarte a dar forma a tu futuro profesional ¡Comencemos!
                                .bloque6LeftParagraphsTitle 
                                    h2#h-dos ¿Qué es la carrera de medicina veterinaria y zootecnia?
                                p A medida que la tecnología avanza y crece la conciencia sobre el bienestar animal, las carreras de Medicina Veterinaria y Zootecnia se presentan como opciones cada vez más atractivas para quienes sienten pasión por los animales y buscan contribuir a la protección de la biodiversidad y la seguridad alimentaria.
                                
                                p La Medicina Veterinaria se enfoca en la salud de los animales, tratando enfermedades y asegurando su bienestar. La Zootecnia, por su parte, se ocupa de cómo criar y manejar animales de granja para que produzcan de manera saludable.
                                img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2025/01/nota1-image1.webp", alt="Diferencia entre veterinario y zootecnista" title="Medicina veterinaria y zootecnia")
                                p Esta carrera no solo se limita al cuidado de animales domésticos o de granja, sino que también abre un abanico de oportunidades en áreas como la conservación de especies, la investigación en salud pública y proyectos de impacto ambiental.
                                p Los veterinarios, además de velar por la salud de los animales, juegan un papel crucial en la prevención y control de enfermedades zoonóticas, aquellas que pueden transmitirse de animales a seres humanos, como la rabia o el SARS-CoV-2.
                                p Por su parte, los zootecnistas se enfocan en la optimización de recursos, como el agua y la alimentación, impulsando prácticas sostenibles que contribuyen a reducir el impacto ambiental de la producción ganadera.
                                p Ahora, al combinar ambas disciplinas en una sola carrera, obtienes una formación que te permitirá cuidar la salud de los animales mientras optimizas su manejo y producción. Es una carrera que une la ciencia con la práctica, ideal para quienes quieren impactar tanto en el bienestar animal como en el desarrollo sostenible.
                                
                                .bloque6LeftParagraphsTitle 
                                    h2#h-tres Diferencia entre medicina veterinaria y zootecnia
                                p Como mencionamos, aunque ambas carreras están relacionadas con el cuidado de los animales, cada una tiene su enfoque y rol específico. Una diferencia importante es el tipo de vínculo que establecen con los animales: mientras los veterinarios trabajan cara a cara con ellos para cuidarlos directamente, los zootecnistas analizan sistemas más amplios para garantizar su bienestar, como diseñar planes de alimentación que aseguren una nutrición adecuada y saludable.
                                p Otra diferencia que encontramos, está en el campo de trabajo, en este caso, los veterinarios trabajan principalmente en clínicas, hospitales y con animales domésticos, enfocándose en la salud, diagnóstico y tratamiento de enfermedades. En cambio, los zootecnistas se especializan en el manejo y la producción de animales en el sector agrícola, optimizando su alimentación, reproducción y rendimiento. 
                                .bloque6LeftParagraphsTitle 
                                    h2#h-cuatro Campo de trabajo de medicina veterinaria y zootecnia
                                p El campo de trabajo de Medicina Veterinaria y Zootecnia es amplio y diverso, abarcando desde la salud y cuidado de los animales hasta la gestión de su producción.
                                p En el caso que quieras explorar otras áreas de esta carrera, puedes dedicarte a la investigación, donde descubrirás cómo desarrollar nuevos tratamientos, mejorar la calidad de vida de los animales, entender mejor su comportamiento e incluso ayudar a proteger la biodiversidad. 
                                .mention
                                    p <strong>“Me he desempeñado en múltiples centros de rescate y zoológicos en Latinoamérica y Europa, así como también en SERFOR, del Ministerio de Desarrollo Agrario y Riego, siendo parte del equipo de gestión de fauna silvestre, evaluando y diseñando la estrategia de mitigación de tráfico ilegal a nivel Latinoamérica y Caribe”</strong>, comenta Mariana, Egresada y embajadora de Cayetano Heredia.
                                p Así como Mariana, tú también puedes explorar diferentes campos dentro de esta carrera, desde trabajar en clínicas veterinarias, hasta desempeñarte en áreas como la gestión ambiental, el control de enfermedades animales o la investigación científica. Como verás, las oportunidades son muchas y están al alcance de quienes tienen la vocación de cuidar y mejorar la vida animal.
                                .bloque6LeftParagraphsTitle 
                                    h2#h-cinco ¿Cuánto cuesta la carrera de veterinaria y zootecnia?
                                p La carrera de Medicina Veterinaria y Zootecnia en Cayetano tiene una pensión mensual que varía entre S/2,783 - S/4,200, dependiendo de la categoría que corresponda. Los pagos se realizan de manera semestral y pueden ajustarse según la situación económica de cada estudiante. Esto ofrece flexibilidad para quienes necesiten una opción más accesible para financiar su educación.
                                p Cayetano, también ofrece diversas opciones de becas y financiamiento, lo que hace que la carrera sea más accesible para todos los estudiantes. Además, muchos egresados mencionan que la inversión en su educación ha valido la pena, ya que las oportunidades laborales y el impacto social que pueden generar es incalculable.
                                .bloque6LeftParagraphsTitle 
                                    h2(onclick="window.open('https://blogs.cayetano.edu.pe/pregrado/donde-puedo-estudiar-medicina-veterinaria/', '_self')" style="cursor:pointer")#h-seis ¿Dónde estudiar medicina veterinaria y zootecnia?
                                p Si estás buscando una carrera que combine el amor hacia los animales con un enfoque profesional e integral, Medicina Veterinaria y Zootecnia en la Universidad Peruana Cayetano Heredia podría ser tu opción ideal.
                                p Con su excelencia académica y enfoque en investigación, Cayetano se ha posicionado como líder en el país, brindando a sus estudiantes una formación sólida. Además, ofrece experiencias prácticas en diversas áreas, gracias a sus modernas instalaciones y su red de docentes, lo que te permitirá destacarte en el campo de tu elección. 
                                .mention
                                    p <strong>“Estudiar en Cayetano fue una experiencia positiva. Me permitió acceder a conocimientos de vanguardia y realizar prácticas pre-profesionales en el exterior”</strong>, resaltó Giovanna, egresada de Cayetano Heredia.
                                     

                                
                                p Si aún tienes dudas sobre la carrera, revisa la <span onclick="window.open('https://lp.cayetano.edu.pe/wp-content/uploads/2024/09/mc-veterinaria.pdf', '_blank')">malla curricular de Medicina Veterinaria y Zootecnia</span> para conocer los cursos que formarían parte de tu camino universitario. 
                                p La elección de estudiar Medicina Veterinaria y Zootecnia no es solo un camino profesional, sino una forma de aportar al bienestar del mundo. 
                                p En Cayetano, tendrás la oportunidad de formarte con los mejores, realizar prácticas profesionales y explorar múltiples áreas dentro de la carrera.
                                img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2025/01/nota1-image2-pc.webp", alt="Impacto de medicina veterinaria y zootecnia", title="Vocación para ser veterinario")
                            //- .bloque6LeftLabels 
                            //-     h3 Ciencias
                            //-     h3 Ciencias
                            //-     h3 Ciencias
                            //-     h3 Ciencias
                            //-     h3 Ciencias
                        .bloque6Right
                .bloque7Right
                    .bloque2ProgramRight.bloque2ProgramRightDesktop
                        .bloque2ProgramRightContainer
                            .bloque2ProgramRightContainerCategories
                            .bloque2ProgramRightContainerNewsletter 
                                include includes/newletter/innerLetter.pug
                                //- .newsletterWhitespace
                                //- .newsletterContent
                                //-     .newsletterImage
                                //-         img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/tano-newletter.gif", alt="")
                                //-     .newsletterInfo
                                //-         h3 Conéctate con tu 
                                //-             span futuro en Cayetano
                                //-         p Recibe información sobre nuestros programas, consejos de orientación vocacional, beneficios y mucho más para ayudarte a decidir el camino que mejor se alinea con tus metas. 
                                //-         input(type="text" placeholder="Tu correo electrónico...")
                                //-         .newsletterInfoTerminos
                                //-             input(type="checkbox")
                                //-             h3 He leído y acepto la política de privacidad de Cayetano.
                                //-         button
                                //-             h3 Suscribirme
                                //-             img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
        .bloque4 
            .bloque4Container
                .bloque4Banner
                    .bloque4BannerLeft
                        h3 Postula a Cayetano
                        h4 Valoramos tu 
                            span excelencia académica
                    button
                        h5 Conoce más 
                        img.keyframe-button-movement(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
                .bloque2ProgramLeft.bloque2IndividualLeft
                    .bloque2Title
                        h3 También podría interesarte
                    include includes/slider-ind/slider2.pug
        include includes/form/formBlog.pug
        footer
          .footerContainer
            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/logo-white.webp", alt="")
            .footerTexts
              h3 Campus Central:
              h3 Av. Honorio Delgado 430
              h3 Urb. Ingeniería, San Martín de Porres 
        //- script(src="../../js/script.js" defer)
        script(src="./js/script.js" defer)
        script(src="https://unpkg.com/swiper/swiper-bundle.min.js")