doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv='Expires' content='0')
        meta(http-equiv='Last-Modified' content='0')
        meta(http-equiv='Cache-Control' content='no-cache, mustrevalidate')
        meta(http-equiv='Pragma' content='no-cache')
        title ¿Qué estudia la biología?: ramas, historia e importancia
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel="stylesheet", href="../../css/app.css")
        //- link(rel="stylesheet", href="./css/app.css")
        link(rel="icon" type="image/x-icon" href="../../favicon.png")
        link(rel="stylesheet", href="https://unpkg.com/swiper/swiper-bundle.min.css")
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap' rel='stylesheet')
        <meta name="description" content="Al descubrir qué estudia la biología, sabrás si esta carrera es para ti. Conoce su definición, ramas, historia e importancia.">
        <meta name="keywords" content="que estudia biologia, concepto de biologia, cuales son las ramas de la biologia, ramas de biologia, historia de la biologia, quien es el padre de la biologia, en que consiste la carrera de biologia, carrera de biologia, importancia de la biologia">
    body
        .manuInner
            .manuInnerContainer
                .manuInnerHeader
                    img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/logo-1.webp", alt="")
                    h3.manuInnerClose X
                .manuInnerInfo
                    include includes/search/searchMobile.pug
                    .manuInnerInfoContent
                        h3(onclick="window.location.replace('https://blogs.cayetano.edu.pe/')").manuInnerInfoContentBottom Blog Cayetano
                        h3(onclick="window.location.replace('https://blogs.cayetano.edu.pe/pregrado')").manuInnerInfoContentBottom Blog Pregrado
                        h3.manuInnerInfoContentBottom Blog PGE
                        h3 Blog Especialidades
            .manuInnerFooter
                .manuInnerFooterContainer
                    h3 Quiero ser de Cayetano
                    img.keyframe-button-movement(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
        .bloque1.bloque1Individual
          .bloque1Container
            .bloque1Logos
                img.blog-logo(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/logo-1.webp", alt="")
                .bloque1LogosSelect
                    h3.dropdown-btn Blog Cayetano
                    ul.dropdown-menu
                        li: a(href="https://blogs.cayetano.edu.pe/pregrado/") Pregrado
                        li: a(href="") Pge  
                        li: a(href="") Especialidades
                include includes/search/searchDesktop.pug
                img.top-icon-mobile(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/icon-menu2.webp", alt="")
                button  
                    h3 Quiero ser de Cayetano
                    img.keyframe-button-movement(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
        .bloque6
            .bloque6Container
                .bloque6Calendar
                    .bloque6CalendarProgress
                        h5(onclick="window.location.replace('https://blogs.cayetano.edu.pe/')") Blog Cayetano
                        h5 |
                        h5(onclick="window.location.replace('https://blogs.cayetano.edu.pe/pregrado/')") Blog Pregrado
                    .bloque6CalendarInfo
                        img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/calendar-icon-whit.webp", alt="")
                        h3 18 de diciembre del 2024
                    .bloque6Title
                        h1 ¿Qué estudia la biología?: ramas, historia e importancia
                    .bloque6Item
                        h4.bloque6ItemCiencias Biología
        .bloque7.bloque7Individual
            .bloque7Container.bloque7ContainerIndividual
                .bloque7Left
                    .bloque6Flex
                        .bloque6Left
                            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/image-nota-7.webp", alt="")
                            .bloque6LeftRedes
                                h3 Compartir en redes:
                                .bloque6LeftRedesContent
                                    img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/icon-fb.webp", alt="", onclick="window.location.replace(`https://www.facebook.com/sharer/sharer.php?u=${encodeURIComponent(window.location.href)}`)")
                                    img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/icon-wp.webp", alt="", onclick="window.location.replace(`https://api.whatsapp.com/send?text=${encodeURIComponent(window.location.href)}`)")
                                    img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/icon-x.webp", alt="", onclick="window.location.replace(`https://x.com/intent/post?text=${encodeURIComponent(window.location.href)}`)")
                                    img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/icon-link.webp", alt="", onclick="window.location.replace(`https://www.linkedin.com/sharing/share-offsite/?url=${encodeURIComponent(window.location.href)}`)")
                            .bloque6LeftIndex
                                h3.indexclicker Índice
                                .bloque6LeftIndexContent
                                    .bloque6LeftIndexContent
                                    ol 
                                        li: a(href="#h-uno"): h2 ¿Qué es y qué estudia la biología?
                                        li: a(href="#h-dos"): h2 Ramas de la biología
                                        li: a(href="#h-tres"): h2  Historia de la biología
                                        li: a(href="#h-cuatro"): h2  ¿Quién es el padre de la biología?
                                        li: a(href="#h-cuatro"): h2  ¿En qué consiste la carrera de Biología?
                            .bloque6LeftParagraphs
                                .bloque6LeftParagraphsTitle 
                                    h2 ¿Qué estudia la biología y cuáles son sus ramas?
                                p Si alguna vez te has preguntado cómo funcionan los seres vivos, qué nos conecta con las plantas, los animales o incluso los microorganismos, estás a punto de descubrirlo. La biología es la ciencia que estudia la vida en todas sus formas y niveles, desde las células más diminutas hasta los ecosistemas más grandes del planeta.
                                p En este artículo, exploraremos qué estudia la biología y por qué es una de las ciencias más emocionantes para quienes buscan entender el mundo que nos rodea. Si estás en cuarto o quinto de secundaria y te interesa una carrera en ciencias, esta información podría ser el inicio de tu futura carrera.
                                p ¡Prepárate para descubrir qué es la biología, cuáles son sus ramas y mucho más!
                                .bloque6LeftParagraphsTitle 
                                    h2 ¿Qué es y qué estudia la biología?
                                p La biología es la ciencia que estudia la vida en todas sus formas y niveles de organización. El origen de su nombre proviene del griego: "bios" (vida) y "logos" (estudio o tratado). 
                                p Según el Diccionario de la lengua española, la biología es la ciencia que estudia los seres vivos, abarcando su estructura, funcionamiento, evolución, distribución y las relaciones que establecen entre sí y con su entorno.
                                p En otras palabras, lo que estudia la biología son los organismos, y estos pueden ser desde las diminutas bacterias hasta las imponentes ballenas. El Instituto de Genómica Innovadora explica que “algunos organismos son tan pequeños que se necesita un microscopio para verlos. Otros se pueden ver a simple vista. Y algunos son tan grandes que ni siquiera se puede ver todo a la vez”.
                                p En ese sentido, las áreas de estudio de la biología incluyen:
                                
                                ul.margin7tab
                                    li <strong> Estructura y función: </strong>  el estudio sobre cómo están compuestos los organismos (células, tejidos, órganos) y cómo funcionan.
                                    li <strong> Origen y evolución:  </strong> el desarrollo de la vida desde sus comienzos y los procesos evolutivos que generan diversidad.
                                    li <strong> Reproducción y desarrollo:</strong> el estudio sobre cómo los seres vivos se multiplican y crecen.
                                    li <strong> Interacciones:</strong> las relaciones entre los organismos y su entorno, incluyendo los ecosistemas.
                                    li <strong> Genética: </strong>  el estudio del material hereditario y cómo se transmite entre generaciones.
                                    
                                .bloque6LeftParagraphsTitle 
                                    h3 Ramas de la biología
                                p Para estudiar la vida en todas sus formas, la biología se divide en diferentes ramas, las cuales representan a los organismos vivos que integran los 5 reinos actuales en la naturaleza. A continuación, te presentamos las principales ramas de la biología:
                                ul.margin11tab
                                    li: h4 Zoología
                                        p La zoología estudia los animales, su anatomía, comportamiento, hábitats y evolución. Por ejemplo, se enfoca en cómo viven los mamíferos, aves, reptiles y peces en distintos ecosistemas.
                                    
                                    li: h4 Botánica
                                        p La botánica se dedica al estudio de las plantas. Desde árboles gigantes hasta algas microscópicas, esta rama investiga cómo crecen, se reproducen y cómo contribuyen al equilibrio de la naturaleza.

                                    li: h4 Microbiología
                                        p ¿Sabías que hay organismos tan pequeños que no puedes verlos a simple vista? La microbiología estudia a los microbios, como las bacterias, virus y hongos, y su impacto en la vida, tanto positivo como negativo.
                                    
                                    li: h4 Genética
                                        p La genética explora cómo se heredan las características de los seres vivos. Esta rama de la biología investiga el ADN y los genes que determinan aspectos como el color de ojos, el tamaño y las enfermedades hereditarias.
                                    
                                    li: h4 Ecología
                                        p La ecología estudia cómo los seres vivos interactúan entre ellos y con su entorno. Por ejemplo, analiza cómo los animales, las plantas y el clima se afectan mutuamente en un ecosistema.

                                    li: h4 Fisiología
                                        p Esta rama de la biología se centra en cómo funcionan los órganos y sistemas de los seres vivos. Investiga procesos como la respiración, la digestión o el movimiento en plantas y animales
                                    
                                    li: h4 Biología celular
                                        p La biología celular estudia las células, que son las unidades básicas de la vida. Examina su estructura, función y cómo trabajan juntas para formar tejidos y órganos.
                                    
                                    li: h4 Evolución
                                        p La evolución analiza cómo han cambiado los seres vivos a lo largo del tiempo, desde los primeros organismos hasta las especies actuales, como nosotros, los humanos.
                                    
                                    li: h4 Biotecnología
                                        p La biotecnología utiliza conocimientos biológicos para desarrollar soluciones tecnológicas, como medicamentos, cultivos mejorados o energías renovables.Entender de qué tratan las ramas de la biología no solo te ayuda a responder preguntas sobre qué estudia la biología, sino también a valorar la diversidad y complejidad del mundo natural. ¿Te imaginas a cuál de estas áreas te gustaría dedicarte en el futuro?

  

                                .bloque6LeftParagraphsTitle 
                                    h2 Historia de la biología
                                p La biología tiene sus raíces en la antigüedad, cuando los primeros humanos intentaron entender el mundo que los rodeaba. Los antiguos egipcios, por ejemplo, estudiaron el cuerpo humano para mejorar la medicina, mientras que los griegos, como Aristóteles, clasificaron animales y plantas, sentando las bases de la zoología y la botánica. 
                                p Durante este periodo, el conocimiento biológico estaba más relacionado con la observación de la naturaleza que con experimentos científicos, pero marcó el inicio de nuestra curiosidad por la vida.
                                p En la Edad Media, el progreso de la biología fue más lento debido a las restricciones culturales y religiosas. Sin embargo, en el Renacimiento, el interés por el estudio de los seres vivos resurgió con fuerza. Científicos como Andreas Vesalius revolucionaron el conocimiento de la anatomía humana a través de la disección, mientras que Anton van Leeuwenhoek, en el siglo XVII, descubrió microorganismos al inventar el microscopio. Estas innovaciones permitieron que la biología se transformara en una ciencia más experimental y precisa.
                                p En el siglo XIX, la biología dio un salto enorme con figuras como Charles Darwin, quien propuso la teoría de la evolución por selección natural, y Gregor Mendel, el padre de la genética. Ambos cambiaron nuestra comprensión de cómo las especies se desarrollan y se heredan las características. 
                                p En el siglo XX, la biología molecular y el descubrimiento del ADN como base de la vida impulsaron avances increíbles, como la ingeniería genética y la biotecnología. Hoy, la biología continúa evolucionando, abordando desafíos como el cambio climático, las pandemias y la conservación de la biodiversidad. 
                                .bloque6LeftParagraphsTitle 
                                    h2 ¿Quién es el padre de la biología?
                                p Cuando hablamos del padre de la biología moderna, no podemos dejar de mencionar a Charles Robert Darwin, quien revolucionó la ciencia con su teoría de la evolución de las especies. Sin embargo, mucho antes de Darwin, otros grandes pensadores ya habían realizado importantes contribuciones al estudio de la biología, como el filósofo griego Aristóteles.
                                p Pero la biología no tiene un único padre. Además de Darwin y Aristóteles, muchos otros científicos han dejado su huella con estudios y descubrimientos que ampliaron nuestra comprensión de la vida. Por eso, es más acertado hablar de los padres de la biología. Aquí te contamos quiénes son y sus contribuciones más destacadas:
                                
                                
                                h4 1.Aristóteles (384-322 a.C.)
                                ul.margin7tab
                                    li <strong>Aporte:</strong> considerado el primer biólogo de la historia, Aristóteles estudió y clasificó animales, describiendo sus características y comportamientos. Fue pionero en observar la naturaleza de manera sistemática, sentando las bases para la zoología.

                                h4 2.Galeno (129-216 d.C.)
                                ul.margin7tab
                                    li <strong>Aporte:</strong> médico griego que realizó estudios anatómicos detallados en animales, ya que no podía diseccionar humanos. Sus observaciones sobre el funcionamiento del cuerpo influyeron en la fisiología y la medicina por siglos.   
                                
                                h4 3.Carl Linnaeus (1707-1778)
                                ul.margin7tab
                                    li <strong>Aporte:</strong> conocido como el padre de la taxonomía, Linnaeus desarrolló un sistema de clasificación para todos los seres vivos, dándoles nombres científicos en latín. Su método sigue siendo la base de la clasificación biológica actual.
                               
                                h4 4.Jean-Baptiste Lamarck (1744-1829)
                                ul.margin7tab
                                    li <strong>Aporte:</strong> propuso una de las primeras teorías sobre la evolución de las especies, conocida como “herencia de los caracteres adquiridos”. Aunque su teoría no fue del todo correcta, abrió el camino para comprender cómo cambian los seres vivos.

                                h4 5.Charles Darwin (1809-1882)(1744-1829)
                                ul.margin7tab
                                    li <strong>Aporte:</strong> autor de la teoría de la evolución por selección natural, explicada en su obra El origen de las especies. Darwin revolucionó nuestra comprensión de cómo las especies se adaptan y evolucionan a lo largo del tiempo.
                                
                                h4 6.Gregor Mendel (1822-1884)
                                ul.margin7tab
                                    li <strong>Aporte:</strong> considerado el padre de la genética, Mendel descubrió las leyes de la herencia al estudiar cómo se transmiten las características en plantas de guisante. Su trabajo dio origen a la genética moderna.
                                
                                h4 7.Louis Pasteur (1822-1895)
                                ul.margin7tab
                                    li <strong>Aporte:</strong> fundador de la microbiología, Pasteur demostró que los microorganismos causan enfermedades y desarrolló la pasteurización, un método para eliminar bacterias en alimentos y bebidas.

                                p Estos científicos demostraron que la curiosidad y la observación pueden cambiar el mundo. ¿Te imaginas continuar sus legados descubriendo algo nuevo sobre los seres vivos? 
                                .bloque6LeftParagraphsTitle 
                                    h2 ¿En qué consiste la carrera de Biología?
                                p La carrera de Biología está diseñada para comprender de manera integral la vida en todas sus formas, desde la composición molecular y celular de los seres vivos hasta su interacción con los ecosistemas. Durante tu formación, adquirirás conocimientos en genética, ecología, fisiología, microbiología y evolución, combinando teoría con práctica a través de laboratorios y proyectos de campo.
                                p En Cayetano Heredia, nuestra carrera de Biología no solo te prepara para la investigación y la innovación científica, sino que también te brinda las herramientas para desarrollar soluciones que contribuyan al avance del conocimiento y al bienestar de la sociedad.
                                    br
                                    br
                                    | ¿Por qué elegir Biología en Cayetano Heredia?
                                
                                
                                ul.margin8tab
                                    li <strong> Excelencia académica: </strong>  somos la universidad N.º 1 en Ciencias de la Salud en Perú, según el World University Rankings 2024 by Subject, lo que garantiza una formación de alta calidad.

                                    li <strong> Laboratorios de tecnología avanzada: </strong> contamos con instalaciones de alto nivel para que desarrolles tus habilidades prácticas con los mejores recursos.

                                    li <strong> Internacionalización: </strong> gracias a convenios con universidades de prestigio en el extranjero, podrás ampliar tus horizontes académicos realizando intercambios y prácticas internacionales.
                                



                                p Además, nuestra formación te prepara para trabajar de manera multidisciplinaria, conectando la biología con otras áreas del conocimiento. Aquí no solo estudiarás biología: desarrollarás una visión innovadora y global que te permitirá liderar en el ámbito científico y profesional.
                                .bloque6LeftParagraphsTitle 
                                    h3(style="color:black;") Importancia de la Biología
                                p La biología es una de las ciencias más fundamentales porque nos ayuda a entender la vida en todas sus formas. Desde cómo funcionan las células en nuestro cuerpo hasta cómo los ecosistemas se equilibran, la biología nos enseña a valorar la conexión entre todos los seres vivos. 
                                p Este conocimiento, además de ampliar nuestra comprensión del mundo, también nos da las herramientas para resolver problemas globales, como el cambio climático, las enfermedades y la pérdida de biodiversidad.
                                p Además, la importancia de la biología radica en sus numerosas aplicaciones prácticas en diversos campos. Gracias a los avances biológicos, podemos desarrollar tratamientos médicos, mejorar la producción de alimentos y diseñar soluciones sostenibles para proteger el medio ambiente. Ser biólogo significa contribuir al progreso de la humanidad, utilizando la ciencia para crear un futuro mejor.
                                p Ahora que ya sabes qué estudia la biología y cuáles son sus ramas, descubre tu papel en esta ciencia.
                                p Si quieres formar parte de quienes hacen la diferencia en el mundo, la carrera de Biología es el camino perfecto. Explorar esta carrera no solo te permitirá aprender sobre los seres vivos, sino también participar en investigaciones y proyectos que impactan directamente en la sociedad y el planeta. ¿Te atreves a ser el próximo gran descubridor?
                            .bloque6LeftLabels 
                                h3 Ciencias
                                h3 Ciencias
                                h3 Ciencias
                                h3 Ciencias
                                h3 Ciencias
                        .bloque6Right
                .bloque7Right
                    .bloque2ProgramRight.bloque2ProgramRightDesktop
                        .bloque2ProgramRightContainer
                            .bloque2ProgramRightContainerCategories
                            .bloque2ProgramRightContainerNewsletter 
                                .newsletterWhitespace
                                .newsletterContent
                                    .newsletterImage
                                        img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/tano-newletter.gif", alt="")
                                    .newsletterInfo
                                        h3 Conéctate con tu 
                                            span futuro en Cayetano
                                        p Recibe información sobre nuestros programas, consejos de orientación vocacional, beneficios y mucho más para ayudarte a decidir el camino que mejor se alinea con tus metas. 
                                        input(type="text" placeholder="Tu correo electrónico...")
                                        .newsletterInfoTerminos
                                            input(type="checkbox")
                                            h3 He leído y acepto la política de privacidad de Cayetano.
                                        button
                                            h3 Suscribirme
                                            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
        .bloque4 
            .bloque4Container
                .bloque4Banner
                    h3 Postula a Cayetano con Beca 18
                    h4 Valoramos tu 
                        span excelencia académica
                    button
                        h5 Conoce más 
                        img.keyframe-button-movement(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
                .bloque2ProgramLeft.bloque2IndividualLeft
                    .bloque2Title
                        h3 También podría interesarte
                    include includes/slider-ind/slider2.pug
        include includes/form/formBlog.pug
        footer
          .footerContainer
            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/logo-white.webp", alt="")
            .footerTexts
              h3 Campus Central:
              h3 Av. Honorio Delgado 430
              h3 Urb. Ingeniería, San Martín de Porres 
        script(src="../../js/script.js" defer)
        //- script(src="../../js/script-ind.js" defer)
        //- script(src="./js/script.js" defer)
        //- script(src="./js/script-ind.js" defer)
        script(src="https://unpkg.com/swiper/swiper-bundle.min.js")