doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv='Expires' content='0')
        meta(http-equiv='Last-Modified' content='0')
        meta(http-equiv='Cache-Control' content='no-cache, mustrevalidate')
        meta(http-equiv='Pragma' content='no-cache')
        title ¿Cuánto dura la carrera de veterinaria y zootecnia?
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel="stylesheet", href="../../css/app.css")
        //- link(rel="stylesheet", href="./css/app.css")
        link(rel="icon" type="image/x-icon" href="../../favicon.png")
        link(rel="stylesheet", href="https://unpkg.com/swiper/swiper-bundle.min.css")
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap' rel='stylesheet')
        <meta name="description" content="Si buscas una carrera que combine el cuidado animal y compromiso ambiental, en Cayetano recibirás una formación integral alineada a tus metas.">
        <meta name="keywords" content="cuanto dura la carrera de veterinaria y zootecnia, cual es la duración de la carrera de veterinaria y zootecnia, que tienen en comun medicina veterinaria y zootecnia, competencias para estudiar medicina veterinaria y zootecnia, cuanto cuesta la carrera de veterinaria y zootecnia, examen de admision para medicina veterinaria, Imagenes de medicina veterinaria y zootecnia">
        <script src="https://www.google.com/recaptcha/api.js" async="" defer=""></script>
    body
        include includes/menu/menuMobile.pug
        .bloque1.bloque1Individual
          .bloque1Container
            .bloque1Logos
                img.blog-logo(src="https://blogs.cayetano.edu.pe/img/logo-1.webp", alt="", onclick="window.open('https://blogs.cayetano.edu.pe/', '_self')")
                .bloque1LogosSelect
                    h3.dropdown-btn Blog Cayetano
                    ul.dropdown-menu
                        li: a(href="https://blogs.cayetano.edu.pe/pregrado/") Pregrado
                        li: a(href="https://blogs.cayetano.edu.pe/404.html") Pge  
                        li: a(href="https://blogs.cayetano.edu.pe/404.html") Especialidades
                include includes/search/searchDesktop.pug
                img.top-icon-mobile(src="https://blogs.cayetano.edu.pe/img/icon-menu2.webp", alt="")
                button(onclick="window.open('https://lp.cayetano.edu.pe/admision-cayetano/?utm_campaign=pregrado-aon&utm_term=generico&utm_source=blog&utm_medium=organic&utm_content=botonpostula', '_self')")    
                    h3 Quiero ser de Cayetano
                    img.keyframe-button-movement(src="https://blogs.cayetano.edu.pe/img/arrow-black-button.webp", alt="")
        .bloque6
            .bloque6Container
                .bloque6Calendar
                    .bloque6CalendarProgress
                        h5(onclick="window.open('https://blogs.cayetano.edu.pe/', '_self')") Blog Cayetano
                        h5 |
                        h5(onclick="window.open('https://blogs.cayetano.edu.pe/pregrado/', '_self')") Blog Pregrado
                    .bloque6CalendarInfo
                        img(src="https://blogs.cayetano.edu.pe/img/calendar-icon-whit.webp", alt="")
                        h3 18 de diciembre del 2024
                    .bloque6Title
                        h1 ¿Cuánto dura la carrera de Veterinaria y Zootecnia?
                    .bloque6Item
                        h4.bloque6ItemSalud Medicina Veterinaria y Zootecnia
        .bloque7.bloque7Individual
            .bloque7Container.bloque7ContainerIndividual
                .bloque7Left
                    .bloque6Flex
                        .bloque6Left
                            img(src="https://blogs.cayetano.edu.pe/img/image-nota-11.webp", alt="cuanto dura la carrera de veterinaria")
                            .bloque6LeftRedes
                                h3 Compartir en redes:
                                .bloque6LeftRedesContent
                                    img(src="https://blogs.cayetano.edu.pe/img/icon-fb.webp", alt="", onclick="window.open(`https://www.facebook.com/sharer/sharer.php?u=${encodeURIComponent(window.location.href)}`, '_self')")
                                    img(src="https://blogs.cayetano.edu.pe/img/icon-wp.webp", alt="", onclick="window.open(`https://api.whatsapp.com/send?text=${encodeURIComponent(window.location.href)}`, '_self')")
                                    img(src="https://blogs.cayetano.edu.pe/img/icon-x.webp", alt="", onclick="window.open(`https://x.com/intent/post?text=${encodeURIComponent(window.location.href)}`, '_self')")
                                    img(src="https://blogs.cayetano.edu.pe/img/icon-link.webp", alt="", onclick="window.open(`https://www.linkedin.com/sharing/share-offsite/?url=${encodeURIComponent(window.location.href)}`, '_self')")
                            .bloque6LeftIndex
                                h3.indexclicker Índice
                                .bloque6LeftIndexContent
                                    ol 
                                        li: a(href="#h-uno"): h2 ¿Cuál es la duración de la carrera de Veterinaria y Zootecnia?
                                        li: a(href="#h-dos"): h2 ¿Qué tienen en común medicina veterinaria y zootecnia? 
                                        li: a(href="#h-tres"): h2 Competencias para estudiar medicina veterinaria y zootecnia
                                        li: a(href="#h-cuatro"): h2 ¿Cuánto cuesta la carrera de Veterinaria y Zootecnia?
                                        li: a(href="#h-cinco"): h2 Examen de admisión para medicina veterinaria
                                        li: a(href="#h-seis"): h2 Descubre más sobre la experiencia de estudiar medicina veterinaria y zootecnia en Cayetano Heredia 
                            .bloque6LeftParagraphs
                                p Sabemos que elegir una carrera universitaria es una decisión importante, y entender su duración y características es clave, ya que representa una inversión a largo plazo en tu futuro. Por eso, te contamos más sobre la carrera de Medicina Veterinaria y Zootecnia en la Universidad Peruana Cayetano Heredia, para que tengas toda la información que necesitas antes de iniciar esta nueva etapa universitaria.
                                p Cayetano se distingue por su excelencia académica y su compromiso con formar profesionales que marquen la diferencia, donde los estudiantes reciben una formación integral en la protección de la salud animal, con un enfoque que también abarca la conservación del medio ambiente y la salud pública.
                                .bloque6LeftParagraphsTitle 
                                    h2#h-uno ¿Cuál es la duración de la carrera de medicina veterinaria y zootecnia?
                                p Si estás pensando en estudiar una carrera que combine ciencia, amor hacia los animales y compromiso con el medio ambiente, en Cayetano encontrarás una formación completa que se adaptará a tus objetivos. También, conoce <span onclick="window.open('https://blogs.cayetano.edu.pe/pregrado/que-estudia-medicina-veterinaria/', '_self')"><strong>¿Qué estudia la medicina veterinaria?</strong></span> por si quieres todos los detalles sobre la carrera de Medicina Veterinaria y Zootecnia y su estructura académica.
                                img(src="https://blogs.cayetano.edu.pe/img/nota11-image1.webp", alt="Información carrera de medicina veterinaria y zootecnia", title="Duracion carrera veterinaria y zootecnia")
                                .bloque6LeftParagraphsTitle 
                                    h2#h-dos ¿Qué tienen en común la medicina veterinaria y la zootecnia?
                                p Aunque no lo creas, la medicina veterinaria y la zootecnia comparten más de lo que parece, lo que las convierte en opciones complementarias y relevantes para quienes buscan hacer una diferencia en estos campos. A continuación, descubre algunos de los factores comunes que las unen:
                                img(src="https://blogs.cayetano.edu.pe/img/nota11-image2.webp", alt="Similitudes entre la carrera de medicina veterinaria y zootecnia", title="Cosas en comun entre veterinaria y zootecnia")
                                p Ambas comparten el compromiso de cuidar y respetar a los animales, buscando siempre su bienestar y el de su entorno. Al final, se trata de hacer una diferencia real en la vida de los animales y el mundo que nos rodea.
                                .bloque6LeftParagraphsTitle 
                                    h2#h-tres Competencias para estudiar medicina veterinaria y zootecnia
                                p Si estás pensando en estudiar esta carrera, no te preocupes si tus calificaciones no siempre han sido perfectas. Para ser un gran profesional en este campo, más allá de las notas, se valoran ciertas competencias y actitudes que te ayudarán a destacar.
                                img(src="https://blogs.cayetano.edu.pe/img/nota11-image5.webp", alt="Competencias para estudiar medicina veterinaria y zootecnia", title="Perfil para estudiar medicina veterinaria y zootecnia")
                                p ¿Te sentiste identificado/a con algunas de estas competencias? Como verás, esta carrera implica un compromiso constante con el bienestar animal y la sostenibilidad de su entorno.
                                p En esta profesión desarrollarás habilidades como la empatía y la pasión por el cuidado de los animales, además de fortalecer tu capacidad de análisis y trabajo en equipo. Si te visualizas realizando estas actividades, ¡es porque esta carrera está hecha para ti! 
                                .bloque6LeftParagraphsTitle 
                                    h2#h-cuatro ¿Cuánto cuesta la carrera de Veterinaria y Zootecnia? 
                                p En Cayetano, esta carrera tiene una pensión mensual que varía entre <strong>S/2,783 y S/4,200</strong>, según la categoría asignada a cada estudiante. Los pagos se realizan de forma semestral y pueden adaptarse a la situación económica del alumno, brindando mayor flexibilidad. 
                                p Además, cuenta con diferentes programas de becas y opciones de financiamiento, facilitando el acceso a una educación de calidad para quienes buscan realizar su sueño profesional.
                                .bloque6LeftParagraphsTitle 
                                    h2#h-cinco Examen de admisión para medicina veterinaria
                                p Sabemos que el examen de admisión puede parecer un proceso desafiante, pero es un paso fundamental para comenzar tu camino hacia una educación de calidad. Es importante que llegues bien preparado, ya que el examen evalúa materias clave como biología, matemática, química y física, que son esenciales para todas nuestras carreras. 
                                p Pero no te preocupes, no estás solo en este proceso. Nuestros asesores están disponibles para guiarte y orientarte, no solo sobre el examen, sino también sobre todas las opciones que la universidad tiene para ti, como becas y financiamiento. Estamos aquí para apoyarte en cada etapa, desde la preparación hasta tu matrícula. Si tienes más dudas, revisa y conoce  sobre cómo es el proceso de <span onclick="window.open('https://blogs.cayetano.edu.pe/pregrado/matricula-cayetano-heredia/', '_self')"><strong>Matrícula Cayetano Heredia</strong></span> de manera detallada.
                                .bloque6LeftParagraphsTitle 
                                    h2#h-seis Descubre más sobre la experiencia de estudiar medicina veterinaria y zootecnia en Cayetano Heredia
                                img(src="https://blogs.cayetano.edu.pe/img/nota11-image6.webp", alt="Medicina veterinaria y zootecnia Cayetano", title="Alumnos de cayetano estudiando medicina veterinaria y zootecnia")
                                img(src="https://blogs.cayetano.edu.pe/img/nota11-image7.webp", alt="Experiencia medicina veterinaria y zootecnia en Cayetano", title="Practicas vivenciales en medicina veterinaria y zootecnia")
                                p Estudiar Medicina Veterinaria y Zootecnia en Cayetano es mucho más que una formación académica; es una experiencia transformadora que combina excelencia educativa, práctica constante y un enfoque integral en el bienestar animal. Aquí, desarrollarás las habilidades y conocimientos necesarios para impactar positivamente en la salud y cuidado de los animales, contribuyendo al desarrollo sostenible de nuestra sociedad.
                        .bloque6Right
                .bloque7Right
                    .bloque2ProgramRight.bloque2ProgramRightDesktop
                        .bloque2ProgramRightContainer
                            .bloque2ProgramRightContainerCategories
                            .bloque2ProgramRightContainerNewsletter 
                                include includes/newletter/innerLetter.pug
                                //- .newsletterWhitespace
                                //- .newsletterContent
                                //-     .newsletterImage
                                //-         img(src="https://blogs.cayetano.edu.pe/img/tano-newletter.gif", alt="")
                                //-     .newsletterInfo
                                //-         h3 Conéctate con tu 
                                //-             span futuro en Cayetano
                                //-         p Recibe información sobre nuestros programas, consejos de orientación vocacional, beneficios y mucho más para ayudarte a decidir el camino que mejor se alinea con tus metas. 
                                //-         input(type="text" placeholder="Tu correo electrónico...")
                                //-         .newsletterInfoTerminos
                                //-             input(type="checkbox")
                                //-             h3 He leído y acepto la política de privacidad de Cayetano.
                                //-         button
                                //-             h3 Suscribirme
                                //-             img(src="https://blogs.cayetano.edu.pe/img/arrow-black-button.webp", alt="")
        .bloque4 
            .bloque4Container
                .bloque4Banner
                    .bloque4BannerLeft
                        h3 Inicia la mejor estapa de tu vida
                        h4 en la universidad de la <span>excelencia</span>
                    button(onclick="window.open('https://lp.cayetano.edu.pe/admision-cayetano/?utm_campaign=pregrado-aon&utm_term=medicina-veterinaria&utm_source=blog&utm_medium=organic&utm_content=banner-2-n11', '_self')")
                        h5 Conoce más 
                        img.keyframe-button-movement(src="https://blogs.cayetano.edu.pe/img/arrow-black-button.webp", alt="")
                .bloque2ProgramLeft.bloque2IndividualLeft
                    .bloque2Title
                        h3 También podría interesarte
                    include includes/slider-ind/slider2.pug
        include includes/form/formBlog.pug
        footer
          .footerContainer
            img(src="https://blogs.cayetano.edu.pe/img/logo-white.webp", alt="")
            .footerTexts
              h3 Campus Central:
              h3 Av. Honorio Delgado 430
              h3 Urb. Ingeniería, San Martín de Porres 
        script(src="../../js/script.js" defer)
        //- script(src="./js/script.js" defer)
        script(src="https://unpkg.com/swiper/swiper-bundle.min.js")