doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv='Expires' content='0')
        meta(http-equiv='Last-Modified' content='0')
        meta(http-equiv='Cache-Control' content='no-cache, mustrevalidate')
        meta(http-equiv='Pragma' content='no-cache')
        title ¿Cómo adaptarse a la universidad?
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel="stylesheet", href="../../css/app.css")
        //- link(rel="stylesheet", href="./css/app.css")
        link(rel="stylesheet", href="https://unpkg.com/swiper/swiper-bundle.min.css")
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(rel="icon" type="image/x-icon" href="../../favicon.png")
        link(href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap' rel='stylesheet')
        <meta name="description" content="Conoce los puntos clave que debes tener en cuenta antes de ingresar a la universidad.">
        <meta name="keywords" content="como adaptarse a la universidad, como adaptarte a la vida universitaria, 5 estrategias para la vida universitaria, habilidades blandas que se necesitan en la vida universitaria, dificultades en la vida universitaria, ventajas de generar un balance con tu vida universitaria, ejemplos de logros personales durante la vida universitaria">
    body
        .manuInner
            .manuInnerContainer
                .manuInnerHeader
                    img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/logo-1.webp", alt="")
                    h3.manuInnerClose X
                .manuInnerInfo
                    include includes/search/searchMobile.pug
                    .manuInnerInfoContent
                        h3(onclick="window.location.replace('https://blogs.cayetano.edu.pe/')").manuInnerInfoContentBottom Blog Cayetano
                        h3(onclick="window.location.replace('https://blogs.cayetano.edu.pe/pregrado')").manuInnerInfoContentBottom Blog Pregrado
                        h3.manuInnerInfoContentBottom Blog PGE
                        h3 Blog Especialidades
            .manuInnerFooter
                .manuInnerFooterContainer
                    h3 Quiero ser de Cayetano
                    img.keyframe-button-movement(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
        .bloque1.bloque1Individual
          .bloque1Container
            .bloque1Logos
                img.blog-logo(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/logo-1.webp", alt="")
                .bloque1LogosSelect
                    h3.dropdown-btn Blog Cayetano
                    ul.dropdown-menu
                        li: a(href="https://blogs.cayetano.edu.pe/pregrado/") Pregrado
                        li: a(href="") Pge  
                        li: a(href="") Especialidades
                include includes/search/searchDesktop.pug
                img.top-icon-mobile(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/icon-menu2.webp", alt="")
                button  
                    h3 Quiero ser de Cayetano
                    img.keyframe-button-movement(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
        .bloque6
            .bloque6Container
                .bloque6Calendar
                    .bloque6CalendarProgress
                        h5(onclick="window.location.replace('https://blogs.cayetano.edu.pe/')") Blog Cayetano
                        h5 |
                        h5(onclick="window.location.replace('https://blogs.cayetano.edu.pe/pregrado/')") Blog Pregrado
                    .bloque6CalendarInfo
                        img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/calendar-icon-whit.webp", alt="")
                        h3 20 de diciembre del 2024
                    .bloque6Title
                        h1#first ¿Cómo adaptarte a la vida universitaria?
                    .bloque6Item
                        h4.bloque6ItemTodos General
        .bloque7.bloque7Individual
            .bloque7Container.bloque7ContainerIndividual
                .bloque7Left
                    .bloque6Flex
                        .bloque6Left
                            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/image-nota-22.webp", alt="")
                            .bloque6LeftRedes
                                h3 Compartir en redes:
                                .bloque6LeftRedesContent
                                    img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/icon-fb.webp", alt="", onclick="window.location.replace(`https://www.facebook.com/sharer/sharer.php?u=${encodeURIComponent(window.location.href)}`)")
                                    img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/icon-wp.webp", alt="", onclick="window.location.replace(`https://api.whatsapp.com/send?text=${encodeURIComponent(window.location.href)}`)")
                                    img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/icon-x.webp", alt="", onclick="window.location.replace(`https://x.com/intent/post?text=${encodeURIComponent(window.location.href)}`)")
                                    img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/icon-link.webp", alt="", onclick="window.location.replace(`https://www.linkedin.com/sharing/share-offsite/?url=${encodeURIComponent(window.location.href)}`)")
                            .bloque6LeftIndex
                                h3.indexclicker Índice
                                .bloque6LeftIndexContent
                                    ol 
                                        li: a(href="#h-uno"): h2 Aplica estas 5  estrategias para la vida universitaria
                                        li: a(href="#h-dos"): h2 Desarrolla habilidades blandas que se necesitan en la vida universitaria
                                        li: a(href="#h-tres"): h2 Enfrenta las dificultades en la vida universitaria
                                        li: a(href="#h-cuatro"): h2 Conoce las ventajas de generar un balance en tu  vida universitaria 
                                        li: a(href="#h-cinco"): h2 Ejemplos de logros personales durante la vida universitaria 
                                        li: a(href="#h-seis"): h2 Preguntas frecuentes sobre la vida universitaria
                            .bloque6LeftParagraphs
                                .bloque6LeftParagraphsTitle 
                                    h2 ¿Cómo adaptarte a la vida universitaria?
                                p Ha llegado una de las etapas más esperadas por muchos. Es normal sentir emociones mezcladas: miedo, felicidad o nervios, ya que se trata de algo desconocido que aún no han vivido. Sin embargo, tienen una idea de lo que podría suceder gracias a las experiencias de familiares, profesores y amigos.  
                                p Es importante recordar que los seres humanos estamos en constante cambio: cerramos y abrimos etapas que nos permiten crecer como personas. Además, las experiencias de otros no definen las tuyas, así que toma esta nota como una guía que te ayudará a prepararte para la vida universitaria.   
                                .bloque6LeftParagraphsTitle 
                                    h2#h-uno Aplica estas 5 estrategias para la vida universitaria
                                ul.margin3tab
                                    li: h3 Organización y gestión del tiempo:
                                        p Utiliza herramientas como agendas, planners o aplicaciones que te ayuden a organizar tus tareas, como Notion, Google Calendar, Evernote. Elige la que mejor se adapte a ti y úsala para optimizar tu rendimiento académico.
                                    li: h3 Participa en actividades extracurriculares: 
                                        p Unirte a clubes, eventos o voluntariados te permitirá desarrollar habilidades sociales, conocer gente nueva y hacer networking.
                                    li: h3 Establece metas claras:
                                        p Define tus objetivos a corto y largo plazo, tanto académicos como personales. Al tener un propósito claro, puedes mantenerte enfocado y motivado.
                                    li: h3 Busca apoyo cuando lo necesites:
                                        p Si te sientes abrumado, busca la ayuda de tus profesores, familiares o compañeros. Formar grupos de estudio también puede ser una excelente forma de aprender de manera colaborativa.
                                    li: h3 Cuida tu bienestar físico y mental:
                                        p Mantener un equilibrio entre el estudio, el ejercicio y el descanso es fundamental. Esto te ayudará a mantener el enfoque en tus metas con energía, liberar la mente y cuidar de ti mismo. 
                                .bloque6LeftParagraphsTitle 
                                    h2#h-dos Desarrolla habilidades blandas que se necesitan en la vida universitaria
                                p El crecimiento personal no pasa de un día para otro; se construye poco a poco, con lo que vives y lo que aprendes de los demás. Tanto en el colegio como en la universidad, las habilidades blandas son clave para trabajar en equipo y superar los retos que te ayudan a crecer.  
                                p Descubre algunas habilidades esenciales para destacar en cualquier área de tu vida. Tal vez ya las usas sin darte cuenta, las aprendiste en el cole o apenas las estás descubriendo. No importa en qué etapa estés, siempre es un buen momento para practicarlas y fortalecerlas. 
                                ul.margin1tab
                                    li: h3 Comunicación efectiva: 
                                        p Expresa tus ideas con claridad y escucha activamente.
                                    li: h3 Trabajo en equipo:
                                        p Colabora en proyectos grupales y aprende a respetar diferentes puntos de vista.
                                    li: h3 Adaptabilidad: 
                                        p Sé flexible ante cambios. Prueba cosas nuevas y aprende constantemente.
                                    li: h3 Resolución de problemas: 
                                        p Mantén la calma y enfócate en soluciones, para avanzar poco a poco en tus desafíos.
                                .bloque6LeftParagraphsTitle 
                                    h2#h-tres Enfrenta las dificultades en la vida universitaria
                                p ¿Qué sería de nuestra vida sin dificultades? En el día a día nos enfrentamos a distintas situaciones que nos llevan a una montaña rusa de emociones, pero lo importante es saber cómo manejarlas y salir adelante.
                                p Muchas veces, ante una dificultad, salimos de nuestra zona de confort porque nos ponemos a prueba en varios aspectos. Esto nos lleva a preguntarnos: ¿cómo puedo reconocer esa dificultad y enfrentarla o sobrellevarla? Descubre los consejos para enfrentarlas: 
                                ul.margin1tab
                                    li: h3 Acepta tus emociones: 
                                        p Tómate un momento para reflexionar sobre la situación y reconoce cómo te sientes, es el primer paso hacia una solución efectiva.
                                    li: h3 Divide el problema: 
                                        p Establece un plan de acción dividiendo el problema en pasos pequeños. Esto hará que sea menos abrumador y más manejable.
                                    li: h3 Sé paciente contigo mismo: 
                                        p Celebra cada pequeño alcance y aprende de cada desafío.
                                .bloque6LeftParagraphsTitle 
                                    h2#h-cuatro Conoce las ventajas de generar un balance en tu vida universitaria
                                p Alcanzar un balance en tu vida puede ser un gran desafío, ya que requiere mucha fuerza de voluntad. Al principio, puede resultar complicado adaptarse a nuevos horarios y desarrollar nuevos hábitos. Recuerda que un hábito tarda, en promedio, 21 días en consolidarse. Así como obtener buenas calificaciones trae beneficios, cuidar de tu cuerpo también los tiene. Un equilibrio adecuado te brinda bienestar interno que, con el tiempo, se refleja externamente.
                                .bloque6LeftParagraphsTitle 
                                    h2#h-cinco Ejemplos de logros personales durante la vida universitaria
                                p La universidad es mucho más que clases y exámenes; es un espacio para descubrir tus fortalezas, superar retos y crecer como persona.Aquí es donde comienzas a construir habilidades y logros que marcarán tu camino hacia el éxito, tanto dentro como fuera del aula.  
                                p Recuerda que cada pequeño paso cuenta. Desde aprender a manejar tu tiempo hasta desarrollar nuevas habilidades, todos tus logros personales son parte de tu historia universitaria.
                                .bloque6LeftParagraphsTitle 
                                    h2#h-seis Preguntas frecuentes sobre la vida universitaria
                                p Comenzar la universidad es emocionante, pero también puede generar muchas preguntas.  Para que te sientas más preparado, aquí tienes respuestas claras a las dudas más comunes que tienen los nuevos estudiantes al dar este gran paso. 
                                ul.margin3tab
                                    li: h3 ¿Dónde puedo revisar mi horario? 
                                        p Puedes revisar tu horario en el portal del estudiante o en la aplicación móvil de tu universidad. Asegúrate de descargarlo o imprimirlo para tenerlo a mano.
                                    li: h3 ¿Cómo puedo acceder a las plataformas en línea de la universidad?
                                        p Revisa tu correo institucional para las credenciales de acceso. Luego, entra a la plataforma oficial que utiliza la universidad, como Blackboard o Google Classroom.
                                    li: h3 ¿Cómo funciona el sistema de calificación?
                                        p Cada universidad tiene un sistema propio, pero generalmente se basa en porcentajes o créditos acumulados en evaluaciones, trabajos y asistencia. Puedes encontrar los detalles en el reglamento académico. 
                            //- .bloque6LeftLabels 
                            //-     h3 Ciencias
                            //-     h3 Ciencias
                            //-     h3 Ciencias
                            //-     h3 Ciencias
                            //-     h3 Ciencias
                        .bloque6Right
                .bloque7Right
                    .bloque2ProgramRight.bloque2ProgramRightDesktop
                        .bloque2ProgramRightContainer
                            .bloque2ProgramRightContainerCategories
                            .bloque2ProgramRightContainerNewsletter 
                                .newsletterWhitespace
                                .newsletterContent
                                    .newsletterImage
                                        img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/tano-newletter.gif", alt="")
                                    .newsletterInfo
                                        h3 Conéctate con tu 
                                            span futuro en Cayetano
                                        p Recibe información sobre nuestros programas, consejos de orientación vocacional, beneficios y mucho más para ayudarte a decidir el camino que mejor se alinea con tus metas. 
                                        input(type="text" placeholder="Tu correo electrónico...")
                                        .newsletterInfoTerminos
                                            input(type="checkbox")
                                            h3 He leído y acepto la política de privacidad de Cayetano.
                                        button
                                            h3 Suscribirme
                                            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
        .bloque4 
            .bloque4Container
                .bloque4Banner
                    h3 Postula a Cayetano con Beca 18
                    h4 Valoramos tu 
                        span excelencia académica
                    button
                        h5 Conoce más 
                        img.keyframe-button-movement(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
                .bloque2ProgramLeft.bloque2IndividualLeft
                    .bloque2Title
                        h3 También podría interesarte
                    include includes/slider-ind/slider2.pug
        include includes/form/formBlog.pug
        footer
          .footerContainer
            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/logo-white.webp", alt="")
            .footerTexts
              h3 Campus Central:
              h3 Av. Honorio Delgado 430
              h3 Urb. Ingeniería, San Martín de Porres 
        script(src="../../js/script.js" defer)
        //- script(src="../../js/script-ind.js" defer)
        //- script(src="./js/script.js" defer)
        //- script(src="./js/script-ind.js" defer)
        script(src="https://unpkg.com/swiper/swiper-bundle.min.js")