doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv='Expires' content='0')
        meta(http-equiv='Last-Modified' content='0')
        meta(http-equiv='Cache-Control' content='no-cache, mustrevalidate')
        meta(http-equiv='Pragma' content='no-cache')
        title Blog Pregrado
        //- link(rel='preconnect' href='https://fonts.googleapis.com')
        //- link(rel="stylesheet", href="../../css/app.css")
        link(rel="stylesheet", href="./css/app.css")
        link(rel="stylesheet", href="https://unpkg.com/swiper/swiper-bundle.min.css")
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap' rel='stylesheet')
        link(rel="icon" type="image/x-icon" href="../../favicon.png")
    body
        .manuInner
            .manuInnerContainer
                .manuInnerHeader
                    img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/logo-1.webp", alt="")
                    h3.manuInnerClose X
                .manuInnerInfo
                    include includes/search/searchMobile.pug
                    .manuInnerInfoContent
                        h3.manuInnerInfoContentBottom Blog Cayetano
                        h3.manuInnerInfoContentBottom Blog Pregrado
                        h3.manuInnerInfoContentBottom Blog PGE
                        h3 Blog Especialidades
            .manuInnerFooter
                .manuInnerFooterContainer
                    h3 Quiero ser de Cayetano
                    img.keyframe-button-movement(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
        .bloque1
            .bloque1Container
                .bloque1Float
                    img.bloque1FloatLeft(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/shield-mobile-image2.webp", alt="")
                    img.bloque1FloatLeftDesktop.bloque1FloatLeftDesktopPregrado(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/shield-desktop-pregrado-scaled.webp", alt="")
                    //- img.bloque1FloatRight(src="img/shield-home-mobile-image2.webp", alt="")
                .bloque1Logos
                    img.blog-logo(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/logo-1.webp", alt="")
                    .bloque1LogosSelect
                        h3.dropdown-btn Blog Cayetano
                        ul.dropdown-menu
                            li: a(href="") Pregrado
                            li: a(href="") Pge  
                            li: a(href="") Especialidades
                    include includes/search/searchDesktop.pug
                    img.top-icon-mobile(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/icon-menu2.webp", alt="")
                    button  
                        h3 Quiero ser de Cayetano
                        img.keyframe-button-movement(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
                .bloque1Title
                    h3 Blog Pregrado
                    p ¿Quieres una educación de excelencia? Descubre todo sobre nuestras carreras universitarias, carreras para gente que trabaja, segundas especialidades y mucho más.
                .bloque1Slider.bloque1SliderPregrado
                    .slider__container2.swiper.mySwiper2
                        .slider__grid2.swiper-wrapper
                            .slider__item2.swiper-slide
                                .sliderItemInfo2.swiper-slide1
                                    img.sliderItemInfo2Image(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/blog-nota1-450x450-1.webp", alt="")
                                    h3.sliderItemInfo2Title Carreras de Cayetano Heredia: 20 programas de excelencia
                                    .sliderItemCalendar
                                        img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/calendar-icon-whit.webp", alt="")
                                        h3 17
                                        h3 |
                                        h3 12
                                    button
                                        h3(onclick="window.location.replace('https://blogs.cayetano.edu.pe/pregrado/cayetano-heredia-carreras')") Lee más
                                        img.keyframe-button-movement(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
                            .slider__item2.swiper-slide
                                .sliderItemInfo2.swiper-slide2
                                    img.sliderItemInfo2Image(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/blog-cayetano-portada-2.webp", alt="")
                                    h3.sliderItemInfo2Title ¿Qué estudia la medicina veterinaria?
                                    .sliderItemCalendar
                                        img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/calendar-icon-whit.webp", alt="")
                                        h3 17
                                        h3 |
                                        h3 12
                                    button
                                        h3(onclick="window.location.replace('https://blogs.cayetano.edu.pe/pregrado/que-estudia-medicina-veterinaria')") Lee más
                                        img.keyframe-button-movement(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
                            .slider__item2.swiper-slide
                                .sliderItemInfo2.swiper-slide2
                                    img.sliderItemInfo2Image(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/blog-cayetano-portada-3.webp", alt="")
                                    h3.sliderItemInfo2Title Examen de Admisión de Cayetano Heredia: sigue estos pasos
                                    .sliderItemCalendar
                                        img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/calendar-icon-whit.webp", alt="")
                                        h3 04
                                        h3 |
                                        h3 10
                                    button
                                        h3(onclick="window.location.replace('https://blogs.cayetano.edu.pe/pregrado/examen-admision-cayetano-heredia')") Lee más
                                        img.keyframe-button-movement(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
                    .swiper-pagination2
                    .swiper-button-prev2 
                        img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-left.webp", alt="")
                    .swiper-button-next2
                        img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-right.webp", alt="")
                .bloque1PregradoContent
                    .bloque1PregradoContentLeft
                        img.bloque1PregradoContentLeftBack(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/image-nota-2.webp", alt="")
                        .bloque1PregradoContentLeftDesktop
                            .sliderItemCalendarPregrado
                                img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/calendar-icon-whit.webp", alt="")
                                h3 17
                                h3 |
                                h3 12
                            .bloque1PregradoContentLeftDesktopTitle
                                h3 Carreras de Cayetano Heredia: 20 programas de excelencia
                            .bloque1PregradoContentLeftDesktopButton
                                button
                                    h3.keyframe-button-movementBlack(onclick="window.location.replace('https://blogs.cayetano.edu.pe/pregrado/cayetano-heredia-carreras')") Lee más
                                    img(class="keyframe-button-movement keyframe-button-movementBlack" src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
                    .bloque1PregradoContentRight
                        .bloque1PregradoContentRightTop
                            img.bloque1PregradoContentLeftBack(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/image-nota-1.webp", alt="")
                            .bloque1PregradoContentLeftDesktop.bloque1PregradoContentRightDesktop
                                .sliderItemCalendarPregrado
                                    img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/calendar-icon-whit.webp", alt="")
                                    h3 17
                                    h3 |
                                    h3 12
                                .bloque1PregradoContentLeftDesktopTitle
                                    h3(onclick="window.location.replace('https://blogs.cayetano.edu.pe/pregrado/que-estudia-medicina-veterinaria')") ¿Qué estudia la medicina veterinaria?
                        .bloque1PregradoContentRightBottom
                            img.bloque1PregradoContentLeftBack(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/image-nota-4.webp", alt="")
                            .bloque1PregradoContentLeftDesktop.bloque1PregradoContentRightDesktop
                                .sliderItemCalendarPregrado
                                    img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/calendar-icon-whit.webp", alt="")
                                    h3 17
                                    h3 |
                                    h3 12
                                .bloque1PregradoContentLeftDesktopTitle
                                    h3(onclick="window.location.replace('https://blogs.cayetano.edu.pe/pregrado/examen-admision-cayetano-heredia')") Examen de Admisión de Cayetano Heredia: sigue estos pasos
                .bloque1SelectProgramGrid
                    select(class="bloque2SelectProgramMobile" id="filterMobile" onchange="filterCardsMobile()")
                        option(disabled selected) - Filtrar Notas -
                        option(value='') Todos
                        option(value='psicologia') Psicología
                        option(value='veterinaria') Medicina Veterinaria y Zootecnia
                        option(value='enfermeria') Enfermería
                        option(value='biologia') Biología
                        option(value='industrial') Ingeniería Industrial
                        option(value='otros') Otros    
        .bloque7
            .bloque7Container
                .bloque7Left
                    .bloque2
                        .bloque2Container.bloque2ContainerProgram
                            .bloque2ProgramLeft
                                .bloque2Title
                                    h3 Notas publicadas
                                .bloque2Cards
                                    .bloque2DesktopCardsItem                  
                                        img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/image-nota-2.webp" alt="Imagen de nota")                       
                                        .content
                                            // Bloque del calendario en la parte superior
                                            .sliderItemInfo6ItemInfoCalendar
                                                img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/calendar-icon-whit.webp", alt="")
                                                h3 17
                                                h3 |
                                                h3 12
                                            h3(onclick="window.location.replace('https://blogs.cayetano.edu.pe/pregrado/cayetano-heredia-carreras')")  Carreras de Cayetano Heredia: 20 programas de excelencia
                                            p ¿No sabes qué estudiar? Conoce las 20 carreras de Cayetano Heredia que incluyen las áreas de gestión, ingeniería, educación, ciencias y salud.
                                            img(class="keyframe-button-movement" src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
                                    .bloque2DesktopCardsItem                  
                                        img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/image-nota-2.webp" alt="Imagen de nota")                       
                                        .content
                                            // Bloque del calendario en la parte superior
                                            .sliderItemInfo6ItemInfoCalendar
                                                img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/calendar-icon-whit.webp", alt="")
                                                h3 17
                                                h3 |
                                                h3 12
                                            h3(onclick="window.location.replace('https://blogs.cayetano.edu.pe/pregrado/cayetano-heredia-carreras')")  Carreras de Cayetano Heredia: 20 programas de excelencia
                                            p ¿No sabes qué estudiar? Conoce las 20 carreras de Cayetano Heredia que incluyen las áreas de gestión, ingeniería, educación, ciencias y salud.
                                            img(class="keyframe-button-movement" src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
                                    .bloque2DesktopCardsItem                  
                                        img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/image-nota-2.webp" alt="Imagen de nota")                       
                                        .content
                                            // Bloque del calendario en la parte superior
                                            .sliderItemInfo6ItemInfoCalendar
                                                img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/calendar-icon-whit.webp", alt="")
                                                h3 17
                                                h3 |
                                                h3 12
                                            h3(onclick="window.location.replace('https://blogs.cayetano.edu.pe/pregrado/cayetano-heredia-carreras')")  Carreras de Cayetano Heredia: 20 programas de excelencia
                                            p ¿No sabes qué estudiar? Conoce las 20 carreras de Cayetano Heredia que incluyen las áreas de gestión, ingeniería, educación, ciencias y salud.
                                            img(class="keyframe-button-movement" src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
                                .bloque2ProgramNotasMobile
                                .bloque2DesktopCards
                                    //- Nota 1
                                    .bloque2DesktopCardsItem                  
                                        img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/image-nota-1.webp" alt="Imagen de nota")                       
                                        .content
                                            // Bloque del calendario en la parte superior
                                            .sliderItemInfo6ItemInfoCalendar
                                                img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/calendar-icon-whit.webp", alt="")
                                                h3 17
                                                h3 |
                                                h3 12
                                            h3(onclick="window.location.replace('https://blogs.cayetano.edu.pe/pregrado/que-estudia-medicina-veterinaria')") ¿Qué estudia la medicina veterinaria?
                                            p Conoce cómo esta carrera te prepara para proteger a los animales y su entorno. Estamos listos para orientarte y ayudarte a construir tu futuro profesional.
                                            img(class="keyframe-button-movement" src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
                                    //- Nota 2
                                    .bloque2DesktopCardsItem                  
                                        img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/image-nota-2.webp" alt="Imagen de nota")                       
                                        .content
                                            // Bloque del calendario en la parte superior
                                            .sliderItemInfo6ItemInfoCalendar
                                                img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/calendar-icon-whit.webp", alt="")
                                                h3 17
                                                h3 |
                                                h3 12
                                            h3(onclick="window.location.replace('https://blogs.cayetano.edu.pe/pregrado/cayetano-heredia-carreras')")  Carreras de Cayetano Heredia: 20 programas de excelencia
                                            p ¿No sabes qué estudiar? Conoce las 20 carreras de Cayetano Heredia que incluyen las áreas de gestión, ingeniería, educación, ciencias y salud.
                                            img(class="keyframe-button-movement" src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
                                    //- Nota 3
                                    .bloque2DesktopCardsItem                  
                                        img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/image-nota-3.webp" alt="Imagen de nota")                       
                                        .content
                                            // Bloque del calendario en la parte superior
                                            .sliderItemInfo6ItemInfoCalendar
                                                img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/calendar-icon-whit.webp", alt="")
                                                h3 17
                                                h3 |
                                                h3 12
                                            h3(onclick="window.location.replace('https://blogs.cayetano.edu.pe/pregrado/en-que-consiste-carrera-psicologia')") ¿En qué consiste la carrera de psicología y cuánto dura?
                                            p Descubre aquí en qué consiste la carrera de psicología y sus especialidades como psicología clínica, psicología organizacional, educativa y social.
                                            img(class="keyframe-button-movement" src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
                                    //- Nota 4
                                    .bloque2DesktopCardsItem                  
                                        img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/image-nota-4.webp" alt="Imagen de nota")                       
                                        .content
                                            // Bloque del calendario en la parte superior
                                            .sliderItemInfo6ItemInfoCalendar
                                                img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/calendar-icon-whit.webp", alt="")
                                                h3 17
                                                h3 |
                                                h3 12
                                            h3(onclick="window.location.replace('https://blogs.cayetano.edu.pe/pregrado/examen-admision-cayetano-heredia')") Examen de Admisión de Cayetano Heredia: sigue estos pasos
                                            p Encuentra la información que necesitas para rendir el examen de admisión de Cayetano Heredia: montos, documentos, temario, consejos y más.
                                            img(class="keyframe-button-movement" src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
                                    //- Nota 5
                                    .bloque2DesktopCardsItem                  
                                        img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/image-nota-5.webp" alt="Imagen de nota")                       
                                        .content
                                            // Bloque del calendario en la parte superior
                                            .sliderItemInfo6ItemInfoCalendar
                                                img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/calendar-icon-whit.webp", alt="")
                                                h3 17
                                                h3 |
                                                h3 12
                                            h3(onclick="window.location.replace('https://blogs.cayetano.edu.pe/pregrado/de-que-trata-ingenieria-industrial')") ¿De qué trata la carrera de ingeniería industrial y por qué elegirla?
                                            p Conoce aquí de qué trata la carrera de ingeniería industrial, la malla curricular, duración y por qué elegir la carrera.
                                            img(class="keyframe-button-movement" src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
                                    //- Nota 6
                                    .bloque2DesktopCardsItem                  
                                        img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/image-nota-6.webp" alt="Imagen de nota")                       
                                        .content
                                            // Bloque del calendario en la parte superior
                                            .sliderItemInfo6ItemInfoCalendar
                                                img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/calendar-icon-whit.webp", alt="")
                                                h3 17
                                                h3 |
                                                h3 12
                                            h3(onclick="window.location.replace('https://blogs.cayetano.edu.pe/pregrado/matricula-cayetano-heredia')") ¿Cómo es el proceso de matrícula en Cayetano Heredia?
                                            p Conoce cada paso del proceso de matrícula y comienza tu camino profesional en Cayetano.
                                            img(class="keyframe-button-movement" src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
                                    //- Nota 7
                                    .bloque2DesktopCardsItem                  
                                        img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/image-nota-7.webp" alt="Imagen de nota")                       
                                        .content
                                            // Bloque del calendario en la parte superior
                                            .sliderItemInfo6ItemInfoCalendar
                                                img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/calendar-icon-whit.webp", alt="")
                                                h3 18
                                                h3 |
                                                h3 12
                                            h3(onclick="window.location.replace('https://blogs.cayetano.edu.pe/pregrado/que-estudia-biologia')") ¿Qué estudia la biología?: ramas, historia e importancia
                                            p Al descubrir qué estudia la biología, sabrás si esta carrera es para ti. Conoce su definición, ramas, historia e importancia.
                                            img(class="keyframe-button-movement" src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
                                    //- Nota 8
                                    .bloque2DesktopCardsItem                  
                                        img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/image-nota-8.webp" alt="Imagen de nota")                       
                                        .content
                                            // Bloque del calendario en la parte superior
                                            .sliderItemInfo6ItemInfoCalendar
                                                img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/calendar-icon-whit.webp", alt="")
                                                h3 18
                                                h3 |
                                                h3 12
                                            h3(onclick="window.location.replace('https://blogs.cayetano.edu.pe/pregrado/cayetano-heredia-sedes')") Sedes de Cayetano Heredia: descubre todos los campus
                                            p Las sedes de Cayetano Heredia están diseñadas para desarrollar tu potencial al máximo en un entorno que combina aprendizaje, convivencia y bienestar.
                                            img(class="keyframe-button-movement" src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
                                    //- Nota 9
                                    .bloque2DesktopCardsItem                  
                                        img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/image-nota-9.webp" alt="Imagen de nota")                       
                                        .content
                                            // Bloque del calendario en la parte superior
                                            .sliderItemInfo6ItemInfoCalendar
                                                img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/calendar-icon-whit.webp", alt="")
                                                h3 18
                                                h3 |
                                                h3 12
                                            h3(onclick="window.location.replace('https://blogs.cayetano.edu.pe/pregrado/en-que-consiste-carrera-enfermeria')") ¿En qué consiste la carrera de enfermería?
                                            p Descubre aquí en qué consiste la carrera de enfermería, duración, competencias y por qué elegirla como carrera universitaria.
                                            img(class="keyframe-button-movement" src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
                                    //- Nota 10
                                    .bloque2DesktopCardsItem                  
                                        img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/image-nota-10.webp" alt="Imagen de nota")                       
                                        .content
                                            // Bloque del calendario en la parte superior
                                            .sliderItemInfo6ItemInfoCalendar
                                                img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/calendar-icon-whit.webp", alt="")
                                                h3 18
                                                h3 |
                                                h3 12
                                            h3(onclick="window.location.replace('https://blogs.cayetano.edu.pe/pregrado/cayetano-heredia-mensualidad')") ¿Cuánto es la mensualidad en Cayetano Heredia?
                                            p Conoce la mensualidad de nuestras carreras de excelencia para una educación de calidad.
                                            img(class="keyframe-button-movement" src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
                                    //- Nota 11
                                    .bloque2DesktopCardsItem                  
                                        img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/image-nota-11.webp" alt="Imagen de nota")                       
                                        .content
                                            // Bloque del calendario en la parte superior
                                            .sliderItemInfo6ItemInfoCalendar
                                                img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/calendar-icon-whit.webp", alt="")
                                                h3 18
                                                h3 |
                                                h3 12
                                            h3(onclick="window.location.replace('https://blogs.cayetano.edu.pe/pregrado/cuanto-dura-la-carrera-veterinaria')") ¿Cuánto dura la carrera de veterinaria y zootecnia?
                                            p Si buscas una carrera que combine el cuidado animal y compromiso ambiental, en Cayetano recibirás una formación integral alineada a tus metas.
                                            img(class="keyframe-button-movement" src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
                                    //- Nota 12
                                    .bloque2DesktopCardsItem                  
                                        img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/image-nota-12.webp" alt="Imagen de nota")                       
                                        .content
                                            // Bloque del calendario en la parte superior
                                            .sliderItemInfo6ItemInfoCalendar
                                                img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/calendar-icon-whit.webp", alt="")
                                                h3 18
                                                h3 |
                                                h3 12
                                            h3(onclick="window.location.replace('https://blogs.cayetano.edu.pe/pregrado/cuanto-dura-carrera-psicologia')") ¿Cuánto dura la carrera de psicología y sus ventajas?
                                            p Descubre aquí cuánto dura la carrera de psicología, su importancia, qué tan difícil es la carrera y las ventajas de estudiarla.
                                            img(class="keyframe-button-movement" src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
                                    //- Nota 13
                                    .bloque2DesktopCardsItem                  
                                        img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/image-nota-13.webp" alt="Imagen de nota")                       
                                        .content
                                            // Bloque del calendario en la parte superior
                                            .sliderItemInfo6ItemInfoCalendar
                                                img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/calendar-icon-whit.webp", alt="")
                                                h3 19
                                                h3 |
                                                h3 12
                                            h3(onclick="window.location.replace('https://blogs.cayetano.edu.pe/pregrado/malla-curricular-ingenieria-industrial')") Malla curricular de ingeniería industrial y su campo laboral
                                            p La malla curricular de Ingeniería Industrial te permite especializarte en diversas áreas, siendo una de las carreras más demandadas del mercado laboral.
                                            img(class="keyframe-button-movement" src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
                                    //- Nota 14
                                    .bloque2DesktopCardsItem                  
                                        img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/image-nota-14.webp" alt="Imagen de nota")                       
                                        .content
                                            // Bloque del calendario en la parte superior
                                            .sliderItemInfo6ItemInfoCalendar
                                                img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/calendar-icon-whit.webp", alt="")
                                                h3 19
                                                h3 |
                                                h3 12
                                            h3(onclick="window.location.replace('https://blogs.cayetano.edu.pe/pregrado/malla-curricular-biologia')") Malla curricular de Biología: conoce los cursos de esta carrera
                                            p La malla curricular de Biología está diseñada para ofrecerte una formación integral, combinando teoría y práctica desde el inicio de tu carrera.
                                            img(class="keyframe-button-movement" src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
                                    //- Nota 15
                                    .bloque2DesktopCardsItem                  
                                        img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/image-nota-15.webp" alt="Imagen de nota")                       
                                        .content
                                            // Bloque del calendario en la parte superior
                                            .sliderItemInfo6ItemInfoCalendar
                                                img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/calendar-icon-whit.webp", alt="")
                                                h3 19
                                                h3 |
                                                h3 12
                                            h3(onclick="window.location.replace('https://blogs.cayetano.edu.pe/pregrado/donde-puedo-estudiar-medicina-veterinaria')") ¿Dónde estudiar medicina veterinaria y zootecnia?
                                            p Encuentra dónde estudiar Medicina veterinaria y zootecnia, descubre la mejor opcion y aspectos clave para desarrollar tu pasión por el cuidado animal.
                                            img(class="keyframe-button-movement" src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
                                    //- Nota 16
                                    .bloque2DesktopCardsItem                  
                                        img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/image-nota-16.webp" alt="Imagen de nota")                       
                                        .content
                                            // Bloque del calendario en la parte superior
                                            .sliderItemInfo6ItemInfoCalendar
                                                img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/calendar-icon-whit.webp", alt="")
                                                h3 19
                                                h3 |
                                                h3 12
                                            h3(onclick="window.location.replace('https://blogs.cayetano.edu.pe/pregrado/carreras-mejor-pagada')") Carreras mejor pagadas 2024: lista actualizada
                                            p Si aún no decides qué carrera estudiar, revisa esta lista y descubre cuáles son las 15 carreras mejor pagadas en Perú y dónde estudiarlas.
                                            img(class="keyframe-button-movement" src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
                                    //- Nota 17
                                    .bloque2DesktopCardsItem                  
                                        img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/image-nota-17.webp" alt="Imagen de nota")                       
                                        .content
                                            // Bloque del calendario en la parte superior
                                            .sliderItemInfo6ItemInfoCalendar
                                                img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/calendar-icon-whit.webp", alt="")
                                                h3 19
                                                h3 |
                                                h3 12
                                            h3(onclick="window.location.replace('https://blogs.cayetano.edu.pe/pregrado/donde-estudiar-carrera-psicologia')") ¿Dónde estudiar la carrera de psicología en Perú?
                                            p Elegir dónde estudiar la carrera de psicología es una decisión crucial, ya que será el primer paso en tu camino profesional.
                                            img(class="keyframe-button-movement" src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
                                    //- Nota 18
                                    .bloque2DesktopCardsItem                  
                                        img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/image-nota-18.webp" alt="Imagen de nota")                       
                                        .content
                                            // Bloque del calendario en la parte superior
                                            .sliderItemInfo6ItemInfoCalendar
                                                img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/calendar-icon-whit.webp", alt="")
                                                h3 19
                                                h3 |
                                                h3 12
                                            h3(onclick="window.location.replace('https://blogs.cayetano.edu.pe/pregrado/que-es-tercio-superior')") ¿Qué es el tercio superior?
                                            p Descubre que es el tercio superior y sus beneficios para el inicio de tu carrera profesional.
                                            img(class="keyframe-button-movement" src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
                                    //- Nota 19
                                    .bloque2DesktopCardsItem                  
                                        img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/image-nota-19.webp" alt="Imagen de nota")                       
                                        .content
                                            // Bloque del calendario en la parte superior
                                            .sliderItemInfo6ItemInfoCalendar
                                                img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/calendar-icon-whit.webp", alt="")
                                                h3 20
                                                h3 |
                                                h3 12
                                            h3(onclick="window.location.replace('https://blogs.cayetano.edu.pe/pregrado/donde-estudiar-ingenieria-industrial')") ¿Dónde estudiar ingeniería industrial en Perú? [2025]
                                            p Si te preguntas dónde estudiar Ingeniería Industrial, tu mejor opción es Cayetano Heredia. Descubre las herramientas y oportunidades que te ofrecemos.
                                            img(class="keyframe-button-movement" src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
                                    //- Nota 20
                                    .bloque2DesktopCardsItem                  
                                        img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/image-nota-20.webp" alt="Imagen de nota")                       
                                        .content
                                            // Bloque del calendario en la parte superior
                                            .sliderItemInfo6ItemInfoCalendar
                                                img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/calendar-icon-whit.webp", alt="")
                                                h3 20
                                                h3 |
                                                h3 12
                                            h3(onclick="window.location.replace('https://blogs.cayetano.edu.pe/pregrado/todo-sobre-la-excelencia-academica')") Excelencia académica
                                            p .
                                            img(class="keyframe-button-movement" src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
                                    //- Nota 21
                                    .bloque2DesktopCardsItem                  
                                        img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/image-nota-21.webp" alt="Imagen de nota")                       
                                        .content
                                            // Bloque del calendario en la parte superior
                                            .sliderItemInfo6ItemInfoCalendar
                                                img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/calendar-icon-whit.webp", alt="")
                                                h3 20
                                                h3 |
                                                h3 12
                                            h3(onclick="window.location.replace('https://blogs.cayetano.edu.pe/pregrado/donde-estudiar-biologia')") ¿Dónde estudiar Biología?
                                            p .
                                            img(class="keyframe-button-movement" src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
                                    //- Nota 22
                                    .bloque2DesktopCardsItem                  
                                        img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/image-nota-22.webp" alt="Imagen de nota")                       
                                        .content
                                            // Bloque del calendario en la parte superior
                                            .sliderItemInfo6ItemInfoCalendar
                                                img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/calendar-icon-whit.webp", alt="")
                                                h3 20
                                                h3 |
                                                h3 12
                                            h3(onclick="window.location.replace('https://blogs.cayetano.edu.pe/pregrado/como-adaptarse-a-la-universidad')") ¿Cómo adaptarse a la universidad?
                                            p Conoce los puntos clave que debes tener en cuenta antes de ingresar a la universidad.
                                            img(class="keyframe-button-movement" src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
                                    //- Nota 23
                                    .bloque2DesktopCardsItem                  
                                        img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/image-nota-23.webp" alt="Imagen de nota")                       
                                        .content
                                            // Bloque del calendario en la parte superior
                                            .sliderItemInfo6ItemInfoCalendar
                                                img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/calendar-icon-whit.webp", alt="")
                                                h3 20
                                                h3 |
                                                h3 12
                                            h3(onclick="window.location.replace('https://blogs.cayetano.edu.pe/pregrado/donde-estudiar-enfermeria')") ¿Dónde estudiar enfermería en Perú?
                                            p Descubre dónde estudiar la carrera de enfermería en Perú teniendo en cuenta aspectos importantes para tomar la mejor decisión.
                                            img(class="keyframe-button-movement" src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
                                    //- Nota 24
                                    .bloque2DesktopCardsItem                  
                                        img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/image-nota-24.webp" alt="Imagen de nota")                       
                                        .content
                                            // Bloque del calendario en la parte superior
                                            .sliderItemInfo6ItemInfoCalendar
                                                img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/calendar-icon-whit.webp", alt="")
                                                h3 20
                                                h3 |
                                                h3 12
                                            h3(onclick="window.location.replace('https://blogs.cayetano.edu.pe/pregrado/bioincuba')") ¿Qué es Bioincuba? Incubadora de negocios de Cayetano
                                            p ¿Sabe qué es Bioincuba? Descubre cómo trabaja una incubadora de negocios en la universidad y las 10 ideas de negocio innovadoras.
                                            img(class="keyframe-button-movement" src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
                                .bloque2ProgramNotas
                                    //- h3 Notas anteriores
                            .bloque2ProgramRight
                                .bloque2ProgramRightContainer
                                    .bloque2ProgramRightContainerCategories
                                    .bloque2ProgramRightContainerNewsletter 
                                        .newsletterWhitespace
                                        .newsletterContent
                                            .newsletterImage
                                                img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/tano-newletter.gif", alt="")
                                            .newsletterInfo
                                                h3 Conéctate con tu 
                                                    span futuro en Cayetano
                                                p Recibe información sobre nuestros programas, consejos de orientación vocacional, beneficios y mucho más para ayudarte a decidir el camino que mejor se alinea con tus metas. 
                                                input(type="text" placeholder="Tu correo electrónico...")
                                                .newsletterInfoTerminos
                                                    input(type="checkbox")
                                                    h3 He leído y acepto la política de privacidad de Cayetano.
                                                button
                                                    h3 Suscribirme
                                                    img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
                    .bloque4.bloque4Pregrado 
                        .bloque4Container
                            .bloque4Banner.bloque4BannerProgram
                                .bloque4BannerProgramButton
                                    .bloque4BannerProgramButtonContent
                                img.bloque4BannerProgramMobile(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/banner-beca-18-pequeno.gif", alt="")
                                img.bloque4BannerProgramDesktop(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/banner-beca-18-grande.gif", alt="")
                            .bloque4ContentItems.bloque4ContentItemsProgram
                                //- Nota 18
                                .bloque4Item.linebottom
                                    img.bloque4ItemImage(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/image-nota-18.webp", alt="")
                                    .bloque4ItemContent.bloque4ItemContentPregrado
                                        .bloque4ItemContentCalendar
                                            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/calendar-icon-whit.webp", alt="")
                                            h3 19
                                            h3 |
                                            h3 12
                                        .bloque4ItemContentText
                                            h3(onclick="window.location.replace('https://blogs.cayetano.edu.pe/pregrado/que-es-tercio-superior')") ¿Qué es el tercio superior?
                                            .bloque4ItemContentParagraph
                                                h3 Descubre que es el tercio superior y sus beneficios para el inicio de tu carrera profesional.
                                //- Nota 15
                                .bloque4Item.linebottom
                                    img.bloque4ItemImage(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/image-nota-15.webp", alt="")
                                    .bloque4ItemContent.bloque4ItemContentPregrado
                                        .bloque4ItemContentCalendar
                                            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/calendar-icon-whit.webp", alt="")
                                            h3 19
                                            h3 |
                                            h3 12
                                        .bloque4ItemContentText
                                            h3(onclick="window.location.replace('https://blogs.cayetano.edu.pe/pregrado/donde-puedo-estudiar-medicina-veterinaria')") ¿Dónde estudiar medicina veterinaria y zootecnia?
                                            .bloque4ItemContentParagraph
                                                h3 Encuentra dónde estudiar Medicina veterinaria y zootecnia, descubre la mejor opcion y aspectos clave para desarrollar tu pasión por el cuidado animal.
                                //- Nota 11
                                .bloque4Item.linebottom
                                    img.bloque4ItemImage(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/image-nota-11.webp", alt="")
                                    .bloque4ItemContent.bloque4ItemContentPregrado
                                        .bloque4ItemContentCalendar
                                            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/calendar-icon-whit.webp", alt="")
                                            h3 18
                                            h3 |
                                            h3 12
                                        .bloque4ItemContentText
                                            h3(onclick="window.location.replace('https://blogs.cayetano.edu.pe/pregrado/cuanto-dura-la-carrera-veterinaria')") ¿Cuánto dura la carrera de veterinaria y zootecnia?
                                            .bloque4ItemContentParagraph
                                                h3 Si buscas una carrera que combine el cuidado animal y compromiso ambiental, en Cayetano recibirás una formación integral alineada a tus metas.
                                //- Nota 3
                                .bloque4Item
                                    img.bloque4ItemImage(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/image-nota-3.webp", alt="")
                                    .bloque4ItemContent.bloque4ItemContentPregrado
                                        .bloque4ItemContentCalendar
                                            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/calendar-icon-whit.webp", alt="")
                                            h3 17
                                            h3 |
                                            h3 12
                                        .bloque4ItemContentText
                                            h3(onclick="window.location.replace('https://blogs.cayetano.edu.pe/pregrado/en-que-consiste-carrera-psicologia')") ¿En qué consiste la carrera de psicología y cuánto dura?
                                            .bloque4ItemContentParagraph
                                                h3 Descubre aquí en qué consiste la carrera de psicología y sus especialidades como psicología clínica, psicología organizacional, educativa y social.
                            //- .bloque4Todes
                            //-     h3 Ver todo
                .bloque7Right
                    .bloque2ProgramRight.bloque2ProgramRightDesktop
                        .bloque2ProgramRightContainer
                            select(class="bloque2SelectProgram" id="filter" onchange="filterCards()")
                                option(disabled selected) - Filtrar Notas -
                                option(value='') Todos
                                option(value='psicologia') Psicología
                                option(value='veterinaria') Medicina Veterinaria y Zootecnia
                                option(value='enfermeria') Enfermería
                                option(value='biologia') Biología
                                option(value='industrial') Ingeniería Industrial
                                option(value='otros') Otros    
                            .bloque2ProgramRightContainerNewsletter 
                                .newsletterWhitespace
                                .newsletterContent
                                    .newsletterImage
                                        img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/tano-newletter.gif", alt="")
                                    .newsletterInfo
                                        h3 Conéctate con tu 
                                            span futuro en Cayetano
                                        p Recibe información sobre nuestros programas, consejos de orientación vocacional, beneficios y mucho más para ayudarte a decidir el camino que mejor se alinea con tus metas. 
                                        input(type="text" placeholder="Tu correo electrónico...")
                                        .newsletterInfoTerminos
                                            input(type="checkbox")
                                            h3 He leído y acepto la política de privacidad de Cayetano.
                                        button
                                            h3 Suscribirme
                                            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
        .bloque5 
            .bloque5ImageDesktop 
            .bloque5Container
                h3 Déjanos tus datos y nos contactaremos contigo
                h3.bloque5ContainerTextDesktop Déjanos tus datos y 
                    br
                    | nos contactaremos contigo
                .bloque5ContainerInput
                    .bloque5ContainerInputGroupSelect
                        input(type="text" placeholder="Seleccionar programa")
                    .bloque5ContainerInputGroup
                        input(type="text" placeholder="Nombres*")
                        input(type="text" placeholder="Apellidos*")
                    .bloque5ContainerInputGroup
                        input(type="text" placeholder="Tipo de documento:*")
                        input(type="text" placeholder="Número de documento:*")
                    .bloque5ContainerInputGroup
                        input(type="text" placeholder="Celular:*")
                        input(type="text" placeholder="Correo electrónico:*")
                    input(type="text" placeholder="Selecciona una carrera o especialidad:*")
                .bloque5ContainerTerminos
                    input(type="checkbox")
                    h4 Acepto la Política de Privacidad y Proteccipon de Datos Personales.
                .bloque5ContainerAcepto
                    input(type="checkbox")
                    h4 No acepto.
                .bloque5Button
                    button
                        h3 Enviar
                        img.keyframe-button-movement(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/arrow-black-button.webp", alt="")
        footer
            .footerContainer
                img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/logo-white.webp", alt="")
                .footerTexts
                    h3 Campus Central:
                    h3 Av. Honorio Delgado 430
                    h3 Urb. Ingeniería, San Martín de Porres 
        //- script(src="../js/script.js" defer)
        //- script(src="../js/script-pregrado.js" defer)
        //- script(src="../js/filter.js" defer)
        script(src="./js/script-pregrado.js" defer)
        script(src="./js/filter.js" defer)
        script(src="./js/script.js" defer)
        script(src="https://unpkg.com/swiper/swiper-bundle.min.js")