.manuInner
    .manuInnerContainer
        .manuInnerHeader
            img(loading="lazy" src="https://blogs.cayetano.edu.pe/img/logo-1.webp", alt="", onclick="window.open('https://blogs.cayetano.edu.pe/', '_self')")
            h3.manuInnerClose X
        .manuInnerInfo
            include includes/search/searchMobile.pug
            .manuInnerInfoContent
                h3(onclick="window.open('https://blogs.cayetano.edu.pe/', '_self')").manuInnerInfoContentBottom Blog Cayetano
                h3(onclick="window.open('https://blogs.cayetano.edu.pe/pregrado', '_self')").manuInnerInfoContentBottom Blog Pregrado
                h3.manuInnerInfoContentBottom Blog PGE
                h3 Blog Especialidades
    .manuInnerFooter(onclick="window.open('https://lp.cayetano.edu.pe/admision-cayetano/?utm_campaign=pregrado-aon&utm_term=generico&utm_source=blog&utm_medium=organic&utm_content=botonpostula', '_self')")
        .manuInnerFooterContainer
            h3 Quiero ser de Cayetano
            img.keyframe-button-movement(loading="lazy" src="https://blogs.cayetano.edu.pe/img/arrow-black-button.webp", alt="")