.manuInnerInfoSearch
    input(type="text" id="buscar")
    img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/icon-search.webp", alt="")
    .search-dropdown
        ul#options-search
            li: a(href="") Apple
            li Banana
            li Cherry
            li Date
            li Elderberry
            li Loquita